<template>
	<form id="contact-page-form" @submit.prevent="submit" class="row half_row">
		<div class="form-group col-md-4 half_col">
			<label for="name" class="mb-1"><b>Name *</b></label>
			<input id="name" type="text" class="form-control" name="name" placeholder="Name*" v-model="fields.name"required/>
			<div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
		</div>
		<div class="form-group col-md-4 half_col">
			<label for="phone" class="mb-1"><b>Phone *</b></label>
			<input id="phone" type="text" class="form-control" name="phone" placeholder="Phone Number*" v-model="fields.phone"required/>
			<div v-if="errors && errors.phone" class="text-primary">{{ errors.phone[0] }}</div>
		</div>
		<div class="form-group col-md-4 half_col">
			<label for="email" class="mb-1"><b>Email *</b></label>
			<input id="email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email" required/>
			<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
		</div>
		<div class="form-group col-lg-4 half_col">
			<label for="date" class="mb-1"><b>Date *</b></label>
			<input id="date" type="date" class="form-control" name="date" placeholder="Date*" v-model="fields.date" required/>
			<div v-if="errors && errors.date" class="text-primary">{{ errors.date[0] }}</div>
		</div>
		<div class="form-group col-lg-4 col-6 half_col">
			<label for="time" class="mb-1"><b>Time *</b></label>
			<input id="time" type="text" class="form-control" name="time" placeholder="Time*" v-model="fields.time" required/>
			<div v-if="errors && errors.time" class="text-primary">{{ errors.time[0] }}</div>
		</div>
		<div class="form-group col-lg-4 col-6 half_col">
			<label for="people" class="mb-1"><b>Number of People *</b></label>
			<input id="people" type="number" class="form-control" name="people" placeholder="Number of People*" v-model="fields.people" required/>
			<div v-if="errors && errors.people" class="text-primary">{{ errors.people[0] }}</div>
		</div>
		<div class="col-md-6 half_col">
			<label for="company" class="mb-1"><b>Company/Organisation  (if applicable)</b></label>
			<input id="company" type="text" class="form-control" name="company" placeholder="Company/Organisation" v-model="fields.company" />
			<div v-if="errors && errors.company" class="text-error">{{ errors.company[0] }}</div>
		</div>
		<div class="col-lg-6 half_col">
			<label for="heard" class="mb-1"><b>How did you hear about us?</b></label>
			<div class="select-holder">
				<select id="heard" class="form-control" name="heard" v-model="fields.heard">
					<option value="*" selected="" disabled="">Please choose...</option>		 
					<option value="Existing Customer">Existing Customer</option>			 
					<option value="Friends/Family Recommendation">Friends/Family Recommendation</option>			 
					<option value="Facebook">Facebook</option>				 
					<option value="Instagram">Instagram</option>				 
					<option value="Email Newsletter">Email Newsletter</option>				 
					<option value="Google Search ">Google Search </option>				 
					<option value="Radio Advertisement">Radio Advertisement</option>
					<option value="Other">Other</option>
				</select>
			</div>
			<div v-if="errors && errors.heard" class="text-error">{{ errors.heard[0] }}</div>
		</div>
		<div class="form-group col-12 half_col my-4">
			<label for="message" class="mb-1"><b>Message</b></label>
			<textarea id="message" type="text" class="form-control" name="message" placeholder="Anything else we need to know" rows="4" v-model="fields.message"></textarea>
			<div v-if="errors && errors.message" class="text-primary">{{ errors.message[0] }}</div>
		</div>
		<div class="col-md-6 half_col">
			<div id="recaptcha-error" class="text-primary text-left"></div>
			<div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha"  :data-theme="'dark'" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
		</div>
		<div class="col-md-6 half_col">
			<div class="row">
				<div class="col-12 text-center text-lg-right">
					<button id="submit" type="submit"  class="btn btn-primary">Send message</button>
				</div>
			</div>
		</div>
	</form>
</template>

<script>
	export default {
		props: {
			recaptcha: String,
			page: String,
			about: String,
		},
		data() {
			return {
				fields: {
					country: "",
					heard: "*"
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		mounted(){
			var script = document.createElement('script');
			script.src = 'https://www.google.com/recaptcha/api.js';
			document.head.appendChild(script);
		},
		methods: {
			messageSent(){
        this.fields = {};
      },
      changeCountry(value){
	  		this.fields.country = value;
	  	},
      submit() {
      	if (this.loaded && grecaptcha.getResponse().length > 0) {
      		document.getElementById('recaptcha-error').innerHTML = '';
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Sending booking request";

      		axios.post('/send-christmas-booking-request', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          grecaptcha.reset();
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Booking request sent successfully";
            document.getElementById('close-loader-btn').classList.remove('d-none');
						document.getElementById('close-loader-btn').classList.add('d-block');
						document.getElementById('loader-roller').classList.remove('d-block');
						document.getElementById('loader-roller').classList.add('d-none');
						document.getElementById('loader-success').classList.remove('d-none');
						document.getElementById('loader-success').classList.add('d-block');
						document.getElementById('enquire_modal').style.display = 'none';
	        })
      		.catch(error => {
	         // Error handling
	         console.log(error.response);
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		document.getElementById('recaptcha-error').innerHTML = 'Please confirm you are not a robot.';
      	}
      },
    },
  }
</script>