<template>
  <div class="map-container">
    <div id="contactmap"></div>
  </div>
</template>
<script>
  

</script>
<style lang="scss">
.map-container{
  height: 609px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#contactmap{
  width: 100%;
  height: 609px;
  background-image:   url('$img/maps/map.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.no-webp{
  #contactmap{
    background-image: url('$img/maps/map.jpg');
  }
}
@media only screen and (max-width : 767px){
  .map-container{
    height: 100vw;
  }
  #contactmap{
    width: 100%;
    height: 100vw;
    background-image:   url('$img/maps/map-mob.webp');
  }
  .no-webp{
    #contactmap{
      background-image: url('$img/maps/map-mob.jpg');
    }
  }
}
</style>