<template>
	<div class="card px-5 mob-px-3 py-5 opening-hours position-relative w-100">
		<div class="row">				
			<div class="col-12 haymarket-opening-hours">
				<img src="/img/logos/the-stock-exchange.svg" class="mb-3 d-block h-auto mx-auto" alt="The Stock Exchange Logo | Haymarket Belfast" width="260" height="80"/>
				<p class="text-small text-center mb-2 text-light">OPENING HOURS</p>
				<div class="row justify-content-center hours">
					<div class="col-10 col-md-12">
						<div class="row" :class="day == 1 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Monday</p>
							</div>
							<div class="col-6 day-time">
								<p>17:00 - 23:00</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>17:00 - 23:00</p>
							</div>
						</div>
						<div class="row" :class="day == 2 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Tuesday</p>
							</div>
							<div class="col-6 day-time">
								<p>17:00 - 23:00</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>17:00 - 23:00</p>
							</div>
						</div>
						<div class="row" :class="day == 3 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Wednesday</p>
							</div>
							<div class="col-6 day-time">
								<p>17:00 - 23:00</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>17:00 - 23:00</p>
							</div>
						</div>
						<div class="row" :class="day == 4 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Thursday</p>
							</div>
							<div class="col-6 day-time">
								<p>17:00 - 23:00</p>
							</div>	
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>17:00 - 23:00</p>
							</div>
						</div>
						<div class="row" :class="day == 5 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Friday</p>
							</div>
							<div class="col-6 day-time">
								<p>13:00 - 01:00</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>13:00 - 01:00</p>
							</div>
						</div>
						<div class="row" :class="day == 6 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Saturday</p>
							</div>
							<div class="col-6 day-time">
								<p>12:00 - 13:00</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>12:00 - 13:00</p>
							</div>
						</div>
						<div class="row" :class="day == 7 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Sunday</p>
							</div>
							<div class="col-6 day-time">
								<p>12:00 - 00:00</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>12:00 - 00:00</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 d-md-none">
						<p class="text-primary text-center text-md-left"><b @click="openup('haymarket-opening-hours')">View all opening Hours <i class="fa fa-angle-double-down"></i></b></p>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-12">
						<p class="text-small text-light mb-0">*Last food orders Wed-Sun 9pm</p>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
      pagetype: String
    },
		data() {
			return {
				day: this.getDay(),
			}
		},
		methods: {
			getDay(){
        var d = new Date();
			  var n = d.getDay()
			  return n;
      },
      openup(name){
      	var elementsNotToday = document.querySelectorAll('.' + name + ' .not-today');
				var elementsToday = document.querySelectorAll('.' + name + ' .today');
				elementsNotToday.forEach(function(element) {
				    element.classList.toggle('mob-show');
				});
				elementsToday.forEach(function(element) {
				    element.classList.toggle('mob-show');
				});
      }
    },
  }
</script>