<template>
	<div class="card px-5 mob-px-3 py-5 opening-hours position-relative w-100">
		<div class="row">				
			<div class="col-12 haymarket-opening-hours">
				<img src="/img/logos/the-courtyard.svg" class="mb-3 d-block h-auto mx-auto" alt="haymarket belfast Logo" width="240" height="80"/>
				<p class="text-small text-center mb-2 text-light">OPENING HOURS</p>
				<div class="row justify-content-center hours">
					<div class="col-10 col-md-12">
						<div class="row" :class="day == 1 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Monday</p>
							</div>
							<div class="col-6 day-time">
								<p>Closed</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>Closed</p>
							</div>
						</div>
						<div class="row" :class="day == 2 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Tuesday</p>
							</div>
							<div class="col-6 day-time">
								<p>Closed</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>Closed</p>
							</div>
						</div>
						<div class="row" :class="day == 3 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Wednesday</p>
							</div>
							<div class="col-6 day-time">
								<p>17:00-23:00</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>17:00-23:00</p>
							</div>
						</div>
						<div class="row" :class="day == 4 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Thursday</p>
							</div>
							<div class="col-6 day-time">
								<p>17:00-23:00</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>17:00-23:00</p>
							</div>
						</div>
						<div class="row" :class="day == 5 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Friday</p>
							</div>
							<div class="col-6 day-time">
								<p>16:00 - close</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>16:00 - close</p>
							</div>
						</div>
						<div class="row" :class="day == 6 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Saturday</p>
							</div>
							<div class="col-6 day-time">
								<p>12:00 - close</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>12:00 - close</p>
							</div>
						</div>
						<div class="row" :class="day == 7 ? 'today' : 'not-today'">
							<div class="col-6 day-name">
								<p>Sunday</p>
							</div>
							<div class="col-6 day-time">
								<p>13:00 - 23:00</p>
							</div>
							<div class="col-lg-6 d-md-none day-both text-center text-md-left">
								<p :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><span class="toh">Today's opening hours: </span>13:00 - 23:00</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 d-md-none">
						<p class="text-primary text-center text-md-left"><b @click="openup('haymarket-opening-hours')">View all opening Hours <i class="fa fa-angle-double-down"></i></b></p>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<p class="text-small text-light mb-0">*Last food orders Wed-Sun 9pm</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
      pagetype: String
    },
		data() {
			return {
				day: this.getDay(),
			}
		},
		methods: {
			getDay(){
        var d = new Date();
			  var n = d.getDay()
			  return n;
      },
      openup(name){
      	var elementsNotToday = document.querySelectorAll('.' + name + ' .not-today');
				var elementsToday = document.querySelectorAll('.' + name + ' .today');
				elementsNotToday.forEach(function(element) {
				    element.classList.toggle('mob-show');
				});
				elementsToday.forEach(function(element) {
				    element.classList.toggle('mob-show');
				});
      }
    },
  }
</script>
<style lang="scss">
	.opening-hours{
		min-height: 440px;
		.today{
			p{
				color: #D54148;
			}
		}
		p{
			
			.toh{
				display: none;
			}
		}
		.hours{
			p{
				margin-bottom: 0 !important;
			}
		}
	}
	@media only screen and (max-width : 767px){
		.opening-hours{
			p.mimic-h3{
				margin-bottom: 0.5rem !important;
				font-size: 7.2vw;
			}
			.today{
				p{
					color: #fff !important;
					&.text-dark{
						color: #000 !important;
					}
					.toh{
						display: inline;
					}
				}
				.day-name,
				.day-time{
					display: none;
				}
				&.mob-show{
					display: flex;
					p{
						color: #D54148 !important;
					}
					.toh{
						display: none;
					}
					.day-name{
						display: block;
					}
					.day-time{
						display: block;
					}
					.day-both{
						display: none;
					}
				}
			}
			.not-today{
				display: none;
				margin-top: 0 !important;
				&.mob-show{
					display: flex;
					.toh{
						display: none;
					}
					.day-name{
						display: block;
					}
					.day-time{
						display: block;
					}
					.day-both{
						display: none;
					}
				}
				
			}
		}
	}
	@media only screen and (max-width : 767px){
		.opening-hours{
			min-height: 0;
		}
	}
</style>