<style lang="scss">
  .search-form{
    margin-top: -50px;
  }
</style>
<template>
  <div>
    <header class="container-fluid position-relative bg bg-down-up z-1 mt-5 ipad-mb-0">
      <div class="row">
        <div class="container">
          <div class="row pt-5 mb-5 mob-my-0 mob-pt-0 ipadp-pt-0 justify-content-center">      
            <div class="col-lg-5 text-center text-lg-left">
              <div class="pre-title-lines mob-mx-auto mb-4 mob-my-45"></div>
              <h1 class="mob-mt-0">Latest <br class="d-none d-lg-block" />News</h1>
            </div>
            <div class="col-lg-7 text-center text-lg-left mob-px-4">
              <p class="text-large mb-3">Stay up to date with all the latest Haymarket Belfast news.</p>
              <div class="row">
                <div class="col-lg-8">
                  <div class="row">
                    <news-select @input="changeCategory" :options="categories" :default="'All News'"></news-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container position-relative z-2">
      <div class="row mt-5 mob-mt-0 ipad-mt-0">
        <news-show :posts="posts" :loadmore="loadmore" @loadmore="loadMore()"></news-show>
      </div>
    </div>
  </div>
</template>
<script>
  const NewsSelect = () => import(/* webpackChunkName: "NewsSelect" */ './NewsSelect.vue');
export default {
  props: {
    categories: Array,
  },
  components:{
    NewsSelect
  },
  watch:{
    category: function(val){
      this.changeCategory(val);
    },
  },
  data() {
    return {
      category: '*',
      errors: {},
      success: false,
      loaded: true,
      posts: [],
      limit: 8,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getPosts();
  },
  methods: {
    changeCategory(val){
      this.category = val;
      this.getPosts();
    },
    loadMore(){
      this.page++;
      this.morePosts();
    },
    morePosts(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/news/get?limit=' + this.limit + '&page=' + page + '&category=' + this.category).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.posts.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.posts);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
    getPosts(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/news/get?limit=' + this.limit + '&page=' + page + '&category=' + this.category).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.posts = response.data.data;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          console.log(this.response);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>