<template>
	<div class="container">
		<div class="row post-row" v-for="post in posts">
			<div class="col-lg-5 pr-0 ipadp-px-3 mob-px-0 mob-mb-4">
				<picture>
          <source :srcset="post.featuredwebp" type="image/webp"/> 
          <source :srcset="post.featured" :type="post.mimetype"/> 
          <img :src="post.featured" :type="post.mimetype" :alt="post.title" class="lazy w-100 h-auto" width="460" height="322" />
        </picture>
			</div>
			<div class="col-lg-7 pl-5 ipadp-px-3 text-center text-lg-left mob-px-4 ipadp-mt-5">
				<div class="pre-title-lines mob-mx-auto mb-4 mob-mb-3"><span class="d-none d-lg-inline"><a href="/news">Latest News</a></span></div>
        <p class="d-lg-none text-large"><b><a href="/news">Latest News</a></b></p>
        <p class="mimic-h3 mb-3 mob-mb-3">{{post.title}}</p>
        <p class="text-large mr-5 ipadp-mr-0 mob-mx-0 mb-4">{{post.excerpt}}</p>
        <a :href="'/news/' +moment(post.created_at) +'/'+ post.slug">
        	<button type="button" class="btn btn-primary">Read Article</button>
        </a>
      </div>
		</div>
	</div>
</template>
<script>
export default {
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      posts: [],
      limit: 1,
      page: 1,
      category: "*",
      loadmore: true,
    }
  },
  mounted(){
    this.getPosts();
  },
  methods: {
  	getExtension(d){
      if (d > 3 && d < 21) return 'th';
      switch (d % 10) {
        case 1:  return "st";
        case 2:  return "nd";
        case 3:  return "rd";
        default: return "th";
      }
    },
    niceDate: function (date) {
      var newdate = new Date(date);
      var thedate = newdate.getDate();
      var extension = this.getExtension(thedate);
      var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
      return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
      // return moment(date).format('Do MMM YYYY');
    },
    moment: function (date) {
      var newdate = new Date(date);
      var thedate = newdate.getDate();
      var extension = this.getExtension(thedate);
      var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
      return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
      // return moment(date).format('Do MMM YYYY');
    },
    changeCategory(val){
      this.category = val;
      this.getPosts();
    },
    loadMore(){
      this.page++;
      this.morePosts();
    },
    getPosts(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/news/get?limit=' + this.limit + '&page=' + page + '&category=' + this.category).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.posts = response.data.data;
          console.log(this.response);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss">
  .post-row{
    p.mimic-h3{
      font-size: 2.6rem;
    }
  }
  @media only screen and (max-width : 767px){
    .post-row{
      p.mimic-h3{
        font-size: 7vw;
      }
    }
  }
</style>