<template>
  <div class="container">
    <div class="row mb-5 pb-5" v-if="posts.length > 0">
      <div class="container">
        <div class="row post-row" v-for="post in posts">
          <div class="col-lg-5 pr-0 ipadp-px-3 mob-px-0 mb-5">
            <picture>
              <source :srcset="post.featuredwebp" type="image/webp"/> 
              <source :srcset="post.featured" :type="post.mimetype"/> 
              <img :src="post.featured" :type="post.mimetype" :alt="post.title" class="lazy w-100"/>
            </picture>
          </div>
          <div class="col-lg-7 text-center text-lg-left ipadp-px-3 pl-5 mob-px-4">
            <div class="pre-title-lines mob-mx-auto mb-4"></div>
            <p class="mimic-h3 mb-3 mob-mb-3">{{post.title}}</p>
            <p class="text-large mr-5 ipadp-mr-0 mob-mx-0 mb-4">{{post.excerpt}}</p>
            <a :href="'/news/' +moment(post.created_at) +'/'+ post.slug">
              <button type="button" class="btn btn-primary">Read Article</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6">
        <h3 class="mb-0">Sorry no results found</h3>
        <p>Sorry, there are no news articles available at the moment. Please check again later!</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      posts: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  h3.post-title{
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
  }
  p.read-more-news{
    font-size: 1.4rem;
  }
  .news-title-top{
    font-weight: 300;
    line-height: 1;
    font-size: 1.5rem;
    font-family: Tungsten, sans-serif;
    text-transform: uppercase;
    color: #1D252D;
    margin-bottom: 5px;
  }
  .post-row{
    p.mimic-h3{
      font-size: 2.6rem;
    }
  }
  @media only screen and (max-width: 767px){
    p.read-more-news{
      font-size: 7.5vw;
    }
    .post-row{
      p.mimic-h3{
        font-size: 7vw;
      }
    }
  }
  
</style>