.full-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&.overlay {
		position: relative;
		z-index: 1;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.65);
			z-index: -1;
		}
	}
}

.no-webp{
	.haymarket-bg{
		background-image: url('$img/home/haymarket-2.jpg');
	}
	.vouchers-box-bg {
		background-image: url('$img/vouchers/vouchers-box.jpg');
	}
	.vouchers-christmas-bg{
		background-image: url('$img/vouchers/christmas-top.jpg');
	}
	.vouchers-christmas-bg-box{
		background-image: url('$img/vouchers/christmas-top.jpg');
	}
	.armoury-bg{
		background-image: url('$img/venues/armoury-card.jpg');
	}
	.ffs-box-bg{
		background-image: url('$img/home/ffs-box.jpg');
	}
	// .stock-bg{
	// 	background-image: url('$img/venues/stock/stock-card.jpg');
	// }
	.courtyard-bg{
		background-image: url('$img/venues/the-courtyard-2.jpg');
	}
	.bottomless-brunch-bg{
		background-image: url('$img/home/bottomless-brunch.jpg');
	}
	.private-room-bg{
		background-image: url('$img/home/room-hire.jpg');
	}
	.haybale-bg{
	  background-image: url('$img/graphics/haybale.png');
	}
	.stocking-bg{
	  background-image: url('$img/graphics/stocking.png');
	}
	.win-or-booze{
		background-color: #000;
	  background-image: url('$img/events/win-or-booze/bg.jpg');
	  background-repeat: no-repeat;
	  background-size: contain;
	}
	.six-nations{
		background-color: #030303;
	  background-image: url('$img/offers/six-nations/bg.jpg');
	  background-repeat: no-repeat;
	  background-size: contain;
	}
	.rugby-card{
		background-image: url('$img/offers/six-nations/rugby-posts.svg');
	  background-repeat: no-repeat;
	  background-size: contain;
	  background-position: bottom center;
	}
	.work-for-us-bg{
		background-image: url('$img/work-for-us/bg.jpg');
	}
	.home-top-bg{
		background-image: url('$img/home/home-top-bg.jpg');
	}
	.armoury-top{
		background-image: url('$img/venues/armoury-top-vid.jpg');
	}
	.stock-top{
		background-image: url('$img/venues/stock/stock-top.jpg?v=2024-12-04');
	}
	.bottomless-brunch-top-bg{
		background-image: url('$img/events/bottomless-brunch/top.jpg');
	}
	.coming-soon{
		background-image: url('$img/venues/coming-soon.jpg');
	}
	.stock-exchange-bg{
		background-image: url('$img/venues/stock/stock-exchange-bg.jpg?v=2024-12-04');
	}
}
.webp{
	.haymarket-bg{
		background-image: url('$img/home/haymarket-2.webp');
	}
	.vouchers-box-bg {
		background-image: url('$img/vouchers/vouchers-box.webp');
	}
	.vouchers-christmas-bg{
		background-image: url('$img/vouchers/christmas-top.webp');
	}
	.vouchers-christmas-bg-box{
		background-image: url('$img/vouchers/christmas-top.webp');
	}
	.armoury-bg{
		background-image: url('$img/venues/armoury-card.webp');
	}
	.ffs-box-bg{
		background-image: url('$img/home/ffs-box.webp');
	}
	// .stock-bg{
	// 	background-image: url('$img/venues/stock/stock-card.webp');
	// }
	.courtyard-bg{
		background-image: url('$img/venues/the-courtyard-2.webp');
	}
	.bottomless-brunch-bg{
		background-image: url('$img/home/bottomless-brunch.webp');
	}
	.private-room-bg{
		background-image: url('$img/home/room-hire.webp');
	}
	.haybale-bg{
		background-image: url('$img/graphics/haybale.webp');
	}
	.stocking-bg{
	  background-image: url('$img/graphics/stocking.webp');
	}
	.win-or-booze{
		background-color: #000;
	  background-image: url('$img/events/win-or-booze/bg.webp');
	  background-repeat: no-repeat;
	  background-size: contain;
	}
	.six-nations{
		background-color: #030303;
	  background-image: url('$img/offers/six-nations/bg.webp');
	  background-repeat: no-repeat;
	  background-size: contain;
	}
	.rugby-card{
		background-image: url('$img/offers/six-nations/rugby-posts.svg');
	  background-repeat: no-repeat;
	  background-size: contain;
	  background-position: bottom center;
	}
	.work-for-us-bg{
		background-image: url('$img/work-for-us/bg.webp');
	}
	.home-top-bg{
		background-image: url('$img/home/home-top-bg.webp');
	}
	.armoury-top{
		background-image: url('$img/venues/armoury-top-vid.webp');
	}
	.stock-top{
		background-image: url('$img/venues/stock/stock-top.webp?v=2024-12-04');
	}
	.bottomless-brunch-top-bg{
		background-image: url('$img/events/bottomless-brunch/top.webp');
	}
	.coming-soon{
		background-image: url('$img/venues/coming-soon.webp');
	}
	.stock-exchange-bg{
		background-image: url('$img/venues/stock/stock-exchange-bg.webp?v=2024-12-04');
	}
}
#stock-header{
	.video-grad{
		background-color: rgba(0, 0, 0, 0.4);
	}
}

.vouchers-christmas-bg{
	position: relative;
	min-height: 768px;
	&:after{
		content: "";
		z-index: 1;
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background: #002030;
		background: linear-gradient(180deg, rgba(0,32,48,0.4) 5%, rgba(0,32,48,1) 85%);
	}
	.christmas-snow{
		z-index: 2;
	}
}
.vouchers-christmas-bg-box{
	position: relative;
	&:after{
		content: "";
		z-index: 1;
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background: #002030;
		background: linear-gradient(180deg, rgba(0,32,48,0.7) 5%, rgba(0,32,48,0.7) 85%);
	}
}
.christmas-armoury-vouchers{
	margin-top: -100px;
}
.armoury-top-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	// background-attachment: fixed;
	// &:after{
	// 	content: "";
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: #002030;
	// 	background: linear-gradient(180deg, rgba(0,32,48,0) 5%, rgba(0,32,48,1) 85%);
	// }
	// &:before{
	// 	content: "";
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: #002030;
	// 	opacity: 0.5;
	// }
}
.stock-top-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	// background-attachment: fixed;
	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: #141313;
		background: linear-gradient(0deg, rgba(20,19,19,1), rgba(20,19,19,0) 90%);
	}
	// &:before{
	// 	content: "";
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: #002030;
	// 	opacity: 0.5;
	// }
}
.bottomless-brunch-top-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 768px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	// background-attachment: fixed;
	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: #f6cc73;
		background: linear-gradient(180deg, rgba(246,204,115,0.05) 70%, rgba(246,204,115,1) 100%);
	}
}
.haymarket-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 768px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	// background-attachment: fixed;
	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgb(38,38,36);
		background: linear-gradient(180deg, rgba(20,20,20,0.85) 5%, rgba(20,20,20,1) 94%);
	}
}
.bg{
	@include background();
}
.bg-dark{
	background-color: $midgrey !important;
}
.bg-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.bg-contain-center{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.burger-beer-top-left{
	position: absolute;
	top: 0;
	left: 0;
	width: 458px;
	height: 1009px;
	z-index: 0;
	opacity: 0.3;
}
.page-home{
	.burger-beer-top-left{
		position: absolute;
		top: 80rem;
		left: 0;
		width: 458px;
		height: 1009px;
		z-index: 0;
		opacity: 0.3;
	}
}
.chips-burger-top-right{
	position: absolute;
	top: -9rem;
	right: -5rem;
	width: 550px;
	height: 1156px;
	z-index: 0;
	opacity: 0.3;
}
.guns-top-right{
	position: absolute;
	top: 80rem;
	right: -5rem;
	width: 550px;
	height: 1156px;
	z-index: 0;
	opacity: 0.3;
}
.guns-top-left{
	position: absolute;
	top: 10rem;
	left: -5rem;
	width: 550px;
	height: 1156px;
	z-index: 0;
	opacity: 0.8;
}
.armoury-info{
	.guns-top-right{
		position: absolute;
		top: 25rem;
		right: -5rem;
		width: 550px;
		height: 1156px;
		z-index: 0;
		opacity: 0.3;
	}
}
.stock{
	#content{
		position: relative;
	}
	.graphics-holder{
		position: absolute;
		width: 100%;
		height: 100%;
		max-width: 100vw;
		overflow: hidden;
	}
	.cocktail-top-right{
		position: absolute;
		top: 45rem;
		right: -5rem;
		width: 550px;
		height: 1156px;
		z-index: 0;
		opacity: 0.3;
	}
	.dartboard-bottom-left{
		position: absolute;
		top: 120rem;
		left: -5rem;
		width: 550px;
		height: 1156px;
		z-index: 0;
		opacity: 0.3;
	}
}
.bg-gold{
	background-color: #B38A58;
}
.haybale-bg,
.stocking-bg{
	height: 100%;
	background-size: contain;
	background-position: left top;
	background-repeat: no-repeat;
}
.video-gradient{
	width: 100%;
	height: 190px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: rgb(38,38,36);
	background: linear-gradient(180deg, rgba(20,20,20,0) 5%, rgba(20,20,20,1) 94%);
}