// Selected Text -----------------
::selection {
	color: $white;
	background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: $white;
	background: $primary; /* Gecko Browsers */
}
// Body Styles -------------------
body{
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: $darkgrey;
	color: $white;
	font-family: $body;
	#main-wrapper{
		max-width: 100vw;
		overflow: hidden;
	}
	&.black{
		background-color: #000000;
	}
	&.page-armoury{
		background-color: #002030;
		.btn-primary{
			background-color: $gold !important;
		}
		ol{
			li{
				&:before{
					background-color: $gold;
				}
			}
		}
		ul{
			li{
				&:before{
					background-color: $gold;
				}
			}
		}
		a{
			color: $gold;
			&:hover{
				color: $golddark;
			}
		}
		.opening-hours .today p{
			color: $gold;
		}
		.text-primary{
			color: $gold !important;
		}
		.map-container{
			display: none;
		}
		footer{
			a{
				color: #ffffff !important;
				&:hover{
					color: $gold !important;
				}
			}
		}
		.mailing-list-signup .mob-subscribe-btn{
			background-color: $gold !important;
		}
		.card{
			background-color: #0D3B52;
		}
		#scroll-menu{
			background-color: #0D3B52;
		}
		.video-grad {
		    background-color: rgba(0,32,48,0.7);
		}
		.video-gradient{
			background: rgb(0,32,48);
			background: linear-gradient(180deg, rgba(0,32,48,0) 5%, rgba(0,32,48,1) 94%);
		}
	}
	&.page-stock{
		background-color: #141313;
		.btn-primary{
			background-color: $orange !important;
		}
		ol{
			li{
				&:before{
					background-color: $orange;
				}
			}
		}
		ul{
			li{
				&:before{
					background-color: $orange;
				}
			}
		}
		a{
			color: $orange;
			&:hover{
				color: $orangedark;
			}
		}
		.opening-hours .today p{
			color: $orange;
		}
		.text-primary{
			color: $orange !important;
		}
		.map-container{
			display: none;
		}
		footer{
			a{
				color: #ffffff !important;
				&:hover{
					color: $orange !important;
				}
			}
		}
		.mailing-list-signup .mob-subscribe-btn{
			background-color: $orange !important;
		}
		.card{
			background-color: #191919;
		}
		#scroll-menu{
			background-color: #191919;
		}
	}
	&.boozy-brunch-club{
		background-color:#bc281b;
		color: #000000;
		background-image: url('$img/events/boozy-brunch-club/hands-white.svg?v4.0');
		background-size: 110vw;
		background-position: center 300px;
		background-repeat: no-repeat;
		.text-red{
			color:#fff !important;
		}
		#rd-widget-root td.day, #rd-mini-widget-root td.day{
			background-color: #fff;
		}
		.btn-primary{
			background-color: #000;
			&:hover{
				background-color: #1c1c1c;
			}
		}
		.mailing-list-signup{
			a{
				color: #fff;
			}
		}
		.mailing-list-signup .mob-subscribe-btn{
			background-color: #bc281b;
		}
		#seating-slider .owl-theme .owl-dots .owl-dot.active span,
		#party-slideshow .owl-theme .owl-dots .owl-dot.active span{
			border-top: 2px solid #fff;
    	border-bottom: 2px solid #fff;
		}
		footer{
			color: #000 !important;
			a{
				color: #000 !important;
			}
			.text-primary,
			.opening-hours .today.mob-show p{
				color: #fff !important;
			}
		}
	}
	&.bottomless-brunch{
		background-color:#f6cc73;
		color: #000;
		background-size: 110vw;
		background-position: center 300px;
		background-repeat: no-repeat;
		.text-red{
			color:#fff !important;
		}
		.text-primary{
			color: #f14e12 !important;
		}
		#rd-widget-root .btn-default, #rd-mini-widget-root .btn-default{
			background-color: #f14e12 !important;
		}
		#rd-widget-root .datepicker table td.active{
			background-color: #f14e12 !important;
			color: #fff !important;
		}
		#rd-widget-root td.day, #rd-mini-widget-root td.day{
			background-color: #fff;
		}
		.mailing-list-signup{
			a{
				color: #000;
			}
		}
		.mailing-list-signup .mob-subscribe-btn{
			background-color: #f14e12;
		}
		.mailing-list-signup button.btn{
			background-color: #f14e12 !important;
		}
		.seating-option{
			button{
				background-color: #f14e12;
			}
		}
		header{
			button{
				background-color: #f14e12;
				&:hover{
					background-color: #f29a30;
				}
			}
		}
		footer{
			.pre-title-lines{
				border-top: 2px solid #000;
    		border-bottom: 2px solid #000;
			}
			color: #000 !important;
			a{
				color: #000 !important;
			}
			.text-primary,
			.opening-hours .today p{
				color: #000 !important;
			}
		}
	}
	&.vouchers-page{
		background-color:#da4949;
		color: #fff;
		.text-red{
			color:#3cce76 !important;
		}
		#rd-widget-root td.day, #rd-mini-widget-root td.day{
			background-color: #fff;
		}
		.btn-primary{
			background-color: #121218;
			&:hover{
				background-color: #3a3a41;
			}
		}
		.mailing-list-signup{
			a{
				color: #121218;
			}
		}
		a.social-btn:hover{
			color: #3a3a41 !important;
		}
		.mailing-list-signup .mob-subscribe-btn{
			background-color: #121218;
		}
		#seating-slider .owl-theme .owl-dots .owl-dot.active span,
		#party-slideshow .owl-theme .owl-dots .owl-dot.active span{
			border-top: 2px solid #121218;
    	border-bottom: 2px solid #121218;
		}
		footer{
			color: #fff !important;
			a{
				color: #fff !important;
			}
			.text-primary,
			.opening-hours .today.mob-show p{
				color: #121218 !important;
			}
		}
		.seating-option .card p.mimic-h3{
			color: #fff !important;
		}
		.opening-hours .today p{
			color: #121218;
		}
		.pre-title-lines.lines-dark{
			border-top: 2px solid #fff;
    	border-bottom: 2px solid #fff;
		}
	}
	// &.boozy-brunch-club{
	// 	background-color:#da4949;
	// 	color: #fff;
	// 	background-image: url('$img/events/boozy-brunch-club/hands.svg?v3.0');
	// 	background-size: 110vw;
	// 	background-position: center 300px;
	// 	background-repeat: no-repeat;
	// 	.text-red{
	// 		color:#3cce76 !important;
	// 	}
	// 	#rd-widget-root td.day, #rd-mini-widget-root td.day{
	// 		background-color: #fff;
	// 	}
	// 	.btn-primary{
	// 		background-color: #3cce76;
	// 		&:hover{
	// 			background-color: #2c784a;
	// 		}
	// 	}
	// 	.mailing-list-signup{
	// 		a{
	// 			color: #3cce76;
	// 		}
	// 	}
	// 	a.social-btn:hover{
	// 		color: #2c784a !important;
	// 	}
	// 	.mailing-list-signup .mob-subscribe-btn{
	// 		background-color: #3cce76;
	// 	}
	// 	#seating-slider .owl-theme .owl-dots .owl-dot.active span,
	// 	#party-slideshow .owl-theme .owl-dots .owl-dot.active span{
	// 		border-top: 2px solid #3cce76;
  //   	border-bottom: 2px solid #3cce76;
	// 	}
	// 	footer{
	// 		color: #fff !important;
	// 		a{
	// 			color: #fff !important;
	// 		}
	// 		.text-primary,
	// 		.opening-hours .today.mob-show p{
	// 			color: #3cce76 !important;
	// 		}
	// 	}
	// 	.seating-option .card p.mimic-h3{
	// 		color: #fff !important;
	// 	}
	// 	.opening-hours .today p{
	// 		color: #3cce76;
	// 	}
	// 	.pre-title-lines.lines-dark{
	// 		border-top: 2px solid #fff;
  //   	border-bottom: 2px solid #fff;
	// 	}
	// }
	&.throwback-thursday{
		background-color: #150226;
	}
	&.fridays{
		background-color:#000000;
		color: #fff;
		.text-pink,
		.text-red,
		.text-primary,
		.opening-hours .today p{
			color: #EC088B !important;
		}
		#rd-widget-root td.day, #rd-mini-widget-root td.day{
			background-color: #fff;
		}
		a{
			&:hover{
				color: #EC088B;
			}
		}
		.mailing-list-signup{
			a{
				color: #EC088B;
			}
		}
		.btn-primary{
			background-color: #EC088B;
			&:hover{
				background-color: #A30861;
			}
		}
		.mailing-list-signup .mob-subscribe-btn{
			background-color: #EC088B;
		}
		#seating-slider .owl-theme .owl-dots .owl-dot.active span,
		#party-slideshow .owl-theme .owl-dots .owl-dot.active span{
			border-top: 2px solid #EC088B;
    	border-bottom: 2px solid #EC088B;
		}
	}
	&.saturdays{
		background-color:#020211;
		color: #fff;
		.text-pink,
		.text-red,
		.text-primary,
		.opening-hours .today p{
			color: #EC088B !important;
		}
		#rd-widget-root td.day, #rd-mini-widget-root td.day{
			background-color: #fff;
		}
		a{
			&:hover{
				color: #EC088B;
			}
		}
		.mailing-list-signup{
			a{
				color: #EC088B;
			}
		}
		.btn-primary{
			background-color: #EC088B;
			&:hover{
				background-color: #A30861;
			}
		}
		.mailing-list-signup .mob-subscribe-btn{
			background-color: #EC088B;
		}
		#seating-slider .owl-theme .owl-dots .owl-dot.active span,
		#party-slideshow .owl-theme .owl-dots .owl-dot.active span{
			border-top: 2px solid #EC088B;
    	border-bottom: 2px solid #EC088B;
		}
		.saturdays-top{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		.saturdays-bottom{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
	&.saturdays{
		background-color:#020211;
		color: #fff;
		.text-pink,
		.text-red,
		.text-primary,
		.opening-hours .today p{
			color: #EC088B !important;
		}
		#rd-widget-root td.day, #rd-mini-widget-root td.day{
			background-color: #fff;
		}
		a{
			&:hover{
				color: #EC088B;
			}
		}
		.mailing-list-signup{
			a{
				color: #EC088B;
			}
		}
		.btn-primary{
			background-color: #EC088B;
			&:hover{
				background-color: #A30861;
			}
		}
		.mailing-list-signup .mob-subscribe-btn{
			background-color: #EC088B;
		}
		#seating-slider .owl-theme .owl-dots .owl-dot.active span,
		#party-slideshow .owl-theme .owl-dots .owl-dot.active span{
			border-top: 2px solid #EC088B;
    	border-bottom: 2px solid #EC088B;
		}
		.saturdays-top{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		.saturdays-bottom{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
	&.peep-show{
		color: #fff;
		.text-pink,
		.text-red,
		.text-primary,
		.opening-hours .today p{
			color: #e7012a !important;
		}
		#rd-widget-root td.day, #rd-mini-widget-root td.day{
			background-color: #fff;
		}
		a{
			&:hover{
				color: #e7012a;
			}
		}
		.mailing-list-signup{
			a{
				color: #e7012a;
			}
		}
		.btn-primary{
			background-color: #e7012a;
			&:hover{
				background-color: #c30728;
			}
		}
		.mailing-list-signup .mob-subscribe-btn{
			background-color: #e7012a;
		}
		#seating-slider .owl-theme .owl-dots .owl-dot.active span,
		#party-slideshow .owl-theme .owl-dots .owl-dot.active span{
			border-top: 2px solid #e7012a;
    	border-bottom: 2px solid #e7012a;
		}
	}
	&.win-or-booze{
		color: #fff;
		.text-pink{
			color: #ea1baf !important;
		}
		.text-beage{
			color: #fef2cb !important;
		}
		#rd-widget-root td.day, #rd-mini-widget-root td.day{
			background-color: #fff;
		}
		.pre-title-lines{
			border-top: 2px solid #fff;
    	border-bottom: 2px solid #fff;
		}
		footer{
			color: #fff;
			a{
				color: #fff;
			}
		}
		a.social-btn:hover{
			color: #ea1baf !important;
		}
	}
	&.six-nations{
		color: #fff;
		header{
			p{
				&.mimic-h1{
					font-size: 10rem;
				}
				&.mimic-h2{
					font-size: 4.4rem;
				}
			}
		}
		.opening-hours .today p{
			color: #e75e2b !important;
		}
		#seating-slider .owl-theme .owl-dots .owl-dot.active span{
			border-top: 2px solid #e75e2b;
    	border-bottom: 2px solid #e75e2b;
		}
		.btn-gold,
		.btn-primary{
			color: #fff;
			background-color: #e75e2b !important;
			&:hover{
				color: #fff;
				background-color: #e75e2b !important;
			}
		}
		.text-gold,
		.text-primary{
			color: #e75e2b !important;
		}
		#rd-widget-frame{
			background-color: #141414;
		}
		#rd-widget-root .rd-widget-content, #rd-mini-widget-root .rd-widget-content,
		#rd-widget-root .view-selected-options, #rd-mini-widget-root .view-selected-options,
		#rd-widget-root .logo-panel, #rd-mini-widget-root .logo-panel{
			background-color: #141414 !important;
		}
		#rd-widget-root .datepicker-inline, #rd-mini-widget-root .datepicker-inline{
			background-color: #141414;
			border: 2px solid #141414;
		}
		#rd-widget-root td.day, #rd-mini-widget-root td.day{
			background-color: #fff;
		}
		#rd-widget-root .btn-default, #rd-mini-widget-root .btn-default{
			background-color: #e75e2b !important;
		}
		#rd-widget-root .datepicker table td.active{
			background-color: #e75e2b !important;
			color: #fff !important;
		}
		.pre-title-lines{
			border-top: 2px solid #fff;
    	border-bottom: 2px solid #fff;
		}
		footer{
			color: #fff;
			a{
				color: #fff;
			}
		}
		.mailing-list-signup{
			a{
				color: #e75e2b !important;
			}
		}
		.mob-subscribe-btn{
			background-color: #e75e2b !important;
		}
		a.social-btn:hover{
			color: #e75e2b !important;
		}
	}
	&.christmas{
		background-color: #00352D;
		.christmas-snow{
			position: absolute;
			width: 100vw;
			height: 100%;
			top: 0;
			left: 0;
			background-image: url('$img/graphics/snow.svg');
			background-size: 690px;
			background-repeat: initial;
			opacity: 0.3;
		}
		.full-reef{
	    position: absolute;
	    top: 40px;
	    right: -100px;
	    width: 300px;
		}
		.bg-xmas{
			background-color: #004238 !important;
		}
		.reef-1{
			position: absolute;
	    top: -2rem;
	    right: -2rem;
	    z-index: 10;
	    width: 370px;
		}
	}
	h1{
		font-family: $title;
		font-weight: 500;
		font-style: normal;
		text-transform: uppercase;
		font-size: 3.6rem;
    line-height: 1;
		&.page-top{
			font-weight: 500;
			font-size: 3.6rem;
		}
		&.page-title{
			font-size: 4.5rem;
      line-height: 1;
		}
		&.blog-title{
			font-size: 3.6rem;
		}
		.larger{
			font-size: 6rem;
		}
		.smaller{
			font-size: 3rem;
		}
	}
	h2{
		font-size: 3.125rem;
		font-weight: 500;
		font-style: normal;
		line-height: 1;
		font-family: $title;
		&.title-large{
			font-weight: 500;
			font-size: 4rem;
			line-height: 6rem;
		}

	}
	h3{
		font-size: 2.6rem;
		font-weight: 500;
		font-family: $title;
		&.bigger{
			font-size: 2rem;
		}
		&.bigger{
			font-size: 2rem;
		}
	}
	h4{
		font-size: 1.8rem;
		font-weight: 500;
		text-transform: uppercase;
		font-family: $title;
	}
	h5{
		font-size: 1.1rem;
		font-family: $title;
	}
	p{
		font-size: 1.2rem;
		&.glow {
		  animation: glow 2s ease-in-out infinite alternate;
		}
		&.text-small{
			font-size: 0.9rem;
		}
		&.text-one{
			font-size: 1rem;
		}
		&.text-smallest{
			font-size: 0.7rem;
		}
		&.text-large{
			font-size: 1.4rem;
		}
		&.text-larger{
			font-size: 1.5rem;
		}
		&.text-largest{
			font-size: 2.2rem;
		}
		&.letter-spacing{
			letter-spacing: 2px;
		}
		.smaller{
			font-size: 0.8rem;
		}
		.text-one{
			font-size: 1rem;
		}
		&.title{
			font-family: $title;
			text-transform: uppercase;
			line-height: 1;
		}
		&.mimic-h3{
			font-size: 3.125rem;
			line-height: 1;
    	letter-spacing: 1px;
			font-weight: 500;
			font-family: $title;
			text-transform: uppercase;
			&.smaller{
				font-size: 2.6rem;
			}
		}
		&.mimic-h2{
			font-size: 3.125rem;
			line-height: 1;
			font-weight: 500;
			font-family: $title;
			text-transform: uppercase;
			button{
				margin-top: -5px;
			}
		}
		&.mimic-h1{
			font-size: 4.5rem;
			line-height: 1;
			font-weight: 500;
			font-family: $title;
			text-transform: uppercase;
		}
		&.line-height-1{
			line-height: 1;
		}
		&.din{
			font-family: 'din-condensed', sans-serif;
			font-weight: 400;
			font-style: normal;
		}
	}
	@-webkit-keyframes glow {
	  from {
	    text-shadow: 0 0 2px #e7012a, 0 0 5px #e7012a, 0 0 7px #e7012a, 0 0 10px #e7012a, 0 0 12px #e7012a, 0 0 15px #e7012a, 0 0 17px #e7012a;
	  }
	  
	  to {
	    text-shadow: 0 0 7px #e7012a, 0 0 9px #e7012a, 0 0 12px #e7012a, 0 0 15px #e7012a, 0 0 17px #e7012a, 0 0 19px #e7012a, 0 0 23px #e7012a;
	  }
	}
	p[data-f-id="pbf"]{
		display: none !important;
	}
	a{
		cursor: pointer;
		@include transition(300ms);
		&.text-white{
			color: $white !important;
			&:hover{
				&.hover-dark{
					color: $darkgrey !important;
				}
			}
		}
		&:hover{
			text-decoration: none !important;
		}
		&.social-btn{
			color: $white !important;
			&:hover{
				color: $primary !important;
			}
		}
	}
	ol{
		padding-left: 1.5rem;
		li{
			position: relative;
			margin-bottom: 2rem;
			font-size: 1.1rem;
			padding-left: 1.5rem;
			&:before{
				content: "";
				background-color: $primary;
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				left: 0.5rem;
    		top: 0;
				width: 2px;
				height: 100%;
				border-radius: 0;
			}
			&::marker{
				font-weight: 900;
				font-size: 1.1rem;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	ul{
		list-style: none;
		padding-left: 1.5rem;
		li{
			position: relative;
			margin-bottom: 1rem;
			font-size: 1.1rem;
			&:before{
				content: "";
				background-color: $primary;
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				left: -1.3rem;
				top: 9px;
				width: 6px;
				height: 6px;
				border-radius: 0;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}

	.white-text{
		color: $white;
	}
	.text-red{
		color: $red !important;
	}
	.text-yellow{
		color: $yellow !important;
	}
	.text-grey{
		color: $darkgrey !important;
	}
	.text-dark{
		color: $black !important;
	}
	.text-title{
		font-family: $title !important;
	}
	.text-light{
		color: #989696 !important;
	}
	.text-green{
		color: $green !important;
	}
	.border-left{
		border-color: $black !important;
	}
	hr{
		&.line-primary{
			border-top: 2px solid $primary;
		}
	}
	.pre-title-lines{
		height: 8px;
		width: 75px;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		position: relative;
		span{
			position: absolute;
	    right: -265px;
	    top: -13px;
	    width: 250px;
			text-align: left;
			a{
				font-family: $body;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 1.1rem;
			}
		}
		&.lines-dark{
			border-top: 2px solid #000;
		border-bottom: 2px solid #000;
		}
	}
}
.text-light{
		color: #989696 !important;
	}
.cursor-pointer{
	cursor: pointer;
}
.home-venues{
	margin-top: -60px;
}
#content{
	z-index: 1;
	@include transition(300ms);
	&.opacity{
		opacity: 0.1;
	}
}