.btn{
	display: inline-block;
	border-radius: 0;
	font-family: $body;
	border:0 !important;
	text-transform: uppercase;
	position: relative;
	width: 100%;
	height: 50px;
	font-size: 1rem;
	font-weight: 600;
	padding: 11px 15px;
	max-width: 227px;
	cursor: pointer;
	@include transition(300ms);
	&.w-100{
		max-width: 100000px;
	}
	&.mb-card-margins{
		margin-bottom: -70px;
    margin-top: 20px;
	}
	&.btn-icon{
		text-align: left !important;
		i{
			position: absolute;
			right: 15px;
			top: 17px;
			font-size: 1.5rem;
			@include transition(300ms);
		}
		img{
			position: absolute;
			right: 15px;
			top: 17px;
			font-size: 1.5rem;
			@include transition(300ms);
			&.custom-icon{
  			width: 1.3rem;
  			height: 1.3rem; 
  			top: 22px;
  		}
		}
		&:hover{
			transform: none !important;
			i{
				right: 10px;
				&.chevron-double-down,
				&.chevron-double-down-white{
					right: 15px;
					top: 25px;
				}
				.chevron-double-up,
				&.chevron-double-up-white{
					right: 15px;
					top: 15px;
				}
			}
		}
	}
	&:hover{
		transform: scale(1.02);
	}
}
.btn-primary{
	background-color: $primary;
	color: $white;
	&:hover{
		background-color: $primarydark;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-gold{
	background-color: $gold;
	color: $white;
	&:hover{
		background-color: $golddark;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-orange{
	background-color: #b75503;
	color: $white;
	&:hover{
		background-color: #ea7514;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-green{
	background-color: $green;
	color: $white;
	&:hover{
		background-color: $green;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-white{
	background-color: $white;
	color: $darkgrey;
	&:hover{
		background-color: $white;
		color: $darkgrey;
		text-decoration: none !important;
	}
	&:disabled{
		color: $darkgrey;
	}
}
.btn-black{
	background-color: $black;
	color: $white;
	&:hover{
		background-color: $black;
		color: $white;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
@media only screen and (max-width : 1024px) and (hover: none){

}


@media only screen and (max-width : 767px) and (hover: none){
	.btn{
    max-width: 220px;
    min-width: 220px;
    padding: 10px 15px;
    height: 50px;
    font-size: 22px;
    &.btn-icon{
    	i{
    		font-size: 18px;
    		top: 17px !important;
    		&.custom-icon{
    			width: 1rem;
    			height: 1rem;
    			top: 19px !important;
    			&.chevron-double-up,
    			&.chevron-double-down,
    			&.chevron-double-up-white,
    			&.chevron-double-down-white{
    				top: 17px !important;
    			}
    		}
    	}
    	img.custom-icon {
		    width: 1rem;
		    height: 1rem;
		    top: 18px !important;
			}
			&:hover,
			&:focus{
				i{
	    		font-size: 18px;
	    		top: 17px !important;
	    		&.custom-icon{
	    			width: 1rem;
	    			height: 1rem;
	    			top: 19px !important;
	    			&.chevron-double-up,
	    			&.chevron-double-down,
	    			&.chevron-double-up-white,
	    			&.chevron-double-down-white{
	    				top: 17px !important;
	    			}
	    		}
	    	}
	    	img.custom-icon {
			    width: 1rem;
			    height: 1rem;
			    top: 18px !important;
				}
			}
    }
	}
}
