#app{
	min-height: 100vh;
	&.admin{
		padding-top: 95px;
	}
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.z-3{
	z-index: 3;
}
.z-100{
	z-index: 3;
}
.z-200{
	z-index: 200;
}
.list-style-none{
	list-style: none;
}
.card{
	background-color: $midgrey;
	border-radius:0;
	border: 0;
	@include boxShadow();
}
.full-height{
	height: 100vh;
}
.modal{
	background-color: rgba(26,26,27, 0.95);
	text-align: center;
	z-index: 1500;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.trans{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $transgrey;
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
.blog-body{
	font-size: 1.1rem;
	img{
		max-width: 100%;
	}
	p{
		margin-bottom: 0;
	}
	strong{

	}
	blockquote{
		background-color: transparent;
		color: $black;
    padding: 1rem;
    font-style: none;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 1.3;
    border-left: 2px solid #000;
	}
	h2{
		margin-bottom: 0;
	}
}
.mw-100{
	max-width: 100vw !important;
}
.zoom-link{
	cursor: pointer;
	.zoom-img{
		width: 100%;
		height: 233px;
		max-height: 233px;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
	    top:-100%; left:0; right: 0; bottom:-100%;
	    margin: auto;
	    @include transition(300ms);
		}
		&.product-image{
			height: 100%;
			max-height: inherit;
			img{
				position: relative;
			}
		}
	}
	&:hover{
		.zoom-img{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.shadow{
	@include boxShadow();
}
.faq-btn{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 100%;
  background-color: $primary;
  color: $darkgrey;
  font-size: 1.5rem;
  padding: 0.8rem;
  z-index: 1000;
  width: 60px;
  height: 60px;
  text-align: center;
  overflow: hidden;
  @include boxShadow();
}
.p-haybale{
	position: absolute;
	top: -130px; 
	left: calc(50% - 150px); 
	z-index: 0;
}
#midweekModal{
	.carousel-control-prev {
	  left: -80px;
	}
	.carousel-control-next {
	  right: -80px;
	}
	.carousel-indicators{
		bottom: -80px;
	}
	ol li:before{
		display: none !important;
	}
}
.rugby-card{
	background-color: #191919;
	min-height: 530px;
	p.mimic-h3{
		font-size: 2.5rem;
	}
	.booknowbtn{
		margin-bottom: -47px !important;
	}
}
.six-nations-pints{
	position: absolute;
	top: -35px;
	right: 0;
}
.break-line{
	width: 100%;
	.gold-line{
		display: inline-block;
		width: 120px;
		height: 2px;
		background-color:#B38A58;
	}
	.primary-line{
		display: inline-block;
		width: 120px;
		height: 2px;
		background-color:$primary;
	}
}
#rd-widget-root{
	li{
		&:before,
		&:after{
			display: none !important;
		}
	}
}
.video-grad{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}
.top-logo{
	position: absolute;
	z-index: 10;
}
.venue-top{
	position: absolute;
	z-index: 10;
	max-width: 730px;
	left: calc(50% - 365px);
}
.new-home-top{
	position: absolute;
	z-index: 10;
	max-width: 1000px;
	left: calc(50% - 500px);
}
.venue-top-no-vid{
	padding-top: 50px;
	min-height: 530px;
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
.logo-lines{
	.logo-lines-left{
		height: 922px;
		width: calc(100% - 20px);
		top: 50%;
		left: 0;
		position: absolute;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
	}
	.logo-lines-right{
		height: 922px;
		width: calc(100% - 20px);
		top: 50%;
		right: 0;
		position: absolute;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
	}
}
.home-venue{
	height: 500px;
	.venue-details{
		height: 500px;
		text-align: center;
		.venue-details-inner{
			max-width: 450px;
			display: block;
			margin: auto;
			img{
				max-width: 75%;
			}
		}
	}
}
.venue-offers{
	margin-top: -130px;
	.armoury-option{
		.card{
			width: 100%;
			min-height: 360px;
			p{
				font-size: 1.1rem;
			}
		}
	}
	.stock-option{
		.card{
			min-height: 340px;
			width: calc(100% - 30px) !important;
    	margin-top: -80px;
			p.mimic-h3{
				font-size: 2rem;
			}
		}
	}
}
.home-vid,
.armoury-vid,
.stock-vid{
	max-height:640px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bullet-holes{
	position: absolute;
	top: 1rem;
	right: 1rem;
	height: 130px;
	width: 130px;
	z-index: 0;
	opacity: 0.8;
	background-image: url('$img/venues/holes.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.bullet-holes-2{
	position: absolute;
	bottom: 1rem;
	left: 0rem;
	width: 110px;
	height: 100px;
	opacity: 0.8;
	transform: rotate(270deg);
	z-index: 0;
	background-image: url('$img/venues/holes-2.png');
	background-size: contain;
	background-repeat: no-repeat;
}