// Fonts --------------------

@import url("https://use.typekit.net/dat5euy.css");

$title: aw-conqueror-inline, sans-serif;
$body: macho, sans-serif;
$fancy: macho, sans-serif;

// Body
$body-bg: #141414;

// Typography
$font-family-sans-serif: macho, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0269DD;
$lightblue: #97C9EB;
$indigo: #6574cd;
$purple: #9254DB;
$pink: #F4406D;
$red: #D54148;
$orange: #B75503;
$orangedark: #B75503;
$yellow: #FFCB00;
$green: #5CCC4A;
$darkgreen: #42872c;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$formgrey: #757575;

// Colours -----------------
$primary: #D54148; 
$primarylight: #EB7C81;
$primarydark: #93181D;
$second: #97C9EB;
$gold: #9E8255;
$golddark: #725930;
$white: #fff;
$black: #000;
$navy: #0037D2;
$lightnavy: #465966;
$darknavy: #434343;
$darkgrey: #141414;
$midgrey: #1b1b1d;
$lightbg: #FAFAFA;
$lightgrey: #FAFAFA;
$grey: #1D252D;
$bluegrey: #A8B1B7;
$highlight: #FF6A6A;
$mastercard: #FF4D2D;
$visa: #283891;

$transgreylight: rgba(29,37,45,0.4);
$transgrey: rgba(29,37,45,0.4);
$transgreydark: rgba(0,0,0,0.85);
$transwhite: rgba(255,255,255,0.6);
$transblue: rgba(0,0,0,0.32);
$transbluelight: rgba(26,126,244,0.2);
$transbluedark: rgba(38,60,75,0.9);
$transred: rgba(224,38,28,0.8);
$transdark: rgba(19,22,41,0.3);