<template>
  <div>
    <header class="container-fluid position-relative bg bg-down-up z-1 mb-5">
      <div class="row">
        <div class="container">
          <div class="row pt-5 mob-pt-0 mt-5 ipadp-pt-0 mob-mt-0">      
            <div class="col-lg-8 text-center text-lg-left mob-px-4">
              <div class="pre-title-lines mob-mx-auto mb-4 mob-my-45"></div>
              <h1 class="mob-mt-0 mb-3">Frequently Asked Questions</h1>
              <p class="text-small"><i>Click a question to reveal the answer</i></p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container position-relative z-2">
      <div id="generalAccoridon" class="row accordion">
        <div class="col-12 mb-0 mob-px-4" v-for="(faq, index) in faqs">
          <div class="py-3">
            <div class="pre-title-lines mb-4"></div>
            <p :id="'generalfaqsheading'+faq.id" class="collapsed faq-button mb-0 cursor-pointer question" data-toggle="collapse" :data-target="'#generalfaqs'+faq.id" aria-expanded="false" :aria-controls="'generalfaqs'+faq.id" @click="scrollToQuestion('generalfaqsheading'+faq.id)"><b>{{faq.question}}</b></p>
          </div>
          <div :id="'generalfaqs'+faq.id" class="collapse mb-5 mob-mb-3 answer" :aria-labelledby="'generalfaqsheading'+faq.id" data-parent="#generalAccoridon" v-html="faq.answer"></div>
          <hr class="line primary-line my-0"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      category: 4,
      errors: {},
      success: false,
      loaded: true,
      faqs: [],
      limit: 8,
      page: 1,
    }
  },
  mounted(){
  	console.log(this.categories);
    this.getFaqs();
  },
  methods: {
    scrollToQuestion(val){
      setTimeout(function(){
        var targetElement = document.getElementById(val);
        var offset = 100;
        var targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset - offset;
        window.scrollTo({
            top: targetPosition,
            behavior: 'smooth'
        });
      }, 300);
      
    },
    getFaqs(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/faqs/get/' + this.category).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.faqs = response.data;
          console.log(this.response);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
  },
}
</script>
<style lang="scss">
	$primary: #F6CF3C; 
	$darkgrey: #1D252D;
	$white: #fff;
	$title: Tungsten, sans-serif;
	$body: Gotham, sans-serif;
	.question{
		font-family: $body;
		font-size: 1.2rem;
		font-weight: bold;
	}
	.answer{
		font-size: 1.2rem;
		br{
			display: block;
			margin-bottom: 1rem;
		}
	}
  @media only screen and (max-width : 767px){
    .question{
      font-size: 5vw;
    }
    .answer{
      font-size: 4.5vw;
    }
  }
</style>