<template>
  <div class="container faqs-select-container">
    <div class="row">
      <div class="col-12 mob-mb-3 mb-2">
        <div class="faqs-select" :tabindex="tabindex" @blur="open = false">
          <div class="selected" :class="{ open: open }" @click="open = !open">
            {{ selected }}
          </div>
          <div class="items" :class="{ selectHide: !open }">
            <div
              v-for="(option, i) of options"
              :key="i"
              @click="
                selected = option.name;
                open = false;
                $emit('input', option.id);
              "
            >
              {{ option.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    options: {
      type: Array,
      required: true,
    },
    default: {
      type: String,
      required: false,
      default: null,
    },
    tabindex: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  data() {
    return {
      selected: this.default
        ? this.default
        : this.options.length > 0
        ? this.options[0]
        : null,
      open: false,
    };
  },
  mounted() {
    // this.$emit("input", this.selected);
  },
};
</script>
<style scoped lang="scss">
.faqs-select-container{
  p.mimic-h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.17;
  }
}
.faqs-select {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 47px;
  line-height: 47px;
}

.faqs-select .selected {
  background-color: #fff;
  border-radius: 0;
  border: 0;
  color: #000;
  padding: 0.35rem 1rem 0.15rem;
  cursor: pointer;
  user-select: none;
  font-family: Gotham, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.faqs-select .selected.open {
  border: 0;
  border-radius: 0;
}

.faqs-select .selected:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 60px;
  height: 55px;
  background: #D54148;
}
.faqs-select .selected:after {
  position: absolute;
  content: "";
  top: 19px;
  right: 15px;
  width: 22px;
  height: 18px;
  background-image: url('$img/icons/chevron-double-down-white.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.faqs-select .items {
  color: #fff;
  border-radius: 0;
  overflow: hidden;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
}

.faqs-select .items div {
  color: #000;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.faqs-select .items div:hover {
	color: #000;
  background-color: #fff;
}

.selectHide {
  display: none;
}
@media only screen and (max-width : 1199px){
  .faqs-select-container p.mimic-h3{
    font-size: 2.5rem;
    margin-top: 7px;
  }
}
@media only screen and (max-width : 767px){
  .faqs-select-container p.mimic-h3{
    font-size: 8.5vw;
    margin-top: 0;
    letter-spacing: 0;
  }
  .faqs-select .selected{
    font-size: 4vw;
  }
}
</style>