<template>
  <div>
    <header class="container-fluid position-relative bg bg-down-up z-1 mb-5">
      <div class="row">
        <div class="container">
          <div class="row pt-5 mob-pt-0 mt-5 ipadp-pt-0 mob-mt-0 justify-content-center">      
            <div class="col-12 text-center text-lg-left mob-px-4">
              <div class="pre-title-lines mob-mx-auto mb-4 mob-my-45"></div>
              <h1 class="mob-mt-0">Frequently Asked Questions</h1>
            </div>
          <!--   <div class="col-lg-7 mob-px-4 text-center text-lg-left">
              <p class="text-large mb-3">Find answers to the questions our customers ask us most often.</p>
              <div class="row">
                <div class="col-lg-8">
                  <div class="row">
                    <faq-select @input="changeCategory" :options="categories" :default="'General'"></faq-select> 
                  </div>
                  <p class="mb-0 mt-2 text-small"><i class="fa fa-info-circle mr-2 text-primary"></i>Click on a question to reveal the answer</p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </header>
    <div class="container position-relative z-2">
      <div id="generalAccoridon" class="row accordion">
        <div class="col-12 mb-0 mob-px-4" v-for="(faq, index) in faqs">
          <div class="py-3">
            <div class="pre-title-lines mb-4"></div>
            <p :id="'generalfaqsheading'+faq.id" class="collapsed faq-button mb-0 cursor-pointer question" data-toggle="collapse" :data-target="'#generalfaqs'+faq.id" aria-expanded="false" :aria-controls="'generalfaqs'+faq.id" @click="scrollToQuestion('generalfaqsheading'+faq.id)"><b>{{faq.question}}</b></p>
          </div>
          <div :id="'generalfaqs'+faq.id" class="collapse mb-5 mob-mb-3 answer" :aria-labelledby="'generalfaqsheading'+faq.id" data-parent="#generalAccoridon" v-html="faq.answer"></div>
          <hr class="line primary-line my-0"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
	const FaqSelect = () => import(/* webpackChunkName: "FaqSelect" */ './FaqSelect.vue');
  export default {
  	props:{
  		categories: Array
  	},
  	components:{
  		FaqSelect
  	},
    watch:{
    category: function(val){
      this.changeCategory(val);
    },
  },
  data() {
    return {
      category: 1,
      errors: {},
      success: false,
      loaded: true,
      faqs: [],
      limit: 8,
      page: 1,
    }
  },
  mounted(){
  	console.log(this.categories);
    this.getFaqs();
  },
  methods: {
    scrollToQuestion(val){
      setTimeout(function(){
        $('html, body').animate({
          scrollTop: $("#" + val).offset().top - 100
        }, 500);
      }, 300);
      
    },
    changeCategory(val){
      this.category = val;
      this.getFaqs();
    },
    getFaqs(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/faqs/get/' + this.category).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.faqs = response.data;
          console.log(this.response);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
  },
}
</script>
<style lang="scss">
	$primary: #F6CF3C; 
	$darkgrey: #1D252D;
	$white: #fff;
	$title: Tungsten, sans-serif;
	$body: Gotham, sans-serif;
	.question{
		font-family: $body;
		font-size: 1.2rem;
		font-weight: bold;
	}
	.answer{
		font-size: 1.2rem;
		br{
			display: block;
			margin-bottom: 1rem;
		}
	}
  @media only screen and (max-width : 767px){
    .question{
      font-size: 5vw;
    }
    .answer{
      font-size: 4.5vw;
    }
  }
</style>