<template>
	<div class="container position-relative z-1">
<!-- 		<div class="row justify-content-center pt-5">
			<div class="col-12 d-md-none">
				<div id="armoury-options">
					<carousel ref="armouryoptionscarousel" :mouse-drag="false" :wrapAround="true">
						<div class="armoury-slide">
							<div class="armoury-option text-center">
				        <picture>
				          <source srcset="/img/venues/temp/armoury6.webp" type="image/webp"/> 
				          <source srcset="/img/venues/temp/armoury6.jpg" type="image/jpeg"/> 
				          <img src="/img/venues/temp/armoury6.jpg" type="image/jpeg" width="350" height="350" alt="The Armoury at Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45"/>
				        </picture>
				        <div class="card px-3 py-4 mx-auto position-relative z-1" data-aos="fade-up">
	          			<p class="mimic-h3 mb-2">Pistol Popp'n Packages</p>
				          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block"></div>
				        </div>
				        <a href="/the-armoury" target="_blank">
				        	<button type="button" class="btn btn-primary mx-auto z-2" data-aos="fade-up"  data-aos-delay="100" >View Packages</button>
				        </a>
				      </div>
						</div>
						<div class="armoury-slide">
							<div class="armoury-option text-center">
				        <picture>
				          <source srcset="/img/venues/temp/armoury7.webp" type="image/webp"/> 
				          <source srcset="/img/venues/temp/armoury7.jpg" type="image/jpeg"/> 
				          <img src="/img/venues/temp/armoury7.jpg" type="image/jpeg" width="350" height="350" alt="Interactive Shooting at The Armoury - Haymarket Belfast" class="lazy w-100 h-auto op-45"/>
				        </picture>
				        <div class="card px-3 py-4 mx-auto position-relative z-1" data-aos="fade-up">
	          			<p class="mimic-h3 mb-2">Reloaded Special Offers</p>
				          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block"></div>
				        </div>
				        <a href="/offers" target="_blank">
				        	<button type="button" class="btn btn-primary mx-auto z-2" data-aos="fade-up"  data-aos-delay="100" >View Offers</button>
				        </a>
				      </div>
						</div>
						<div class="armoury-slide">
							<div class="armoury-option text-center">
				        <picture>
				          <source srcset="/img/venues/temp/armoury8.webp" type="image/webp"/> 
				          <source srcset="/img/venues/temp/armoury8.jpg" type="image/jpeg"/> 
				          <img src="/img/venues/temp/armoury8.jpg" type="image/jpeg" width="350" height="350" alt="Parties & Venue Hire at The Armoury - Haymarket Belfast" class="lazy w-100 h-auto op-45"/>
				        </picture>
				        <div class="card px-3 py-4 mx-auto position-relative z-1" data-aos="fade-up">
				          <p class="mimic-h3 mb-2">Parties & Venue Hire</p>
				          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block"></div>
				        </div>
				        <a href="/parties" target="_blank">
				        	<button type="button" class="btn btn-primary mx-auto z-2" data-aos="fade-up" data-aos-delay="200">Request a booking</button>
				        </a>
				      </div>
						</div>
					</carousel>
				</div>
			</div>
	    <div class="col-lg-4 col-md-9 mb-5 d-none d-md-block">
	      <div class="armoury-option text-center">
	        <picture>
	          <source srcset="/img/venues/temp/armoury6.webp" type="image/webp"/> 
	          <source srcset="/img/venues/temp/armoury6.jpg" type="image/jpeg"/> 
	          <img src="/img/venues/temp/armoury6.jpg" type="image/jpeg" width="350" height="350" alt="The Armoury at Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45"  data-aos="fade-up"/>
	        </picture>
	        <div class="card px-3 py-4 mx-auto" data-aos="fade-up">
	          <p class="mimic-h3 mb-2">Pistol Popp'n Packages</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block"></div>
	        </div>
	        <a  href="/the-armoury" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2" data-aos="fade-up">View Packages</button>
	        </a>
				</div>
	    </div>
	  	<div class="col-lg-4 col-md-9 mb-5 d-none d-md-block">
	      <div class="armoury-option text-center">
	        <picture>
	          <source srcset="/img/venues/temp/armoury7.webp" type="image/webp"/> 
	          <source srcset="/img/venues/temp/armoury7.jpg" type="image/jpeg"/> 
	          <img src="/img/venues/temp/armoury7.jpg" type="image/jpeg" width="350" height="350" alt="Interactive Shooting at The Armoury - Haymarket Belfast" class="lazy w-100 h-auto op-45" data-aos="fade-up"  data-aos-delay="100" />
	        </picture>
	        <div class="card px-3 py-4 mx-auto" data-aos="fade-up" data-aos-delay="100">
	          <p class="mimic-h3 mb-2">Reloaded Special Offers</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block"></div>
	        </div>
	        <a href="/offers" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2" data-aos="fade-up"  data-aos-delay="100" >View Offers</button>
	        </a>
	      </div>
	    </div>
	  	<div class="col-lg-4 col-md-9 mb-5 d-none d-md-block">
	      <div class="armoury-option text-center">
	        <picture>
	          <source srcset="/img/venues/temp/armoury8.webp" type="image/webp"/> 
	          <source srcset="/img/venues/temp/armoury8.jpg" type="image/jpeg"/> 
	          <img src="/img/venues/temp/armoury8.jpg" type="image/jpeg" width="350" height="350" alt="Parties & Venue Hire at The Armoury - Haymarket Belfast" class="lazy w-100 h-auto op-45" data-aos="fade-up" data-aos-delay="200" />
	        </picture>
	        <div class="card px-3 py-4 mx-auto" data-aos="fade-up" data-aos-delay="200">
	          <p class="mimic-h3 mb-2">Parties & Venue Hire</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block"></div>
	        </div>
	        <a href="/parties" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2" data-aos="fade-up" data-aos-delay="200">Request a booking</button>
	        </a>
	      </div>
	    </div>
	  </div> -->
	</div>
</template>
<script>
	import { ref } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	const armouryoptionscarousel = ref(null);
	export default {
		components: { 
	  	Carousel,
      Slide,
      Pagination,
      Navigation,
	  },
		props: { 
	  	text: String,
	  	bg: String,
	  	lines: String,
	  	food: String,
	  	foodtitle: String,
	  	cocktails: String,
	  	cocktailtitle: String
	  },
    mounted(){

    },
    methods:{
    	scrollToBookNow(){
				$('html, body').animate({
	        scrollTop: $("#bookonline").offset().top -100
	      }, 500);
    	}
    }
	}
</script>
<style lang="scss">
.armoury-option{
	.card{
		width: 90%;
		// margin-top: -85px;
		p.mimic-h3{
			font-size: 2rem;
		}
		&.less-margin{
			margin-top: -45px;
		}
	}
	.btn{
		width: 70%;
		margin-top: -25px;
	}
}

#armoury-options{
	width: 100%;
	max-width: 1110px;
	.armoury-slide {
  	position: relative;
	  width: 1110px;
	  max-width: 1110px;
	  overflow: hidden;
	  img{
	  	max-width: 1110px;
	  	z-index: 1;
	  	width: 100%;
	  	display: block;
	  }
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible !important;
	}
	.owl-theme{
		.owl-nav{
	    margin-top: 1rem;
	    margin-bottom: -30px;
	    position: absolute;
	    bottom: -4rem;
	    left: calc(50% - 155px);
	    height: 45px;
	    &.disabled{
	    	display: block !important;
	    }
			.owl-prev{
				margin-right: 250px;
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 19px;
				height: 16px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 0;
					background-image: url('$img/icons/pointer-left.svg');
					background-size: contain;
					width: 9px;
					height: 16px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 19px;
				height: 16px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					background-image: url('$img/icons/pointer-right.svg');
					background-size: contain;
					width: 9px;
					height: 16px;
					background-repeat: no-repeat;
				}
			}
		}
		.owl-dots{
		  width: 170px;
	    position: absolute;
	    bottom: -3.5rem;
	    left: calc(50% - 85px);
	    &.disabled{
	    	display: block !important;
	    }
		  .owl-dot{
				span{
					width: 30px;
			    height: 8px;
			    background: transparent;
			    border-radius: 0;
			    margin: 5px 2px;
			    border-top: 2px solid #fff;
			    border-bottom: 2px solid #fff;
				}
				&.active{
					span{
						border-top: 2px solid #D54148;
			    	border-bottom: 2px solid #D54148;
					}
				}
			}
		}
	}	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	.armoury-option .card p.mimic-h3{
		font-size: 1.6rem;
	}
	#armoury-options{
		width: 100%;
		.armoury-slide{
			width: 100%;
			img{
				width: 100% !important;
				height: auto;
			}
		}
		
	}
}
@media only screen and (max-width : 767px){
	#armoury-options{
		width: 100%;
		max-width: 100%;
		.armoury-slide{
			width: calc(100vw - 2rem);
			img{
				width: calc(100vw - 2rem)!important;
				height: calc(100vw - 6rem);
			}
		}
		.owl-theme .owl-dots{
	    margin: auto;
			width: 90px;
    	left: calc(50% - 45px);
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
		.owl-theme .owl-nav{
			margin: auto;
	    width: 100%;
	    bottom: -4rem;
	    left: 0;
	    height: 45px;
			.owl-prev{
				margin-right: 120px;
			}
		}
	}
}
</style>