<template>
	<div id="party-slideshow" class="">
		<carousel ref="christmascarousel" :mouse-drag="false" :wrapAround="true">
			<slide class="party-slide">
				<div>
					<picture>
            <source srcset="/img/christmas/party/1.webp" type="image/webp"/> 
            <source srcset="/img/christmas/party/1.jpg" type="image/jpeg"/> 
            <img src="/img/christmas/party/1.jpg" type="image/jpeg" alt="People saying cheers at a party at Haymarket Belfast" />
          </picture>
		    </div>
			</slide>
			<slide class="party-slide">
				<div>
					<picture>
            <source srcset="/img/christmas/party/2.webp" type="image/webp"/> 
            <source srcset="/img/christmas/party/2.jpg" type="image/jpeg"/> 
            <img src="/img/christmas/party/2.jpg" type="image/jpeg" alt="Christmas at Haymarket Belfast" />
          </picture>
		    </div>
		  </slide>
			<slide class="party-slide">
				<div>
					<picture>
            <source srcset="/img/christmas/party/3.webp" type="image/webp"/> 
            <source srcset="/img/christmas/party/3.jpg" type="image/jpeg"/> 
            <img src="/img/christmas/party/3.jpg" type="image/jpeg" alt="Christmas at Haymarket Belfast" />
          </picture>
		    </div>
			</slide>
			<template #addons>
	      <navigation />
        <pagination />
	    </template>
		</carousel>

	</div>
</template>x
<script>
		import { ref } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	const christmascarousel = ref(null);
	export default {
		components: { 
	  	Carousel,
      Slide,
      Pagination,
      Navigation,
	  },
		props: { 
	  	text: String,
	  	bg: String,
	  	lines: String
	  },
	  data() {
			return {
				errors: {},
				success: false,
				loaded: true,
			}
		}
	}
</script>
<style lang="scss">
	$primary: #D54148;
#party-slideshow{
	width: 100%;
	max-width: 1110px;
	ol li{
		padding-left: 0;
		&:before{
			display: none;
		}
	}
	.party-slide {
  	position: relative;
	  width: 1110px;
	  max-width: 1110px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  overflow: hidden;
	  cursor: pointer;
	  img{
	  	max-width: 1110px;
	  	z-index: 1;
	  	position: relative;
	  	width: 100%;
	  	display: block;
	  	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
	  }
	}
	.carousel__pagination{
    position: absolute;
    bottom: -85px;
    left: 40px;
    .carousel__pagination-button::after{
      width: 18px;
    }
    .carousel__pagination-button:hover::after, 
    .carousel__pagination-button--active::after{
      background-color: $primary;
    }
  }
  .carousel__prev{
    position: absolute;
    width: 50px;
    height: 50px;
    top: auto;
    bottom: -100px;
    left: -10px;
    border-radius: 100%;
    color: $primary;
    svg{
    	fill: $primary;
    }
  }
  .carousel__next{
    position: absolute;
    width: 50px;
    height: 50px;
    top: auto;
    bottom: -100px;
    left: 150px;
    border-radius: 100%;
    color: $primary;
    svg{
    	fill: $primary;
    }
  }
}

@media only screen and (max-width : 768px){
	#party-slideshow{
		width: 100%;
		.party-slide{
			width: calc(100vw - 1.5rem);
			height: 54vw;
			img{
				width: calc(100vw - 1.5rem) !important;
				height: auto
			}
		}
		.owl-theme .owl-dots{
	    margin: auto;
			width: 52vw;
			bottom: -3.5rem;
    	left: calc(50% - 24vw);
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
		.owl-theme .owl-nav{
			margin: auto;
	    width: 100%;
	    bottom: -4rem;
	    left: 0;
	    height: 45px;
			.owl-prev{
				margin-right: 50vw;
			}
		}
	}
}
</style>