<template>
  <footer class="container-fluid text-center text-lg-left position-relative z-3 ">
    <div class="row">
      <div class="container mb-5 mob-mb-0 mob-bg-market bg-contain-center mob-py-4 mob-mb-4">
        <div class="row mb-4 mob-mb-0">
          
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-4 mb-5">
                <div class="pre-title-lines mb-4 mob-mx-auto" v-if="pagetype != 'boozy-brunch-club'"></div>
                <div class="pre-title-lines lines-dark mb-4 mob-mx-auto" v-else></div>
                <p class="mimic-h3 mb-4">Find Us</p>
                <p><a href="https://www.google.com/maps/dir//haymarket+belfast/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x4861095ef56dd2d9:0x7272466393a309bb?sa=X&ved=2ahUKEwjkqMvPwbzxAhVloFwKHXg_CQ4Q9RcwAHoECAcQBA" rel="noreferrer" target="_blank" :class="{'text-dark':(pagetype === 'boozy-brunch-club')}">84 Royal Avenue,<br/>Belfast, BT1 1DJ</a></p>
              </div>
              <div class="col-lg-4 mb-5">
                <p class="line-height-1">
                  <div class="pre-title-lines mb-4 mob-mx-auto" v-if="pagetype != 'boozy-brunch-club'"></div>
                  <div class="pre-title-lines lines-dark mb-4 mob-mx-auto" v-else></div>
                  <p class="mimic-h3 mb-4">Get In Touch</p>
                  <a class="d-inline-block pb-3" href="tel:02896923061">028 96 923 061</a><br/>
                  <a href="mailto:info@haymarketbelfast.com" :class="{'text-dark':(pagetype === 'boozy-brunch-club')}">info@haymarketbelfast.com</a>
                </p>
                <p>
                  <a href="http://www.instagram.com/haymarketbelfast" rel="noreferrer" target="_blank" aria-label="Instagram" :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><i class="fa fa-instagram"></i></a>
                  <a href="http://www.facebook.com/HaymarketBelfast" rel="noreferrer" target="_blank" aria-label="Facebook" :class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><i class="fa fa-facebook ml-3"></i></a>
                  <a href="https://www.tiktok.com/discover/haymarket-belfast" target="_blank" rel="noreferrer" aria-label="TikTok":class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><i class="fa-brands fa-tiktok ml-3"></i></a>
                  <a href="https://www.linkedin.com/company/haymarket-belfast" target="_blank" rel="noreferrer" aria-label="LinkedIn":class="{'text-dark':(pagetype === 'boozy-brunch-club')}"><i class="fa-brands fa-linkedin ml-3"></i></a>
                </p>
              </div>
              <div class="col-lg-4 pr-5 d-none d-lg-block mb-5">
              <picture v-if="pagetype != 'boozy-brunch-club' && pagetype != 'bottomless-brunch'">
                <source v-lazy:srcset="'/img/graphics/marketstall.webp'" type="image/webp"/> 
                <source v-lazy:srcset="'/img/graphics/marketstall.png'" type="image/png"/> 
                <img v-lazy="'/img/graphics/marketstall.png'" type="image/png" alt="Book a table at Belfast's newest indoor & outdoor dining - Haymarket Belfast" class="lazy w-100 op-45" />
              </picture>
              <picture v-else>
                <source v-lazy:srcset="'/img/graphics/marketstall-dark.webp'" type="image/webp"/> 
                <source v-lazy:srcset="'/img/graphics/marketstall-dark.png'" type="image/png"/> 
                <img v-lazy="'/img/graphics/marketstall-dark.png'" type="image/png" alt="Book a table at Belfast's newest indoor & outdoor dining - Haymarket Belfast" class="lazy w-100 op-45" />
              </picture>
            </div>
            </div>
            <div class="row half_row">
              <div class="col-lg-4 half_col mob-mt-3">
                <opening-hours-courtyard :pagetype="pagetype"></opening-hours-courtyard>
              </div>
              <div class="col-lg-4 half_col mob-mt-3">
                <opening-hours-armoury :pagetype="pagetype"></opening-hours-armoury>
              </div>
              <div class="col-lg-4 half_col mob-mt-3">
                <opening-hours-stock :pagetype="pagetype"></opening-hours-stock>
              </div>
            </div>

          </div>
        </div>
        <p class="text-primary text-center mt-4">Card Payments only</p>
      </div>
    </div>
    
    <div class="row mob-mb-3">
      <div id="lazy-component-wrapper" class="w-100">
        <contact-page-map v-if="pagetype != 'christmas' && pagetype != 'boozy-brunch-club' && pagetype != 'bottomless-brunch' && pagetype != 'win-or-booze' && pagetype != 'throwback-thursday' && pagetype != 'fridays' && pagetype != 'saturdays' && pagetype != 'peep-show' && pagetype != 'summer-sips' && isVisible"></contact-page-map>
      </div>
      <div class="col-lg-6 text-lg-left text-center my-2 mob-mt-3">
        <p class="text-smallest mb-0">&copy;2022 Haymarket Belfast <span class="d-none d-lg-inline"> - </span> <br class="d-lg-none" /><a href="/vouchers" :class="{'text-dark':(pagetype === 'boozy-brunch-club')}">Vouchers</a> | <a href="/faqs" :class="{'text-dark':(pagetype === 'boozy-brunch-club')}">FAQs</a> | <a href="/terms-and-conditions" :class="{'text-dark':(pagetype === 'boozy-brunch-club')}">Terms & Conditions</a> | <a href="/privacy-policy" :class="{'text-dark':(pagetype === 'boozy-brunch-club')}">Privacy Policy</a></p>
      </div>
      <div class="col-lg-6 text-lg-right text-center my-2 mob-my-0">
        <p class="text-smallest mb-0 mob-mb-3">Website by <a href="https://elementseven.co" rel="noopener" target="_blank" :class="{'text-dark':(pagetype === 'boozy-brunch-club')}">Element Seven</a></p> 
      </div>
    </div>
  </footer>
</template>
<script>
  import { ref, onMounted } from 'vue';
  import OpeningHoursCourtyard from './Contact/OpeningHoursCourtyard.vue';
  import OpeningHoursArmoury from './Contact/OpeningHoursArmoury.vue';
  import OpeningHoursStock from './Contact/OpeningHoursStock.vue';
  import ContactPageMap from './Contact/ContactPageMap.vue';
  export default {
    components:{
      OpeningHoursCourtyard,
      OpeningHoursArmoury,
      OpeningHoursStock,
      ContactPageMap
    },
    setup() {
      const isVisible = ref(false);
      
      const observer = new IntersectionObserver(
        ([entry]) => {
          if (entry.isIntersecting) {
            isVisible.value = true;
            observer.disconnect();
          }
        },
        { threshold: 0.1 }
      );

      onMounted(() => {
        const element = document.querySelector('#lazy-component-wrapper');
        observer.observe(element);
      });

      return { isVisible };
    },
    props: {
      pagetype: String,
      text: String,
      lines: String
    },
  }
</script>
<style lang="scss">
  footer{
    a{
      color: #fff;
      &:hover{
        color: #D54148;
      }
    }
    .op-45{
      opacity: 0.45;
    }
    p.mimic-h3{
      font-size: 1.8rem;
    }
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
      footer{

      }
  }
  @media only screen and (max-width : 767px){
    footer{
      p.mimic-h3{
        font-size: 8vw;
      }
    }
  }
</style>