<template>
	<div id="party-slideshow" class="">
		<carousel ref="imagecarousel" :mouse-drag="false" :wrapAround="true">
			<slide v-for="(imagePath, index) in validImages" :key="index" class="party-slide">
				<div>
					<picture>
						<source :srcset="imagePath + '.webp'" type="image/webp"/> 
						<source :srcset="imagePath + '.jpg'" type="image/jpeg"/> 
						<img 
							:src="imagePath + '.jpg'" 
							type="image/jpeg" 
							:alt="'Slide ' + (index + 1)"
							@error="handleImageError" />
					</picture>
				</div>
			</slide>
			<template #addons>
				<div class="controls-wrapper">
					<navigation />
					<pagination />
				</div>
			</template>
		</carousel>
	</div>
</template>

<script>
	import { ref, computed } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';

	export default {
		components: { 
			Carousel,
			Slide,
			Pagination,
			Navigation,
		},
		props: { 
			text: String,
			bg: String,
			lines: String,
			images: {
				type: Array,
				required: true,
				default: () => []
			}
		},
		setup(props) {
			const imagecarousel = ref(null);
			
			// Filter out any undefined or null values
			const validImages = computed(() => 
				props.images.filter(img => img != null && img !== undefined)
			);

			return { 
				imagecarousel,
				validImages
			};
		},
		methods: {
			handleImageError(e) {
				console.warn(`Failed to load image: ${e.target.src}`);
			}
		}
	}
</script>

<style lang="scss">
	$primary: #D54148;

	#party-slideshow {
		width: 100%;
		max-width: 1110px;

		ol li {
			padding-left: 0;
			margin-bottom: 0;

			&:before{
				display: none;
			}
		}

		.party-slide {
			position: relative;
			width: 1110px;
			max-width: 1110px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			border-radius: 0;
			text-align: left;
			vertical-align: top;
			overflow: hidden;
			cursor: pointer;

			img{
				max-width: 1110px;
				z-index: 1;
				position: relative;
				width: 100%;
				display: block;
				-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
				-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
				box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			}
		}

		.controls-wrapper {
			width: 100%;
			position: absolute;
			bottom: -85px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;

			button {
				position: static;
				border-radius: 100%;
				color: #fff;
				transform: none;

				svg {
					fill: #fff;
				}

				&.carousel__next {
					order: 3;
				}
			}

			.carousel__pagination {
				position: static;
				margin: 0;
				padding: 0;

				.carousel__pagination-button::after{
					width: 18px;
					background-color: rgba(255,255,255,0.5);
				}

				.carousel__pagination-button:hover::after, 
				.carousel__pagination-button--active::after{
					background-color: $primary;
				}
			}
		}
	}

@media only screen and (max-width : 768px){
	#party-slideshow{
		width: 100%;
		.party-slide{
			width: calc(100vw - 1.5rem);
			height: 54vw;
			img{
				width: calc(100vw - 1.5rem) !important;
				height: auto
			}
		}
		.owl-theme .owl-dots{
	    margin: auto;
			width: 52vw;
			bottom: -3.5rem;
    	left: calc(50% - 24vw);
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
		.owl-theme .owl-nav{
			margin: auto;
	    width: 100%;
	    bottom: -4rem;
	    left: 0;
	    height: 45px;
			.owl-prev{
				margin-right: 50vw;
			}
		}
	}
}
</style>