<template>
	<div class="row half_row">
		<div class="col-lg-3 col-6 half_col mb-3">
			<picture>
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/1.webp?d=2024-08-12'" type="image/webp"/> 
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/1.jpg?d=2024-08-12'" type="image/jpeg"/> 
        <img v-lazy="'https://haymarketbelfast.com/img/instagram/1.jpg?d=2024-08-12'" type="image/jpeg" alt="Haymarket belfast instagram picture 1" class="w-100 h-auto" width="266" height="266" />
      </picture>
		</div>
		<div class="col-lg-3 col-6 half_col mb-3">
			<picture>
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/2.webp?d=2024-08-12'" type="image/webp"/> 
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/2.jpg?d=2024-08-12'" type="image/jpeg"/> 
        <img v-lazy="'https://haymarketbelfast.com/img/instagram/2.jpg?d=2024-08-12'" type="image/jpeg" alt="Haymarket belfast instagram picture 2" class="w-100 h-auto" width="266" height="266" />
      </picture>
		</div>
		<div class="col-lg-3 col-6 half_col mb-3">
			<picture>
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/3.webp?d=2024-08-12'" type="image/webp"/> 
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/3.jpg?d=2024-08-12'" type="image/jpeg"/> 
        <img v-lazy="'https://haymarketbelfast.com/img/instagram/3.jpg?d=2024-08-12'" type="image/jpeg" alt="Haymarket belfast instagram picture 3" class="w-100 h-auto" width="266" height="266" />
      </picture>
		</div>
		<div class="col-lg-3 col-6 half_col mb-3">
			<picture>
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/4.webp?d=2024-08-12'" type="image/webp"/> 
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/4.jpg?d=2024-08-12'" type="image/jpeg"/> 
        <img v-lazy="'https://haymarketbelfast.com/img/instagram/4.jpg?d=2024-08-12'" type="image/jpeg" alt="Haymarket belfast instagram picture 4" class="w-100 h-auto" width="266" height="266" />
      </picture>
		</div>
		<div class="col-lg-3 col-6 half_col mb-3">
			<picture>
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/5.webp?d=2024-08-12'" type="image/webp"/> 
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/5.jpg?d=2024-08-12'" type="image/jpeg"/> 
        <img v-lazy="'https://haymarketbelfast.com/img/instagram/5.jpg?d=2024-08-12'" type="image/jpeg" alt="Haymarket belfast instagram picture 5" class="w-100 h-auto" width="266" height="266" />
      </picture>
		</div>
		<div class="col-lg-3 col-6 half_col mb-3">
			<picture>
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/6.webp?d=2024-08-12'" type="image/webp"/> 
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/6.jpg?d=2024-08-12'" type="image/jpeg"/> 
        <img v-lazy="'https://haymarketbelfast.com/img/instagram/6.jpg?d=2024-08-12'" type="image/jpeg" alt="Haymarket belfast instagram picture 6" class="w-100 h-auto" width="266" height="266" />
      </picture>
		</div>
		<div class="col-lg-3 col-6 half_col mb-3">
			<picture>
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/7.webp?d=2024-08-12'" type="image/webp"/> 
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/7.jpg?d=2024-08-12'" type="image/jpeg"/> 
        <img v-lazy="'https://haymarketbelfast.com/img/instagram/7.jpg?d=2024-08-12'" type="image/jpeg" alt="Haymarket belfast instagram picture 7" class="w-100 h-auto" width="266" height="266" />
      </picture>
		</div>
		<div class="col-lg-3 col-6 half_col mb-3">
			<picture>
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/8.webp?d=2024-08-12'" type="image/webp"/> 
        <source v-lazy:srcset="'https://haymarketbelfast.com/img/instagram/8.jpg?d=2024-08-12'" type="image/jpeg"/> 
        <img v-lazy="'https://haymarketbelfast.com/img/instagram/8.jpg?d=2024-08-12'" type="image/jpeg" alt="Haymarket belfast instagram picture 8" class="w-100 h-auto" width="266" height="266" />
      </picture>
		</div>
	</div>
</template>
<script>
	export default {
	  data() {
	    return {
	      errors: {},
	      success: false,
	      loaded: true,
	      posts: 8,
	      limit: 1,
	      page: 1,
	      category: "*",
	      loadmore: true,
	    }
	  },
	  mounted(){
	    // this.getPosts();
	  },
	  methods: {
	    // changeCategory(val){
	    //   this.category = val;
	    //   this.getPosts();
	    // },
	    // loadMore(){
	    //   this.page++;
	    //   this.morePosts();
	    // },
	    // getPosts(page = 1) {
	      
	    //   if (this.loaded) {

	    //     this.loaded = false;
	    //     this.success = false;
	    //     this.errors = {};
	    //     this.offset = 0;
	    //     this.loadmore = true;
	    //     this.page = 1;
	    //     axios.get('/instagram').then(response => {
	    //       // Empty fields and enable success message
	    //       this.loaded = true;
	    //       this.success = true;
	    //       this.posts = response.data.data;
	    //       console.log(this.response);
	    //     })
	    //     .catch(error => {
	    //       // Error handling
	    //       this.loaded = true;
	    //       console.log(error.response);
	    //     });
	    //   }
	    // },
	  },
	}
</script>