<template>
  <div id="loader">
    <div class="vert-mid">
    	<img id="loader-success" src="/img/icons/success.svg" class="d-none mx-auto" width="80" alt="Success icon"/>
        <div id="loader-roller" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div id="loader-message"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                  <p id="loader-second-text" class="mt-3 d-none cursor-pointer"></p>
                </div>
                <div class="col-lg-4">
                  <div id="close-loader-btn" class="btn btn-primary mx-auto d-none mt-3">Close</div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>
<script>
  export default {
    mounted(){
      document.getElementById('close-loader-btn').addEventListener('click', function() {
        document.getElementById('loader').classList.remove('on');
        document.getElementById('loader-message').innerHTML = '';
        document.getElementById('close-loader-btn').classList.remove('d-block');
        document.getElementById('close-loader-btn').classList.add('d-none');
        document.getElementById('loader-roller').classList.remove('d-none');
        document.getElementById('loader-roller').classList.add('d-block');
        document.getElementById('loader-success').classList.remove('d-block');
        document.getElementById('loader-success').classList.add('d-none');
        document.getElementById('loader').classList.remove('on');
      });

    }
  }
</script>