<template>
	<div class="mailing-list-signup card px-4 mob-px-0 py-5 mob-py-4" :style="'background-color:'+bg+';'">
		<div class="container position-relative z-2" :class="bg">
			<div class="row justify-content-center pt-4">
				<div class="col-12 text-center">
					<p class="mimic-h3 mb-4" :style="'color:'+text+';'">Join The List</p>
				</div>
				<div class="col-lg-8 mob-px-4">
					<form :id="id +'mailinglist-signup'" @submit.prevent="submit" class="row text-left">
						<div class="form-group col-md-8 pr-0 mob-px-3 mob-mb-1 position-relative">
							<input :id="id +'ml-email'" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email"/>
							<div v-if="errors && errors.email" class="text-primary text-center text-lg-left">{{ errors.email[0] }}</div>
							<button type="submit" class="mob-subscribe-btn d-md-none"><i class="fa fa-check"></i></button>
						</div>
						<div class="col-md-4 pl-0 mob-px-3 d-none d-md-block">
							<button type="submit" class="btn btn-primary">Subscribe</button>
						</div>
					</form>
				</div>
				<div class="col-12 text-center mob-px-4">
					<p class="text-small" :style="'color:'+text+';'">*By joining the mailing list you agree to our <a href="/terms-and-conditions">terms and conditions</a> & <a href="/privacy-policy">Privacy Policy</a>.</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			bg: String,
			id: String,
	  	text: String,
	  	bg: String
	  },
		data() {
			return {
				fields: {
					email: ""
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods: {
			messageSent(){
        this.fields = {};
      },
      submit() {
      	if (this.loaded) {
      		$('#recaptcha-error').html('');
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Joining";

      		axios.post('/mailinglist', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Mailing list joined successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	        })
      		.catch(error => {
	         // Error handling
	         console.log(error.response);
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>
<style lang="scss">
	.mailing-list-signup{
		input{
			height: 60px !important;
			border: 0;
		}
		button.btn{
			max-width: 100% !important;
			min-width: 100% !important;
			height: 60px;
			padding: 13px 15px; 
		}
		.mob-subscribe-btn{
			width: 50px;
			height: 50px;
			background-color: #D54148;
			color: #fff;
			padding: 10px;
			font-size: 20px;
			text-align: center;
			position: absolute;
			top: 0;
			right: 1rem;
			border: 0;
			outline: 0;
			box-shadow: none;
		}
	}
	@media only screen and (max-width : 767px){
		.mailing-list-signup{
			input{
				width: calc(100% - 50px);
				height: 50px !important;
			}
		}
	}
</style>