<template>
	<div class="container position-relative z-1">
		<div class="row justify-content-center pt-5">				
	    <div class="col-lg-4 col-md-9 mb-5">
	      <div class="seating-option text-center">
	        <picture>
	          <source srcset="/img/home/street-food.webp?v3.0" type="image/webp"/> 
	          <source srcset="/img/home/street-food.jpg?v3.0" type="image/jpeg"/> 
	          <img src="/img/home/street-food.jpg?v3.0" type="image/jpeg" width="350" height="350" alt="Street Food at Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45" />
	        </picture>
	        <div class="card p-4 mx-auto" :style="'background-color:'+bg+';'">
	          <p class="mimic-h3 mb-2" :style="'color:'+text+';'" v-if="foodtitle">{{foodtitle}}</p>
	          <p class="mimic-h3 mb-2" :style="'color:'+text+';'" v-else>Street Food</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block" :style="'border-top: 2px solid '+lines+'; border-bottom: 2px solid '+ lines +';'"></div>
	        </div>
	        <a v-if="food" :href="food" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2">Food Menu</button>
	        </a>
	        <a v-else href="/menu" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2">Food Menu</button>
	        </a>
				</div>
	    </div>
	  	<div class="col-lg-4 col-md-9 mb-5">
	      <div class="seating-option text-center">
	        <picture>
	          <source srcset="/img/home/cocktails.webp" type="image/webp"/> 
	          <source srcset="/img/home/cocktails.jpg" type="image/jpeg"/> 
	          <img src="/img/home/cocktails.jpg" type="image/jpeg" width="350" height="350" alt="Beer & Cocktails at Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45" />
	        </picture>
	        <div class="card p-4 mx-auto" data-aos-delay="100" :style="'background-color:'+bg+';'">
	        	<p class="mimic-h3 mb-2" :style="'color:'+text+';'" v-if="cocktailtitle">{{cocktailtitle}}</p>
	          <p class="mimic-h3 mb-2" :style="'color:'+text+';'" v-else>Cocktail<br/>Menu</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block" :style="'border-top: 2px solid '+lines+'; border-bottom: 2px solid '+ lines +';'"></div>
	        </div>
	        <a v-if="cocktails" :href="cocktails" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2" >Cocktail Menu</button>
	        </a>
	        <a v-else href="/drinks-menu" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2" >Cocktail Menu</button>
	        </a>
	      </div>
	    </div>
	  	<div class="col-lg-4 col-md-9 mb-5">
	      <div class="seating-option text-center">
	        <picture>
	          <source srcset="/img/home/parties.webp" type="image/webp"/> 
	          <source srcset="/img/home/parties.jpg" type="image/jpeg"/> 
	          <img src="/img/home/parties.jpg" type="image/jpeg" width="350" height="350" alt="Private Venue Hire at Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45" />
	        </picture>
	        <div class="card p-4 mx-auto" :style="'background-color:'+bg+';'">
	          <p class="mimic-h3 mb-2" :style="'color:'+text+';'">Parties &<br/>Groups</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block" :style="'border-top: 2px solid '+lines+'; border-bottom: 2px solid '+ lines +';'"></div>
	        </div>
	        <a href="/docs/parties.pdf?v=2025-01-10" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2">Brouchure</button>
	        </a>
	      </div>
	    </div>
	  </div>
	</div>
</template>
<script>
	export default {
		props: { 
	  	text: String,
	  	bg: String,
	  	lines: String,
	  	food: String,
	  	foodtitle: String,
	  	cocktails: String,
	  	cocktailtitle: String
	  },
    mounted(){

    },
    methods:{
    	scrollToBookNow(){
	      var targetElement = document.getElementById("bookonline");
        var offset = 100;
        var targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset;
        window.scrollTo({
          top: targetPosition - offset,
          behavior: 'smooth'
        });
    	}
    }
	}
</script>
<style lang="scss">
.seating-option{
	.card{
		width: 80%;
		margin-top: -85px;
		p.mimic-h3{
			font-size: 2.1rem;
		}
		&.less-margin{
			margin-top: -45px;
		}
	}
	.btn{
		width: 70%;
		margin-top: -25px;
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	.seating-option .card p.mimic-h3{
		font-size: 1.6rem;
	}
}
@media only screen and (max-width : 767px){
	
}
</style>