<template>
	<div class="container position-relative z-1">
		<div class="row justify-content-center pt-5">
	    <div class="col-lg-4 col-md-9 mb-5">
	      <div class="seating-option text-center">
	        <picture>
	          <source srcset="/img/home/street-food.webp?v3.0" type="image/webp"/> 
	          <source srcset="/img/home/street-food.jpg?v3.0" type="image/jpeg"/> 
	          <img src="/img/home/street-food.jpg?v3.0" type="image/jpeg" width="350" height="350" alt="Street Food at Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45"  />
	        </picture>
	        <div class="card p-4 mx-auto"  :style="'background-color:'+bg+';'">
	          <p class="mimic-h3 mb-2" :style="'color:'+text+';'">Brunch Menu</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block" :style="'border-top: 2px solid '+lines+'; border-bottom: 2px solid '+ lines +';'"></div>
	        </div>
	        <a v-if="food" :href="food" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2" >Food Menu</button>
	        </a>
	        <a v-else href="/menu" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2" >Food Menu</button>
	        </a>
				</div>
	    </div>
	  	<div class="col-lg-4 col-md-9 mb-5">
	      <div class="seating-option text-center">
	        <picture>
	          <source srcset="/img/home/cocktails.webp" type="image/webp"/> 
	          <source srcset="/img/home/cocktails.jpg" type="image/jpeg"/> 
	          <img src="/img/home/cocktails.jpg" type="image/jpeg" width="350" height="350" alt="Beer & Cocktails at Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45"    />
	        </picture>
	        <div class="card p-4 mx-auto"   :style="'background-color:'+bg+';'">
	          <p class="mimic-h3 mb-2" :style="'color:'+text+';'">Brunch Drinks</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block" :style="'border-top: 2px solid '+lines+'; border-bottom: 2px solid '+ lines +';'"></div>
	        </div>
	        <a v-if="cocktails" :href="cocktails" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2"    >Drinks Menu</button>
	        </a>
	        <a v-else href="/drinks-menu" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2"    >Drinks Menu</button>
	        </a>
	      </div>
	    </div>
	  	<div class="col-lg-4 col-md-9 mb-5">
	      <div class="seating-option text-center">
	        <picture>
	          <source srcset="/img/home/beer-and-cocktails-2.webp" type="image/webp"/> 
	          <source srcset="/img/home/beer-and-cocktails-2.jpg" type="image/jpeg"/> 
	          <img src="/img/home/beer-and-cocktails-2.jpg" type="image/jpeg" width="350" height="350" alt="Private Venue Hire at Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45"  />
	        </picture>
	        <div class="card p-4 mx-auto"  :style="'background-color:'+bg+';'">
	          <p class="mimic-h3 mb-2" :style="'color:'+text+';'">Drinks<br>Menu</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block" :style="'border-top: 2px solid '+lines+'; border-bottom: 2px solid '+ lines +';'"></div>
	        </div>
	        <a href="/docs/drinks-menu.pdf?v=2023-08-25" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2" >Drinks Menu</button>
	        </a>
	      </div>
	    </div>
	  </div>
	</div>
</template>
<script>
	export default {
		props: { 
	  	text: String,
	  	bg: String,
	  	lines: String,
	  	food: String,
	  	cocktails: String
	  },
    mounted(){

    },
    methods:{
    	scrollToBookNow(){
	      var targetElement = document.getElementById("bookonline");
        var offset = 100;
        var targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset;
        window.scrollTo({
          top: targetPosition - offset,
          behavior: 'smooth'
        });
    	}
    }
	}
</script>
<style lang="scss">
	.boozy-brunch-club{
		#seating-slider .owl-theme .owl-dots .owl-dot span{
			border-top: 2px solid #000;
  		border-bottom: 2px solid #000;
		}
		#seating-slider .owl-theme .owl-nav .owl-prev:after{
			background-image: url('$img/icons/pointer-left-dark.svg');
		}
		#seating-slider .owl-theme .owl-nav .owl-next:after{
			background-image: url('$img/icons/pointer-right-dark.svg');
		}
	}
.seating-option{
	.card{
		width: 80%;
		margin-top: -85px;
		p.mimic-h3{
			font-size: 2.1rem;
		}
		&.less-margin{
			margin-top: -45px;
		}
	}
	.btn{
		width: 70%;
		margin-top: -25px;
	}
}

#seating-slider{
	width: 100%;
	max-width: 1110px;
	.seating-slide {
  	position: relative;
	  width: 1110px;
	  max-width: 1110px;
	  overflow: hidden;
	  img{
	  	max-width: 1110px;
	  	z-index: 1;
	  	width: 100%;
	  	display: block;
	  }
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible !important;
	}
	.owl-theme{
		.owl-nav{
	    margin-top: 1rem;
	    margin-bottom: -30px;
	    position: absolute;
	    bottom: -4rem;
	    left: calc(50% - 155px);
	    height: 45px;
	    &.disabled{
	    	display: block !important;
	    }
			.owl-prev{
				margin-right: 250px;
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 19px;
				height: 16px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 0;
					background-image: url('$img/icons/pointer-left.svg');
					background-size: contain;
					width: 9px;
					height: 16px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 19px;
				height: 16px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					background-image: url('$img/icons/pointer-right.svg');
					background-size: contain;
					width: 9px;
					height: 16px;
					background-repeat: no-repeat;
				}
			}
		}
		.owl-dots{
		  width: 170px;
	    position: absolute;
	    bottom: -3.5rem;
	    left: calc(50% - 85px);
	    &.disabled{
	    	display: block !important;
	    }
		  .owl-dot{
				span{
					width: 30px;
			    height: 8px;
			    background: transparent;
			    border-radius: 0;
			    margin: 5px 2px;
			    border-top: 2px solid #fff;
			    border-bottom: 2px solid #fff;
				}
				&.active{
					span{
						border-top: 2px solid #D54148;
			    	border-bottom: 2px solid #D54148;
					}
				}
			}
		}
	}	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	.seating-option .card p.mimic-h3{
		font-size: 1.6rem;
	}
	#seating-slider{
		width: 100%;
		.seating-slide{
			width: 100%;
			img{
				width: 100% !important;
				height: auto;
			}
		}
		
	}
}
@media only screen and (max-width : 767px){
	#seating-slider{
		width: 100%;
		max-width: 100%;
		.seating-slide{
			width: calc(100vw - 2rem);
			img{
				width: calc(100vw - 2rem)!important;
				height: calc(100vw - 6rem);
			}
		}
		.owl-theme .owl-dots{
	    margin: auto;
			width: 90px;
    	left: calc(50% - 45px);
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
		.owl-theme .owl-nav{
			margin: auto;
	    width: 100%;
	    bottom: -4rem;
	    left: 0;
	    height: 45px;
			.owl-prev{
				margin-right: 120px;
			}
		}
	}
}
</style>