<template>
	<div class="container container-wide position-relative z-1">
		<div class="row justify-content-center pt-5">				
	    <div class="col-lg-3 col-md-6 mb-5">
	      <div class="seating-option text-center">
	        <picture>
	          <source v-lazy:srcset="'/img/venues/stock/food.webp'" type="image/webp"/> 
	          <source v-lazy:srcset="'/img/venues/stock/food.jpg'" type="image/jpeg"/> 
	          <img v-lazy="'/img/venues/stock/food.jpg'" type="image/jpeg" width="350" height="350" alt="Food at The Armoury - Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45" />
	        </picture>
	        <div class="card p-4 mx-auto" :style="'background-color:'+bg+';'">
	          <p class="mimic-h3 mb-2" :style="'color:'+text+';'" v-if="foodtitle">{{foodtitle}}</p>
	          <p class="mimic-h3 mb-2" :style="'color:'+text+';'" v-else>Food <br/>Menu</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block" :style="'border-top: 2px solid '+lines+'; border-bottom: 2px solid '+ lines +';'"></div>
	        </div>
	        <a href="https://haymarketbelfast.com/stock-food-menu" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2">Download Menu</button>
	        </a>
				</div>
	    </div>
	  	<div class="col-lg-3 col-md-6 mb-5">
	      <div class="seating-option text-center">
	        <picture>
	          <source v-lazy:srcset="'/img/venues/stock/drinks.webp'" type="image/webp"/> 
	          <source v-lazy:srcset="'/img/venues/stock/drinks.jpg'" type="image/jpeg"/> 
	          <img v-lazy="'/img/venues/stock/drinks.jpg'" type="image/jpeg" width="350" height="350" alt="Drinks at The Armoury - Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45" />
	        </picture>
	        <div class="card p-4 mx-auto" data-aos-delay="100" :style="'background-color:'+bg+';'">
	        	<p class="mimic-h3 mb-2" :style="'color:'+text+';'" v-if="cocktailtitle">{{cocktailtitle}}</p>
	          <p class="mimic-h3 mb-2" :style="'color:'+text+';'" v-else>Drinks<br/>Menu</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block" :style="'border-top: 2px solid '+lines+'; border-bottom: 2px solid '+ lines +';'"></div>
	        </div>
	        <a href="https://haymarketbelfast.com/stock-drinks-menu" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2" >Download Menu</button>
	        </a>
	      </div>
	    </div>
	    <div class="col-lg-3 col-md-6 mb-5" v-if="activity != 'bar'">
	      <div class="seating-option text-center">
	      	<picture v-if="activity == 'darts'">
	          <source v-lazy:srcset="'/img/venues/stock/celebration-packages-darts.webp'" type="image/webp"/> 
	          <source v-lazy:srcset="'/img/venues/stock/celebration-packages-darts.jpg'" type="image/jpeg"/> 
	          <img v-lazy="'/img/venues/stock/celebration-packages-darts.jpg'" type="image/jpeg" width="350" height="350" alt="Packages ar The Stock Exchange - Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45" />
	        </picture>
	        <picture v-else-if="activity == 'shuffle'">
	          <source v-lazy:srcset="'/img/venues/stock/celebration-packages-shuffle.webp'" type="image/webp"/> 
	          <source v-lazy:srcset="'/img/venues/stock/celebration-packages-shuffle.jpg'" type="image/jpeg"/> 
	          <img v-lazy="'/img/venues/stock/celebration-packages-shuffle.jpg'" type="image/jpeg" width="350" height="350" alt="Packages ar The Stock Exchange - Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45" />
	        </picture>
	        <picture v-else>
	          <source v-lazy:srcset="'/img/venues/stock/celebration-packages.webp?v=2024-11-20'" type="image/webp"/> 
	          <source v-lazy:srcset="'/img/venues/stock/celebration-packages.jpg?v=2024-11-20'" type="image/jpeg"/> 
	          <img v-lazy="'/img/venues/stock/celebration-packages.jpg?v=2024-11-20'" type="image/jpeg" width="350" height="350" alt="celebration Packages ar The Armoury - Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45" />
	        </picture>
	        <div class="card p-4 mx-auto" :style="'background-color:'+bg+';'">
	          <p class="mimic-h3 mb-4" :style="'color:'+text+';'">Packages</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block" :style="'border-top: 2px solid '+lines+'; border-bottom: 2px solid '+ lines +';'"></div>
	        </div>
	        <a href="/docs/groups-stock-exchange.pdf?v=2025-01-08-v2" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2">Brochure</button>
	        </a>
	      </div>
	    </div>
	 <!--  	<div class="col-lg-3 col-md-6 mb-5">
	      <div class="seating-option text-center">
	        <picture>
	          <source v-lazy:srcset="'/img/venues/stock/corporate-packages.webp'" type="image/webp"/> 
	          <source v-lazy:srcset="'/img/venues/stock/corporate-packages.jpg'" type="image/jpeg"/> 
	          <img v-lazy="'/img/venues/stock/corporate-packages.jpg'" type="image/jpeg" width="350" height="350" alt="Corporate Packages ar The Armoury - Haymarket Belfast Beer & Street Food" class="lazy w-100 h-auto op-45" />
	        </picture>
	        <div class="card p-4 mx-auto" :style="'background-color:'+bg+';'">
	          <p class="mimic-h3 mb-2" :style="'color:'+text+';'">Corporate<br/>Packages</p>
	          <div class="pre-title-lines mt-2 mb-4 mx-auto d-inline-block" :style="'border-top: 2px solid '+lines+'; border-bottom: 2px solid '+ lines +';'"></div>
	        </div>
	        <a href="/docs/stock/corp-packages.pdf?v=2024-09-02" target="_blank">
	        	<button type="button" class="btn btn-primary mx-auto z-2">Brochure</button>
	        </a>
	      </div>
	    </div> -->
	  </div>
	</div>
</template>
<script>
	export default {
		props: { 
	  	text: String,
	  	bg: String,
	  	lines: String,
	  	food: String,
	  	foodtitle: String,
	  	cocktails: String,
	  	cocktailtitle: String,
	  	activity: String
	  },
    mounted(){

    },
    methods:{
    	scrollToBookNow(){
	      var targetElement = document.getElementById("bookonline");
        var offset = 100;
        var targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset;
        window.scrollTo({
          top: targetPosition - offset,
          behavior: 'smooth'
        });
    	}
    }
	}
</script>
<style lang="scss">
.seating-option{
	.card{
		width: 80%;
		margin-top: -85px;
		p.mimic-h3{
			font-size: 1.5rem;
		}
		&.less-margin{
			margin-top: -45px;
		}
	}
	.btn{
		width: 70%;
		margin-top: -25px;
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	.seating-option .card p.mimic-h3{
		font-size: 1.6rem;
	}
}
@media only screen and (max-width : 767px){
	
}
</style>