<template>
	<div id="stock-slideshow" class="">
		<carousel ref="christmascarousel" :mouse-drag="false" :wrapAround="true">
			<slide class="stock-slide">
				<div>
					<picture>
						<source srcset="/img/venues/stock/slide-1.webp" type="image/webp"/> 
						<source srcset="/img/venues/stock/slide-1.jpg" type="image/jpeg"/> 
						<img src="/img/venues/stock/slide-1.jpg" type="image/jpeg" alt="The Stock Exchange at Haymarket Belfast" class="w-100" />
					</picture>
				</div>
			</slide>
			<slide class="stock-slide">
				<div>
					<picture>
						<source srcset="/img/venues/stock/slide-2.webp" type="image/webp"/> 
						<source srcset="/img/venues/stock/slide-2.jpg" type="image/jpeg"/> 
						<img src="/img/venues/stock/slide-2.jpg" type="image/jpeg" alt="The Stock Exchange at Haymarket Belfast" class="w-100" />
					</picture>
				</div>
			</slide>
			<slide class="stock-slide">
				<div>
					<picture>
						<source srcset="/img/venues/stock/slide-3.webp" type="image/webp"/> 
						<source srcset="/img/venues/stock/slide-3.jpg" type="image/jpeg"/> 
						<img src="/img/venues/stock/slide-3.jpg" type="image/jpeg" alt="The Stock Exchange at Haymarket Belfast" class="w-100" />
					</picture>
				</div>
			</slide>
			<slide class="stock-slide">
				<div>
					<picture>
						<source srcset="/img/venues/stock/slide-4.webp" type="image/webp"/> 
						<source srcset="/img/venues/stock/slide-4.jpg" type="image/jpeg"/> 
						<img src="/img/venues/stock/slide-4.jpg" type="image/jpeg" alt="The Stock Exchange at Haymarket Belfast - Great for Parties and private venue hire" class="w-100" />
					</picture>
				</div>
			</slide>
			<template #addons>
				<navigation />
				<pagination />
			</template>
		</carousel>

	</div>
</template>x
<script>
	import { ref } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	const christmascarousel = ref(null);
	export default {
		components: { 
			Carousel,
			Slide,
			Pagination,
			Navigation,
		},
		props: { 
			text: String,
			bg: String,
			lines: String
		},
		data() {
			return {
				errors: {},
				success: false,
				loaded: true,
			}
		}
	}
</script>
<style lang="scss">
	$primary: #b75503;
	#stock-slideshow{
		width: 100%;
		max-width: 1110px;
		ol li{
			padding-left: 0;
			&:before{
				display: none;
			}
		}
		.stock-slide {
			position: relative;
			width: 1110px;
			max-width: 1110px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			border-radius: 0;
			text-align: left;
			vertical-align: top;
			overflow: hidden;
			cursor: pointer;
			img{
				max-width: 1110px;
				z-index: 1;
				position: relative;
				width: 100%;
				display: block;
				-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
				-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
				box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			}
		}
		.carousel__pagination{
			position: absolute;
			bottom: -85px;
			left: calc(50% - 52px);
    		padding-left: 0;
			.carousel__pagination-button::after{
				width: 18px;
				background-color: #fff;
			}
			.carousel__pagination-button:hover::after, 
			.carousel__pagination-button--active::after{
				background-color: $primary;
			}
		}
		.carousel__prev{
			position: absolute;
			width: 50px;
			height: 50px;
			top: auto;
			bottom: -100px;
			left: calc(50% - 120px);
			border-radius: 100%;
			color: $primary;
			svg{
				fill: $primary;
			}
		}
		.carousel__next{
			position: absolute;
			width: 50px;
			height: 50px;
			top: auto;
			bottom: -100px;
			left: calc(50% + 50px);
			border-radius: 100%;
			color: $primary;
			svg{
				fill: $primary;
			}
		}
	}

	@media only screen and (max-width : 768px){
		#stock-slideshow{
			width: 100%;
			.stock-slide{
				width: calc(100vw - 1.5rem);
				height: 54vw;
				img{
					width: calc(100vw - 1.5rem) !important;
					height: auto
				}
			}
		}
	}
</style>