<template>
	<div id="party-slideshow" class="">
		<carousel ref="studentscarousel" :mouse-drag="false" :wrapAround="true">
			<div class="party-slide">
				<div>
					<picture>
            <source srcset="/img/students/fresher-brunch-img.webp" type="image/webp"/> 
            <source srcset="/img/students/fresher-brunch-img.jpg" type="image/jpeg"/> 
            <img src="/img/students/fresher-brunch-img.jpg" type="image/jpeg" alt="Students at Haymarket Belfast" class="lazy" />
          </picture>
		    </div>
		  </div>
			<div class="party-slide">
				<div>
					<picture>
            <source srcset="/img/students/quiz-night-img.webp" type="image/webp"/> 
            <source srcset="/img/students/quiz-night-img.jpg" type="image/jpeg"/> 
            <img src="/img/students/quiz-night-img.jpg" type="image/jpeg" alt="Students at Haymarket Belfast" class="lazy" />
          </picture>
		    </div>
			</div>
			<div class="party-slide">
				<div>
					<picture>
            <source srcset="/img/students/2for1-cocktails-img.webp" type="image/webp"/> 
            <source srcset="/img/students/2for1-cocktails-img.jpg" type="image/jpeg"/> 
            <img src="/img/students/2for1-cocktails-img.jpg" type="image/jpeg" alt="Students saying cheers at a party at Haymarket Belfast" class="lazy" />
          </picture>
		    </div>
			</div>
		</carousel>

	</div>
</template>
<script>
	import { ref } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	const studentscarousel = ref(null);
	export default {
		components: { 
	  	Carousel,
      Slide,
      Pagination,
      Navigation,
	  },
		props: { 
	  	text: String,
	  	bg: String,
	  	lines: String
	  },
	  data() {
			return {
				errors: {},
				success: false,
				loaded: true,
			}
		}
	}
</script>
<style lang="scss">
#party-slideshow{
	width: 100%;
	max-width: 1110px;
	.party-slide {
  	position: relative;
	  width: 1110px;
	  max-width: 1110px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  overflow: hidden;
	  cursor: pointer;
	  img{
	  	max-width: 1110px;
	  	z-index: 1;
	  	position: relative;
	  	width: 100%;
	  	display: block;
	  	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
	  }
	}
	// .owl-carousel .owl-stage-outer{
	// 	overflow: visible !important;
	// }
	.owl-theme{
		.owl-nav{
	    margin-top: 1rem;
	    margin-bottom: -30px;
	    position: absolute;
	    bottom: -4rem;
	    left: calc(50% - 155px);
			.owl-prev{
				margin-right: 250px;
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 19px;
				height: 16px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 0;
					background-image: url('$img/icons/pointer-left.svg');
					background-size: contain;
					width: 9px;
					height: 16px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 19px;
				height: 16px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					background-image: url('$img/icons/pointer-right.svg');
					background-size: contain;
					width: 9px;
					height: 16px;
					background-repeat: no-repeat;
				}
			}
		}
		.owl-dots{
		  width: 170px;
	    position: absolute;
	    bottom: -6rem;
	    left: calc(50% - 85px);
		  .owl-dot{
				span{
					width: 30px;
			    height: 8px;
			    background: transparent;
			    border-radius: 0;
			    margin: 5px 2px;
			    border-top: 2px solid #fff;
			    border-bottom: 2px solid #fff;
				}
				&.active{
					span{
						border-top: 2px solid #D54148;
			    	border-bottom: 2px solid #D54148;
					}
				}
			}
		}
	}	
}

@media only screen and (max-width : 768px){
	#party-slideshow{
		width: 100%;
		.party-slide{
			width: calc(100vw - 1.5rem);
			height: 54vw;
			img{
				width: calc(100vw - 1.5rem) !important;
				height: auto
			}
		}
		.owl-theme .owl-dots{
	    margin: auto;
			width: 52vw;
			bottom: -3.5rem;
    	left: calc(50% - 24vw);
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
		.owl-theme .owl-nav{
			margin: auto;
	    width: 100%;
	    bottom: -4rem;
	    left: 0;
	    height: 45px;
			.owl-prev{
				margin-right: 50vw;
			}
		}
	}
}
</style>