<template>
	<div class="top-details text-white text-center d-none d-lg-block">
    <a href="http://www.facebook.com/VertigoBelfast"><i class="fa fa-facebook mb-3"></i></a><br/>
    <a href="http://www.instagram.com/wearevertigobelfast/"><i class="fa fa-instagram mb-3"></i></a><br/>
    <a href="http://twitter.com/weare_vertigo" ><i class="fa fa-twitter"></i></a><br/>
    <a href="mailto:info@wearevertigo.com" class="top-details-email">info@wearevertigo.com</a>
    <div class="skydiver">
      <img src="/img/icons/skydiver.svg" alt="We are Vertigo Skydiver"/>
    </div>
  </div>
</template>
<style lang="scss">
.top-details{
	position: absolute;
	height: 500px;
	right: 3rem;
	top: calc(50% - 250px);
	z-index: 5;
	a{
		color: #fff;
		i{
			font-size: 20px;
		}
		&:hover{
			color: #F6CF3C;
		}
		&.top-details-email{
			display: inline-block;
			font-family: Gotham, sans-serif;
			text-transform: uppercase;
			transform: rotate(270deg);
			position: absolute;
	    top: 217px;
	    left: -111px;
	    font-size: 1rem;
	    font-weight: 700;
		}
	}
	.skydiver{
		position: absolute;
		top: 473px;
		left: -25px;
		width: 70px;
		img{
			width: 70px;
		}
		&:before{
			height: 100px;
			width: 2px;
			background-color: #fff;
			content: "";
			position: absolute;
			top: -110px;
			left: 34px;
		}
	}
}
</style>