<template>
	<div class="container-fluid mob-pb-5">
    <div class="row">
    	<div class="container mt-5 text-center">
	      <h2 class="mb-3">What's on?</h2>
	    </div>
	  </div>
    <div class="row d-lg-none">
    	<div class="col-12">
    		<div id="home-event-carousel">
			    <carousel ref="eventscarousel" :mouse-drag="true" :wrapAround="true">
			      <slide class="home-event-tile">
			      	<div class="container">
			      	<p class="text-larger mob-text-even-larger mb-0 text-white text-uppercase"><b>Wednesdays</b></p>
			        <div class="pre-title-lines my-2 mx-auto d-inline-block"></div>
			        <picture>
			          <source srcset="/img/events/win-or-booze/win-or-booze.webp?v2024-04-08" type="image/webp"/> 
			          <source srcset="/img/events/win-or-booze/win-or-booze.jpg?v2024-04-08" type="image/jpg"/> 
			          <img src="/img/events/win-or-booze/win-or-booze.jpg?v2024-04-08" width="507" height="507" type="image/jpg" alt="Wednesdays at Belfast's vibrant indoor/outdoor bar & street food hangout - Haymarket Belfast" class=" w-100 h-auto"/>
			        </picture>
			        <a href="/win-or-booze">
		        		<button class="btn btn-primary shadow" type="button">Book Now</button>
		        	</a>
		        </div>
			      </slide>
<!-- 						<slide class="home-event-tile">
							<div class="container">
			      	<p class="text-larger mob-text-even-larger mb-0 text-white text-uppercase"><b>Thursdays</b></p>
			        <div class="pre-title-lines my-2 mx-auto d-inline-block"></div>
			        <picture>
			        	<source srcset="/img/events/thursday/open-mic.webp" type="image/webp"/> 
				        <source srcset="/img/events/thursday/open-mic.jpg" type="image/jpg"/> 
				        <img src="/img/events/thursday/open-mic.jpg" width="507" height="507" type="image/jpg" alt="Open mic Thursdays - Haymarket Belfast" class=" w-100 h-auto"/>
			        </picture>
			        <button class="btn btn-primary shadow booknowbtn" type="button">Book Now</button>
			      </div>
			      </slide> -->
						<slide class="home-event-tile">
							<div class="container">
			      	<p class="text-larger mob-text-even-larger mb-0 text-white text-uppercase"><b>Fridays</b></p>
			        <div class="pre-title-lines my-2 mx-auto d-inline-block"></div>
			        <picture>
			          <source srcset="/img/events/friday/friday-livemusic.webp?v2024-01-30" type="image/webp"/> 
			          <source srcset="/img/events/friday/friday-livemusic.jpg?v2024-01-30" type="image/jpg"/> 
			          <img src="/img/events/friday/friday-livemusic.jpg?v2024-01-30" width="507" height="507" type="image/jpg" alt="Fridays at Belfast's vibrant indoor/outdoor bar & street food hangout - Haymarket Belfast" class=" w-100 h-auto"/>
			        </picture>
			        <button class="btn btn-primary shadow booknowbtn" type="button">Book Now</button>
			      </div>
			      </slide>
			      <slide class="home-event-tile">
			      	<div class="container">
			      	<p class="text-larger mob-text-even-larger mb-0 text-white text-uppercase"><b>Saturdays</b></p>
			        <div class="pre-title-lines my-2 mx-auto d-inline-block"></div>
			        <picture>
			          <source srcset="/img/events/jan2022/sat-livemusic.webp?v=2024-01-30" type="image/webp"/> 
			          <source srcset="/img/events/jan2022/sat-livemusic.jpg?v=2024-01-30" type="image/jpg"/> 
			          <img src="/img/events/jan2022/sat-livemusic.jpg?v=2024-01-30" width="507" height="507" type="image/jpg" alt="Saturdays at Belfast's vibrant indoor/outdoor bar & street food hangout - Haymarket Belfast" class=" w-100 h-auto"/>
			        </picture>
			        <button class="btn btn-primary shadow booknowbtn" type="button">Book Now</button>
			      </div>
			      </slide>
			      <slide class="home-event-tile">
			      	<div class="container">
			      	<p class="text-larger mob-text-even-larger mb-0 text-white text-uppercase"><b>Saturdays & Sundays</b></p>
			        <div class="pre-title-lines my-2 mx-auto d-inline-block"></div>
			        <picture>
			          <source srcset="https://haymarketbelfast.com/storage/215/conversions/HAYMARKET-GRAPHICS-(2)-normal-webp.webp" type="image/webp"/> 
			          <source srcset="https://haymarketbelfast.com/storage/215/conversions/HAYMARKET-GRAPHICS-(2)-normal.jpg" type="image/jpg"/> 
			          <img src="https://haymarketbelfast.com/storage/215/conversions/HAYMARKET-GRAPHICS-(2)-normal.jpg" width="507" height="507" type="image/jpg" alt="Bottomless Brunch at Belfast's vibrant indoor/outdoor bar & street food hangout - Haymarket Belfast" class="w-100 h-auto"/>
			        </picture>
			        <a href="/boozy-brunch-club">
		        		<button class="btn btn-primary shadow" type="button">Book Now</button>
		        	</a>
		        </div>
				     </slide>
			      <template #addons>
				      <pagination />
				      <navigation />
				    </template>
					</carousel>
				</div>
			</div>
		</div>
    <div class="row d-none d-lg-flex">
			<div class="container container-wide">
			  <div class="row justify-content-center">
			    <div class="col-lg-4 col-xl-3">
			  		<div class="home-event-tile mt-5 text-center">
			      	<p class="text-larger mob-text-even-larger mb-0 text-white text-uppercase"><b>Wednesdays</b></p>
			        <div class="pre-title-lines my-2 mx-auto d-inline-block"></div>
			        <picture>
			          <source srcset="/img/events/win-or-booze/win-or-booze.webp?v2024-04-08" type="image/webp"/> 
			          <source srcset="/img/events/win-or-booze/win-or-booze.jpg?v2024-04-08" type="image/jpg"/> 
			          <img src="/img/events/win-or-booze/win-or-booze.jpg?v2024-04-08" width="507" height="507" type="image/jpg" alt="Wednesdays at Belfast's vibrant indoor/outdoor bar & street food hangout - Haymarket Belfast" class="lazy w-100 h-auto"/>
			        </picture>
			        <a href="/win-or-booze">
		        		<button type="button" class="btn btn-primary mx-auto position-relative z-2" >Book Now</button>
		        	</a>
			      </div>
			    </div>
			    <!-- <div class="col-lg-4 col-xl-3">
			      <div class="home-event-tile mt-5 text-center">
			      	<p class="text-larger mob-text-even-larger mb-0 text-white text-uppercase"><b>Thursdays</b></p>
			        <div class="pre-title-lines my-2 mx-auto d-inline-block"></div>
			         <picture>
			        	<source srcset="/img/events/thursday/open-mic.webp" type="image/webp"/> 
				        <source srcset="/img/events/thursday/open-mic.jpg" type="image/jpg"/> 
				        <img src="/img/events/thursday/open-mic.jpg" width="507" height="507" type="image/jpg" alt="Open mic Thursdays - Haymarket Belfast" class="lazy w-100 h-auto"/>
			        </picture>
			        <button type="button" class="btn btn-primary mx-auto booknowbtn position-relative z-2" >Book Now</button>
			      </div>
			    </div> -->
			    <div class="col-lg-4 col-xl-3">
			      <div class="home-event-tile mt-5 text-center">
			      	<p class="text-larger mob-text-even-larger mb-0 text-white text-uppercase"><b>Fridays</b></p>
			        <div class="pre-title-lines my-2 mx-auto d-inline-block"></div>
		        	<picture>
			          <source srcset="/img/events/friday/friday-livemusic.webp?v2024-01-30" type="image/webp"/> 
			          <source srcset="/img/events/friday/friday-livemusic.jpg?v2024-01-30" type="image/jpg"/> 
			          <img src="/img/events/friday/friday-livemusic.jpg?v2024-01-30" width="507" height="507" type="image/jpg" alt="Fridays at Belfast's vibrant indoor/outdoor bar & street food hangout - Haymarket Belfast" class="lazy w-100 h-auto"/>
			        </picture>
			        <button type="button" class="btn btn-primary mx-auto booknowbtn position-relative z-2" >Book Now</button>
			      </div>
			    </div>
			  </div>
			  <div class="row justify-content-center">
			    <div class="col-lg-4 col-xl-3">
			      <div class="home-event-tile mt-5 text-center">
			      	<p class="text-larger mob-text-even-larger mb-0 text-white text-uppercase"><b>Saturdays</b></p>
			        <div class="pre-title-lines my-2 mx-auto d-inline-block"></div>
			        <picture>
			          <source srcset="/img/events/jan2022/sat-livemusic.webp?v=2024-01-30" type="image/webp"/> 
			          <source srcset="/img/events/jan2022/sat-livemusic.jpg?v=2024-01-30" type="image/jpg"/> 
			          <img src="/img/events/jan2022/sat-livemusic.jpg?v=2024-01-30" width="507" height="507" type="image/jpg" alt="Saturdays at Belfast's vibrant indoor/outdoor bar & street food hangout - Haymarket Belfast" class="lazy w-100 h-auto"/>
			        </picture>
			        <button type="button" class="btn btn-primary mx-auto booknowbtn position-relative z-2" >Book Now</button>
			      </div>
			    </div>
			    <div class="col-lg-4 col-xl-3">
			  		<div class="home-event-tile mt-5 text-center">
			      	<p class="text-larger mob-text-even-larger mb-0 text-white text-uppercase"><b>Saturdays & Sundays</b></p>
			        <div class="pre-title-lines my-2 mx-auto d-inline-block"></div>
			        <picture>
			          <source srcset="https://haymarketbelfast.com/storage/215/conversions/HAYMARKET-GRAPHICS-(2)-normal-webp.webp" type="image/webp"/> 
			          <source srcset="https://haymarketbelfast.com/storage/215/conversions/HAYMARKET-GRAPHICS-(2)-normal.jpg" type="image/jpg"/> 
			          <img src="https://haymarketbelfast.com/storage/215/conversions/HAYMARKET-GRAPHICS-(2)-normal.jpg" width="507" height="507" type="image/jpg" alt="Bottomless Brunch at Belfast's vibrant indoor/outdoor bar & street food hangout - Haymarket Belfast" class="lazy w-100 h-auto"/>
			        </picture>
			        <a href="/bottomless-brunch">
		        		<button type="button" class="btn btn-primary mx-auto position-relative z-2" >Book Now</button>
		        	</a>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</template>
<script>
	import { ref } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	const eventscarousel = ref(null);
	export default {
		components: { 
	  	Carousel,
      Slide,
      Pagination,
      Navigation,
	  },
	  data() {
			return {
				errors: {},
				success: false,
				loaded: true,
			}
		}
	}
</script>
<style lang="scss">
	.home-event-tile{
		.btn{
				margin-top: -30px;
			}
	}
	#home-event-carousel{
		.home-event-tile{
			width: calc(100vw - 2rem);
			img, p{
				width: 100%;
				display: block;
			}
			.btn{
				margin-top: -30px;
			}
		}
		ol.carousel__track{
				li{
					padding: 0;
					&:before{
						background-color:transparent;
					}
				}
			}
			ol.carousel__pagination{
				li.carousel__pagination-item{
					padding: 0;
					&:before{
						background-color:transparent;
					}
				}
			}
		.carousel__prev{
			margin-right: 250px;
			font-size: 0;
			position: absolute;
	  	bottom: -2rem;
	  	left: calc(50% - 180px);
	  	top: auto;
			color:#1D252D;
			padding: 0;
			width: 19px;
			height: 16px;
			background-color: transparent;
			svg{
				display: none;
			}
			&:after{
				position: absolute;
				content: "";
				right: 0;
				top: 0;
				background-image: url('$img/icons/pointer-left.svg');
				background-size: contain;
				width: 9px;
				height: 16px;
				background-repeat: no-repeat;
			}
		}
		.carousel__next{
			font-size: 0;
			position: absolute;
	  	bottom: -2rem;
	  	right: calc(50% - 180px);
	  	top: auto;
			color:#1D252D;
			padding: 0;
			width: 19px;
			height: 16px;
			background-color: transparent;
			svg{
				display: none;
			}
			&:after{
				position: absolute;
				content: "";
				left: 0;
				top: 0;
				background-image: url('$img/icons/pointer-right.svg');
				background-size: contain;
				width: 9px;
				height: 16px;
				background-repeat: no-repeat;
			}
		}
		.carousel__pagination{
		  width: 206px;
		  padding: 0;
	    position: absolute;
	    bottom: -3.5rem;
	    left: calc(50% - 103px);
	    &.disabled{
	    	display: block !important;
	    }
	    .carousel__pagination-item{
	    	padding: 0;
	    	button.carousel__pagination-button{
					width: 30px;
			    height: 8px;
			    background: transparent;
			    border-radius: 0;
			    margin: 5px 2px;
			    padding: 0;
			    border-top: 2px solid #fff;
			    border-bottom: 2px solid #fff;
					&.carousel__pagination-button--active{
						border-top: 2px solid #D54148;
			    	border-bottom: 2px solid #D54148;
					}
				}
	    }
		}	
	}
	@media only screen and (max-width : 767px){
	#home-event-carousel{
		width: 100%;
		max-width: 100%;
		.home-event-tile{
			width: calc(100vw - 2rem);
			img{
				width: 100% !important;
				height: calc(100vw - 6rem);
			}
			button.btn-primary{
				margin-top: -30px;
			}
		}
		.carousel__prev,
		.carousel__next{
			bottom: -4rem;
		}
		.carousel__pagination{
			bottom: -5.5rem;
		}
	}
}
</style>