<template>
	<header id="homepage-top" class="container-fluid position-relative bg bg-down-up z-1 menu-padding mb-5 mob-mb-0">
    <picture>
      <source media="(max-width:767px)" srcset="/img/graphics/burger-beer-mob.webp" type="image/webp"/> 
      <source media="(max-width:767px)" srcset="/img/graphics/burger-beer-mob.png" type="image/png"/> 
      <source media="(min-width:768px)" srcset="/img/graphics/burger-beer.webp" type="image/webp"/> 
      <source media="(min-width:768px)" srcset="/img/graphics/burger-beer.png" type="image/png"/> 
      <img src="/img/graphics/burger-beer.png" type="image/png" width="458" height="1009" alt="Book a table at Belfast's newest indoor & outdoor dining - Haymarket Belfast" class="lazy h-auto burger-beer-top-left"/>
    </picture>
    <div class="row">
      <div class="container">
        <div class="row justify-content-center py-5 mob-py-0">
          <div class="col-12 col-md-8 text-center text-lg-left mob-px-0 mob-mb-3 d-lg-none">
            <div class="pre-title-lines mx-auto my-4 mob-my-45"></div>
            <h1 class="mb-4">Belfast’s Newest Bar & Street Food Hang Out</h1>
            <a href="/menu" target="_blank">
              <button type="button" class="btn btn-primary mb-5">View Menu </button>
            </a>
          </div>
          <!-- <div class="col-lg-5 col-md-8 mob-pl-0 mob-mb-5 mt-5 ipadp-mt-0 mob-mt-0 pr-5 mob-px-3 ipadp-px-3">
            <div id="bookonline" class="res-diary-holder d-inline-block shadow">
              <div class="res-diary-inner">
                <div class="loader loader-inner d-table">
                  <div class="d-table-cell align-middle">
                    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                  </div>
                </div>
                <div class="position-relative z-2">
                  <div id="rd-widget-frame" style="max-width: 600px; margin: auto;"></div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-lg-6 pr-5 mob-px-3 d-none d-lg-block">
             <picture>
              <source srcset="/img/home/walk-in.webp" type="image/webp"/> 
              <source srcset="/img/home/walk-in.jpg" type="image/jpeg"/> 
              <img src="/img/home/walk-in.jpg" width="507" height="507" type="image/jpeg" alt="Book a table at Belfast's newest indoor & outdoor dining - Haymarket Belfast" class="lazy w-100 h-auto"/>
            </picture>
          </div>
          <div class="col-lg-6 pt-5 mob-mt-5 text-center text-lg-left mob-px-0 mob-mb-3 d-none d-lg-block">
            <div class="pre-title-lines mb-4"></div>
            <h1 class="mb-4 page-title">Belfast’s Newest Bar & Street Food Hang Out</h1>
            <a href="/menu" target="_blank">
              <button type="button" class="btn btn-primary mb-5" data-aos="fade-up">View Menu </button>
            </a>
            <!-- <picture>
              <source srcset="/img/home/walk-in.webp" type="image/webp"/> 
              <source srcset="/img/home/walk-in.jpg" type="image/jpeg"/> 
              <img src="/img/home/walk-in.jpg" type="image/jpeg" alt="Book a table at Belfast's newest indoor & outdoor dining - Haymarket Belfast" class="lazy w-100" data-aos="fade-up"/>
            </picture> -->
          </div>
        </div>
      </div>
    </div>
	</header>
</template>
<script>

</script>
<style lang="scss">
.menu-padding{
  padding-top: 21rem !important;
}
#rd-widget-root .btn{
  max-width: 140px;
  max-height: 30px;
  margin: 15px 0 !important;
}
#rd-widget-root{
  p{
    font-size: 1rem !important;
  }
  h4{
    font-size: 1rem !important;
  }
  .list-group{
    margin-bottom: 0 !important;
  }
  [data-bind="if: showWidgetHeader"]{
    font-size: 12px !important;
    text-align: center !important;
  }
  [data-bind="if: showBookingSummary"]{
    width: 100%;
  }
}
#rd-widget-root [data-bind="if: showWidgetHeader"] .col-xs-12.col-sm-3,
#rd-widget-root [data-bind="if: showBookingSummary"] .col-xs-12.col-sm-9{
  width: 100%;
  float: none;
  max-width: 100%;
  flex: 100%;
}

#rd-widget-root .form-control{
  height: 38px !important;
  font-size: 16px !important;
}

$slide-distance: calc((4vw + 4vh + 4%)/3);

$slide-distance-ms: 4%; // IE11 does not support calc() in transform:translate;

$slide-distance-negative: calc((-4vw + -4vh + -4%)/3);

$zoom-scale: 1.15;

// Option for slide distance without calc(). More compatible but not as
// consistant on screens that are not exactely square.
//
// $slide-distance: 5%;
// $slide-distance-negative: -5%;

// The 0.01deg rotation is a hack to make the animations smooth on Firefox

@-webkit-keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

@keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

#homepage-top-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  #slides {
      position: absolute;
      width: 1px;
      height: 1px;
      left: -9999px;
    }

    #slideshow {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .slide, span, .static-content {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    
      }

      .slide {

        span {
          background-size: cover;
          background-position: center;
        }

        span.animate.right, span.animate.left {
          left: $slide-distance-negative;
          right: $slide-distance-negative;
        }

        span.animate.up, span.animate.down {
          top: $slide-distance-negative;
          bottom: $slide-distance-negative;
        }

      }

      // Time gets set by JS

      span.animate {
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
      }

      span.animate.right {
        -webkit-animation-name: right;
                animation-name: right;
      }

      span.animate.left {
        -webkit-animation-name: left;
                animation-name: left;
      }

      span.animate.up {
        -webkit-animation-name: up;
                animation-name: up;
      }

      span.animate.down {
        -webkit-animation-name: down;
                animation-name: down;
      }

      span.animate.in {
        -webkit-animation-name: in;
                animation-name: in;
      }

      span.animate.out {
        -webkit-animation-name: out;
                animation-name: out;
      }

      span.animate.paused {
        -webkit-animation-play-state: paused;
                animation-play-state: paused;
      }

    }
}
#homepage-top{
	// min-height: 850px;
	.trans{
		z-index: 2;
	}
	.res-diary-holder{
		position: relative;
		width: 360px;
		height: auto;
    float: right;
		.res-diary-inner{
			position: relative;
			background-color: #343432;
			width: 360px;
			z-index: 1;
      height: 700px;
      max-height: 700px;
      overflow: scroll;
		}
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#homepage-top{
		// min-height: 100vh;
		height: auto !important;
		background: none !important;
    .h-100{
      height: auto !important
    }
		.res-diary-holder{
			height: auto;
      margin: 2rem auto 0;
      display: block !important;
			.res-diary-inner{
				width: 100%;
			}
		}
		.cut{
			display: none;
		}
    #homepage-top-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
	}
  .menu-padding {
    padding-top: 12rem !important;
  }
  #homepage-top-slider{
    display: none;
  }
}
@media only screen and (max-width : 991px){
  #homepage-top{
    // min-height: 100vh;
    height: auto !important;
    background: none !important;
    .h-100{
      height: auto !important
    }
    #homepage-top-menu-btn{
      margin-top: -30px;
    }
    .full-height{
      min-height: 100vh;
    }
    .homepage-top-logo{
      width: 100%;
      max-width: 300px;
    }
    .res-diary-holder{
      width: 100%;
      height: auto;
      float: none;
      .res-diary-inner{
        width: 100%;
        height: auto;
        max-height: 1000000px;
        min-height: 651px;
      }
    }
    .cut{
      display: none;
    }
    #homepage-top-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
  }
  #homepage-top-slider{
    display: none;
  }
}
@media only screen and (max-width : 767px){
  #rd-widget-root .btn{
    max-width: 37vw;
  }
  .menu-padding{
    padding-top: 11rem !important;
  }
  #homepage-top{
    // min-height: 100vh;
    height: auto !important;
    background: none !important;
    .h-100{
      height: auto !important
    }
    #homepage-top-menu-btn{
      margin-top: -30px;
    }
    .full-height{
      min-height: 100vh;
    }
    .homepage-top-logo{
      width: 100%;
    }
    .res-diary-holder{
      width: 100%;
      height: auto;
      float: none;
      .res-diary-inner{
        width: 100%;
        height: auto;
        max-height: 1000000px;
        min-height: 651px;
        overflow: visible;
      }
    }
    .cut{
      display: none;
    }
    #homepage-top-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
  }
  #homepage-top-slider{
    display: none;
  }
}
</style>