<template>
	<div id="homepage-top" class="container-fluid position-relative bg bg-down-up z-1 my-5 mob-mb-0">
    <div class="row">
      <div class="container">
        <div class="row justify-content-center py-5 mob-py-0">
          <div class="col-12 col-md-8 text-center text-lg-left mob-px-0 mob-mb-3 d-lg-none">
            <div class="pre-title-lines mx-auto my-4 mob-my-45"></div>
            <p class="mb-3 home-title-small mob-px-4">SERVING YOU UP CRACKIN' COCKTAILS, BANGIN' STREET FOOD & LIVE MUSIC FROM LOCAL ARTISTS EVERYDAY!</p>
            <a href="/menu" target="_blank">
              <button type="button" class="btn btn-primary mb-4">View Menu </button>
            </a>
          </div>
          <div class="col-lg-5 col-md-8 mob-pl-0 mob-mb-5 mt-5 ipadp-mt-0 mob-mt-0 pr-5 mob-px-3 ipadp-px-3">
            <div id="bookonline" class="res-diary-holder d-inline-block shadow">
              <div class="res-diary-inner">
                <div class="loader loader-inner d-table">
                  <div class="d-table-cell align-middle">
                    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                  </div>
                </div>
                <div class="position-relative z-2">
                  <div id="rd-widget-frame" style="max-width: 600px; margin: auto;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 pt-5 mob-mt-5 text-center text-lg-left mob-px-0 mob-mb-3 d-none d-lg-block">
            <div class="pre-title-lines mb-4"></div>
            <p class="mb-3 home-title-small">SERVING YOU UP CRACKIN' COCKTAILS, BANGIN' STREET FOOD & LIVE MUSIC FROM LOCAL ARTISTS EVERYDAY!</p>
            <p class="text-small mb-4">*Please note groups of over 15 cannot be guaranteed a table of their choice.</p>
            <a href="/menu" target="_blank">
              <button type="button" class="btn btn-primary mb-5" data-aos="fade-up">View Menu </button>
            </a>
          </div>
        </div>
      </div>
    </div>
	</div>
</template>
<script>
	export default {
    mounted(){
      document.addEventListener('DOMContentLoaded', function() {
          if (window.location.href.indexOf("#bookonline") > -1) {
              var bookonline = document.getElementById('bookonline');
              if (bookonline) {
                  var offsetTop = bookonline.offsetTop;
                  window.scrollTo({
                      top: offsetTop,
                      behavior: 'smooth'
                  });
              }
          }
      });

    }
	}
</script>
<style lang="scss">
  p.home-title-small{
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 1.4;
  }
.menu-padding{
  padding-top: 21rem !important;
}
#rd-widget-root .btn{
  max-width: 140px;
  max-height: 30px;
  margin: 15px 0 !important;
}
#rd-widget-root .panel-body.booking-summary {
    padding: 8px 2px 8px 0 !important;
}
#rd-widget-root .logo-panel, #rd-mini-widget-root .logo-panel{
	background-color: #343432 !important;
}
#rd-widget-root{
  p{
    font-size: 1rem !important;
  }
  h4{
    font-size: 1rem !important;
  }
  .list-group{
    margin-bottom: 0 !important;
  }
  [data-bind="if: showWidgetHeader"]{
    font-size: 12px !important;
    text-align: center !important;
  }
  [data-bind="if: showBookingSummary"]{
    width: 100%;
  }
}
#rd-widget-root .datepicker .day.disabled{
	background-color: #d8d8d8 !important;
	color: #5f5f5f !important;
}
#rd-widget-root .bootstrap-datetimepicker-widget table td.disabled, #rd-mini-widget-root .bootstrap-datetimepicker-widget table td.disabled, #rd-widget-root td.day.old.disabled, #rd-mini-widget-root td.day.old.disabled{
	background-color: #d8d8d8 !important;
	color:#5f5f5f !important
}
#rd-widget-root td.day, #rd-mini-widget-root td.day,
#rd-mini-widget-root .bootstrap-datetimepicker-widget table td.new, #rd-mini-widget-root .bootstrap-datetimepicker-widget table td.old, #rd-widget-root .bootstrap-datetimepicker-widget table td.new, #rd-widget-root .bootstrap-datetimepicker-widget table td.old, #widget-modal-root .bootstrap-datetimepicker-widget table td.new, #widget-modal-root .bootstrap-datetimepicker-widget table td.old{
	color: #000 !important;
}
#rd-widget-root [data-bind="if: showWidgetHeader"] .col-xs-12.col-sm-3,
#rd-widget-root [data-bind="if: showBookingSummary"] .col-xs-12.col-sm-9{
  width: 100%;
  float: none;
  max-width: 100%;
  flex: 100%;
}

#rd-widget-root .form-control{
  height: 38px !important;
  font-size: 16px !important;
}

$slide-distance: calc((4vw + 4vh + 4%)/3);

$slide-distance-ms: 4%; // IE11 does not support calc() in transform:translate;

$slide-distance-negative: calc((-4vw + -4vh + -4%)/3);

$zoom-scale: 1.15;

// Option for slide distance without calc(). More compatible but not as
// consistant on screens that are not exactely square.
//
// $slide-distance: 5%;
// $slide-distance-negative: -5%;

// The 0.01deg rotation is a hack to make the animations smooth on Firefox

@-webkit-keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

@keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

#homepage-top-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  #slides {
      position: absolute;
      width: 1px;
      height: 1px;
      left: -9999px;
    }

    #slideshow {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .slide, span, .static-content {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    
      }

      .slide {

        span {
          background-size: cover;
          background-position: center;
        }

        span.animate.right, span.animate.left {
          left: $slide-distance-negative;
          right: $slide-distance-negative;
        }

        span.animate.up, span.animate.down {
          top: $slide-distance-negative;
          bottom: $slide-distance-negative;
        }

      }

      // Time gets set by JS

      span.animate {
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
      }

      span.animate.right {
        -webkit-animation-name: right;
                animation-name: right;
      }

      span.animate.left {
        -webkit-animation-name: left;
                animation-name: left;
      }

      span.animate.up {
        -webkit-animation-name: up;
                animation-name: up;
      }

      span.animate.down {
        -webkit-animation-name: down;
                animation-name: down;
      }

      span.animate.in {
        -webkit-animation-name: in;
                animation-name: in;
      }

      span.animate.out {
        -webkit-animation-name: out;
                animation-name: out;
      }

      span.animate.paused {
        -webkit-animation-play-state: paused;
                animation-play-state: paused;
      }

    }
}
#homepage-top{
	// min-height: 850px;
	.trans{
		z-index: 2;
	}
	.res-diary-holder{
		position: relative;
		width: 360px;
		height: auto;
    float: right;
		.res-diary-inner{
			position: relative;
			background-color: #343432;
			width: 360px;
			z-index: 1;
      height: 640px;
      max-height: 640px;
      overflow: scroll;
		}
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#homepage-top{
		// min-height: 100vh;
		height: auto !important;
		background: none !important;
    .h-100{
      height: auto !important
    }
		.res-diary-holder{
			height: auto;
      margin: 2rem auto 0;
      display: block !important;
			.res-diary-inner{
				width: 100%;
			}
		}
		.cut{
			display: none;
		}
    #homepage-top-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
	}
  .menu-padding {
    padding-top: 12rem !important;
  }
  #homepage-top-slider{
    display: none;
  }
}
@media only screen and (max-width : 991px){
  #homepage-top{
    // min-height: 100vh;
    height: auto !important;
    background: none !important;
    .h-100{
      height: auto !important
    }
    #homepage-top-menu-btn{
      margin-top: -30px;
    }
    .full-height{
      min-height: 100vh;
    }
    .homepage-top-logo{
      width: 100%;
      max-width: 300px;
    }
    .res-diary-holder{
      width: 100%;
      height: auto;
      float: none;
      .res-diary-inner{
        width: 100%;
        height: auto;
        max-height: 1000000px;
        min-height: 651px;
      }
    }
    .cut{
      display: none;
    }
    #homepage-top-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
  }
  #homepage-top-slider{
    display: none;
  }
}
@media only screen and (max-width : 767px){
  #rd-widget-root .btn{
    max-width: 37vw;
  }
  .menu-padding{
    padding-top: 11rem !important;
  }
  #homepage-top{
    // min-height: 100vh;
    height: auto !important;
    background: none !important;
    .h-100{
      height: auto !important
    }
    #homepage-top-menu-btn{
      margin-top: -30px;
    }
    .full-height{
      min-height: 100vh;
    }
    .homepage-top-logo{
      width: 100%;
    }
    .res-diary-holder{
      width: 100%;
      height: auto;
      float: none;
      .res-diary-inner{
        width: 100%;
        height: auto;
        max-height: 1000000px;
        min-height: 651px;
        overflow: visible;
      }
    }
    .cut{
      display: none;
    }
    #homepage-top-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
  }
  #homepage-top-slider{
    display: none;
  }
}
</style>