<template>
	<div class="offer-card">
		<picture>
		  <source v-lazy:srcset="offer.normalwebp" type="image/webp" media="(min-width: 768px)">
		  <source v-lazy:srcset="offer.mobwebp" type="image/webp" media="(max-width: 767px)">
		  <source v-lazy:srcset="offer.normal" :type="offer.mimetype" media="(min-width: 768px)">
		  <source v-lazy:srcset="offer.mob" :type="offer.mimetype" media="(max-width: 767px)">
      <img v-lazy:src="offer.normal" :type="offer.mimetype" :alt="offer.title" class="lazy offer-card-img shadow mb-3" width="380" height="380" />
    </picture>
    <a :href="offer.link" v-if="offer.link">
    	<button class="btn btn-primary" type="button">Book Now</button>
    </a>
    <a :href="'/offers/' + offer.id + '/' + offer.slug" v-else>
    	<button class="btn btn-primary d-inline-block shadow" type="button">Book Now</button>
    </a>
  </div>
</template>
<script>
export default {
  props: {
    offer: Object
  }
}
</script>
<style lang="scss">
.offer-card{
	width: 100%;
	position: relative;
	padding: 1rem;
	text-align: center;
	.offer-card-img{
		position: relative;
		z-index: 1;
		width: 100%;
		height: auto;
	}
	&:before{
		content: "";
		position: absolute;
		z-index: 0;
		top: 2rem;
		left: 0;
		width: 100%;
		height: calc(100% - 5rem);
		background-color: #1b1b1d;
	}
}
.page-armoury{
	.offer-card{
		&:before{
			background-color: #0D3B52;
		}
	}
}
@media only screen and (max-width : 767px){
	.offer-card{
		img{
			height: auto;
		}
	}
}
</style>