<template>
	<div id="home-offers-slider" class="container mb-5">
		<carousel ref="homeofferscarousel" :wrapAround="true">
			<slide class="offer-slide">
				<div class="container position-relative mob-pt-0 z-2">
				  <div class="row mb-5">
				    <div class="col-lg-5 mob-px-0">
				      <picture>
				        <source srcset="https://haymarketbelfast.com/storage/219/conversions/HAYMARKET-GRAPHICS-(20)-normal-webp.webp"/> 
				        <source srcset="https://haymarketbelfast.com/storage/219/conversions/HAYMARKET-GRAPHICS-(20)-normal.jpg" type="image/jpeg"/> 
				        <img src="https://haymarketbelfast.com/storage/219/conversions/HAYMARKET-GRAPHICS-(20)-normal.jpg" width="507" height="507" type="image/jpeg" alt="Date Night - Haymarket Belfast" class="w-100 h-auto pr-5 mob-px-0"/>
				      </picture>
				    </div>
				    <div class="col-lg-7 mt-4 text-center text-lg-left">
				      <p class="text-primary text-uppercase d-none d-lg-block mb-1"><b>Offers & Discounts</b></p>
				      <p class="mimic-h2 d-none d-lg-block mb-1">Date Night</p>
				      <p class="mb-4 d-none d-lg-block">Date night done right! Enjoy two drinks* + a sharing platter or two pizza every Friday evening for only £15pp!</p>
				      <a href="/offers/9/date-night">
				        <button class="btn btn-primary shadow" type="button">Book now</button>
				      </a>
				    </div>
				  </div>
				</div>
			</slide>
			<slide class="offer-slide">
				<div class="container position-relative mob-pt-0 z-2">
				  <div class="row mb-5">
				    <div class="col-lg-5 mob-px-0">
				      <picture>
				      	<source src="https://haymarketbelfast.com/storage/215/conversions/HAYMARKET-GRAPHICS-(2)-normal-webp.webp" type="image/webp"/>
				        <source src="https://haymarketbelfast.com/storage/215/conversions/HAYMARKET-GRAPHICS-(2)-normal.jpg" type="image/jpeg"/>
				        <img src="https://haymarketbelfast.com/storage/215/conversions/HAYMARKET-GRAPHICS-(2)-normal.jpg" alt="Bottomless Brunch - Haymarket Belfast" width="280" class="w-100 h-auto pr-5 mob-px-0" />
				      </picture>
				    </div>
				    <div class="col-lg-7 mt-4 text-center text-lg-left">
				      <p class="mimic-h2 d-none d-lg-block mb-1">Bottomless Brunch</p>
				      <p class="mb-2 d-none d-lg-block">Enjoy bottomless cocktails &amp; tasty street food for just £35<br/><span class="text-one">Every Fri | 5pm - 6:30pm & 7pm - 8:30pm*</span> <br><span class="text-one">Every Sat | 12:30pm - 2pm, 2:30pm - 4pm & 4:30pm - 6pm*</span> <br><span class="text-one">Every Sun | 3:30pm - 5:00pm </span></p>
				      <p class="text-small mb-4 d-none d-lg-block">*Reservations must be paid in advance for booking to be valid.</p>
				      <a href="/bottomless-brunch">
				        <button class="btn btn-primary shadow" type="button">Book now</button>
				      </a>
				    </div>
				  </div>
				</div>
			</slide>
			<slide class="offer-slide">
				<div class="container position-relative mob-pt-0 z-2">
				  <div class="row mb-5">
				    <div class="col-lg-5 mob-px-0">
				      <picture>
				      	<source srcset="/img/events/bottomless-brunch/takeover/abba-cal.webp?v=2024-03-26" type="image/webp"/> 
		            <source srcset="/img/events/bottomless-brunch/takeover/abba-cal.jpg?v=2024-03-26" type="image/jpg"/> 
		            <img src="/img/events/bottomless-brunch/takeover/abba-cal.jpg?v=2024-03-26" width="507" height="507" type="image/jpg" alt="Bottomless Brunch Takeover - ABBA - Haymarket Belfast" class="w-100 h-auto pr-5 mob-px-0"/>
				      </picture>
				    </div>
				    <div class="col-lg-7 mt-4 text-center text-lg-left">
				    	<p class="text-primary text-uppercase d-none d-lg-block mb-1"><b>Bottomless Brunch Takeovers</b></p>
				      <p class="mimic-h2 d-none d-lg-block mb-1">ABBA</p>
				      <p class="mb-4 d-none d-lg-block">The amazing Lovelight Due are back! Enjoy 90 minutes of bottomless cocktails, beer, prosecco & tasty street food!</p>
				      <a href="/bottomless-brunch/takeovers/abba">
				        <button class="btn btn-primary shadow" type="button">Book now</button>
				      </a>
				    </div>
				  </div>
				</div>
			</slide>
			<template #addons>
	      <pagination />
	      <navigation />
	    </template>
		</carousel>
	</div>
</template>
<script>
	import { ref } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	const homeofferscarousel = ref(null);
	export default {
		components: { 
	  	Carousel,
      Slide,
      Pagination,
      Navigation,
	  },
    methods:{
    	scrollToBookNow(){
				window.scrollTo({
			    top: document.getElementById("bookonline").offsetTop - 100,
			    behavior: 'smooth'
				});
    	}
    }
	}
</script>
<style lang="scss">
#home-offers-slider{
	width: 100%;
	position: relative;
	z-index: 2;
	margin-top: -120px;
	max-width: 1110px;
	.offer-slide {
  	position: relative;
	  width: 1110px;
	  max-width: 1110px;
	  overflow: hidden;
	  img{
	  	max-width: 1110px;
	  	z-index: 1;
	  	width: 100%;
	  	display: block;
	  }
	}
	ol.carousel__track{
		li{
			padding: 0;
			&:before{
				background-color:transparent;
			}
		}
	}
	ol.carousel__pagination{
		li.carousel__pagination-item{
			padding: 0;
			&:before{
				background-color:transparent;
			}
		}
	}
	.carousel__prev{
		margin-right: 250px;
		font-size: 0;
		position: absolute;
  	bottom: -2rem;
  	left: calc(50% - 180px);
  	top: auto;
		color:#1D252D;
		padding: 0;
		width: 19px;
		height: 16px;
		background-color: transparent;
		svg{
			display: none;
		}
		&:after{
			position: absolute;
			content: "";
			right: 0;
			top: 0;
			background-image: url('$img/icons/pointer-left.svg');
			background-size: contain;
			width: 9px;
			height: 16px;
			background-repeat: no-repeat;
		}
	}
	.carousel__next{
		font-size: 0;
		position: absolute;
  	bottom: -2rem;
  	right: calc(50% - 180px);
  	top: auto;
		color:#1D252D;
		padding: 0;
		width: 19px;
		height: 16px;
		background-color: transparent;
		svg{
			display: none;
		}
		&:after{
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			background-image: url('$img/icons/pointer-right.svg');
			background-size: contain;
			width: 9px;
			height: 16px;
			background-repeat: no-repeat;
		}
	}
	.carousel__pagination{
	  width: 206px;
	  padding: 0;
    position: absolute;
    bottom: -3.5rem;
    left: calc(50% - 103px);
    &.disabled{
    	display: block !important;
    }
    .carousel__pagination-item{
    	padding: 0;
    	button.carousel__pagination-button{
				width: 30px;
		    height: 8px;
		    background: transparent;
		    border-radius: 0;
		    margin: 5px 2px;
		    padding: 0;
		    border-top: 2px solid #fff;
		    border-bottom: 2px solid #fff;
				&.carousel__pagination-button--active{
					border-top: 2px solid #D54148;
		    	border-bottom: 2px solid #D54148;
				}
			}
    }
	}	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	#home-offers-slider{
		width: 100%;
		.offer-slide{
			width: 100%;
			img{
				width: 100% !important;
				height: auto;
			}
		}
		
	}
}
@media only screen and (max-width : 767px){
	#home-offers-slider{
		width: 100%;
		max-width: 100%;
		.offer-slide{
			width: calc(100vw - 2rem);
			img{
				width: 100% !important;
				height: calc(100vw - 6rem);
			}
			button.btn-primary{
				margin-top: -80px;
			}
		}
		.carousel__prev,
		.carousel__next{
			bottom: 0;
		}
		.carousel__pagination{
			bottom: -1.5rem;
		}
	}
}
</style>