<template>
	<div class="container position-relative container-wide mb-5" >
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center mb-5">
				<p>Browse our offers & discounts below or filter by venue</p>
				<div class="px-5 mob-px-0">
					<select class="form-select form-control rounded" v-model="venue" @change="this.get()">
						<option value="">Select a venue</option>
						<option value="1">The Courtyard</option>
						<option value="2">The Armoury</option>
						<option value="2">The Stock Exchange</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row" v-if="loaded && offers.length > 0">
			<div id="lazy-component-wrapper" class="col-lg-4 mb-5" v-for="offer in offers">
				<card :offer="offer"></card>
			</div>
		</div>
	</div>
</template>
<script>
	import { ref, onMounted } from 'vue';
	import Card from './Card.vue';
	export default {
		components: { 
      Card
	  },
	  data() {
	    return {
	    	venue: "",
	      offers: [],
	  		loaded: false,
	    }
	  },
	  mounted(){
	  	this.get();
	  },
	  setup() {
      const isVisible = ref(false);
      
      const observer = new IntersectionObserver(
        ([entry]) => {
          if (entry.isIntersecting) {
            isVisible.value = true;
            observer.disconnect();
          }
        },
        { threshold: 0.1 }
      );

      onMounted(() => {
        const element = document.querySelector('#lazy-component-wrapper');
        observer.observe(element);
      });

      return { isVisible };
    },
    methods:{
    	get() {
        this.loaded = false;
        this.errors = {};
        console.log('/offers/get?venue=' + this.venue);
        axios.get('/offers/get?venue=' + this.venue).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.offers = response.data;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
	      });
	      
	    },
    	scrollToBookNow(){
				window.scrollTo({
				  top: document.getElementById("bookonline").offsetTop - 100,
				  behavior: 'smooth'
				});
    	}
    }
	}
</script>
<style lang="scss">
@media only screen and (max-width : 767px){
	
}
</style>