<template>
	<div class="modal fade show" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="offer-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content text-center" style="border: 0 !important;">
        <picture>
	        <source srcset="/img/offers/six-nations/six-nations-modal.webp?v=2025-01-27" type="image/webp"/> 
	        <source srcset="/img/offers/six-nations/six-nations-modal.jpg?v=2025-01-27" type="image/jpg"/> 
	        <img src="/img/offers/six-nations/six-nations-modal.jpg?v=2025-01-27" width="507" height="507" type="image/jpg" alt="Six Nations - Haymarket Belfast" class="mw-100 h-auto d-inline-block" />
	    </picture>
        <a href="https://haymarketbelfast.com/six-nations" target="_blank">
	        <button type="button" class="btn btn-primary mx-auto mt-3">Book Now</button>
	      </a>
        <p class="close-modal mb-0"><a class="close w-100 cursor-pointer" aria-label="Close" style="color:#ffffff !important;text-shadow: none !important;" @click="hide"><u>No thanks, continue to site</u></a></p>
      </div>
    </div>
  </div>
</template>
<script>
	import VueCookies from 'vue-cookies';
	import { Modal } from 'bootstrap';
	export default {
    data() {
      return {
      	theModal: null,
      	end: new Date("2025-03-01"),
      	now: new Date()
      }
    },
    mounted(){
    	this.theModal = new Modal(document.getElementById('offer-modal'), {})
    	// this.theModal.show()

    	if($cookies.isKey('offer-modal-2025-01-17') == false && this.now < this.end){
    		$cookies.set('offer-modal-2025-01-17', 'thecookieisset');
    		this.theModal.show()
    	}
    },
    methods: {
      show() {
			  this.theModal.show();
			},
			hide(){
				this.theModal.hide();
			}
    }
  }
</script>
<style lang="scss">
	#offer-modal{
		background-color: rgba(0,0,0, 0.85);
		p{
			&.close-modal{
				a{
					display: inline-block;
					font-size: 16px;
					font-weight: 400;
					color: #fff;
					margin-top: 10px;
				}
			}
		}
	}

	// p.close-modal{right:-40%;width:100%;bottom:calc(24% - 155px)}
	
	@media only screen and (max-width : 767px){
	
	}
</style>