<template>
	<div class="container position-relative pb-5">
		<!-- <img src="/img/offers/six-nations/pints.svg?2023-01-17-2" alt="Six nations pints offer" class="six-nations-pints-mob h-auto d-lg-none" width="141" height="141"/> -->
	  <div class="row d-md-none">
	    <div class="col-12">
	    	<div id="six-nations-slider">
		      <carousel ref="sixnationscarousel" :mouse-drag="false" :wrapAround="true">
		        <div class="card rugby-card py-4 px-2 text-center">
		          <p class="mimic-h3 din text-uppercase text-primary"><b>Round 1</b></p>
		          <p class="text-larger din">FRI 31ST JANUARY</p>
		          <p class="mimic-h3 din text-uppercase mb-0"><b>FRANCE VS WALES</b></p>
		          <p class="text-larger din mb-3">8:15PM</p>
		          <div class="break-line mt-2 mb-3"><span class="primary-line"></span></div>
		          <p class="text-larger din">SAT 1ST FEBRUARY</p>
		          <p class="mimic-h3 din text-uppercase mb-0"><b>SCOTLAND VS ITALY</b></p>
		          <p class="text-larger din mb-3">2:15PM</p>
		          <p class="mimic-h3 din text-uppercase mb-0"><b>IRELAND VS ENGLAND</b></p>
		          <p class="text-larger din mb-3">4:45PM</p>
		          <p class="din mb-3">BOOK BEFORE 5PM,<br>ALL WALK-INS ACCEPTED AFTER</p>
		          <button type="button" class="btn btn-primary m-auto mt-5" @click="scrollToBookNow()">Book Now</button>
		        </div>
		        <div class="card rugby-card py-4 px-2 text-center">
		          <p class="mimic-h3 din text-uppercase text-primary"><b>Round 2</b></p>
		          <p class="text-larger din">SAT 8TH FEBRUARY</p>
		          <p class="mimic-h3 din text-uppercase mb-0"><b>ITALY VS WALES</b></p>
		          <p class="text-larger din mb-3">2:15PM</p>
		          <p class="mimic-h3 din text-uppercase mb-0"><b>ENGLAND VS FRANCE</b></p>
		          <p class="text-larger din mb-3">4:45PM</p>
				  <div class="break-line mt-2 mb-3"><span class="primary-line"></span></div>
		          <p class="text-larger din">SUN 9TH FEBRUARY</p>
		          <p class="mimic-h3 din text-uppercase mb-0"><b>SCOTLAND VS IRELAND</b></p>
		          <p class="text-larger din mb-3">3:00PM</p>
		          <p class="din mb-3">BOOK BEFORE 5PM,<br>ALL WALK-INS ACCEPTED AFTER</p>
		          <button type="button" class="btn btn-primary m-auto mt-5" @click="scrollToBookNow()">Book Now</button>
		        </div>
		        <div class="card rugby-card py-4 px-2 text-center">
		          <p class="mimic-h3 din text-uppercase text-primary"><b>Round 3</b></p>
		          <p class="text-larger din">SAT 22ND FEBRUARY</p>
		          <p class="mimic-h3 din text-uppercase mb-0"><b>WALES VS IRELAND</b></p>
		          <p class="text-larger din mb-3">2:15PM</p>
		          <p class="mimic-h3 din text-uppercase mb-0"><b>ENGLAND VS SCOTLAND</b></p>
		          <p class="text-larger din mb-0">4:45PM</p>
		          <div class="break-line mt-2 mb-3"><span class="primary-line"></span></div>
		          <p class="text-larger din">SUN 23RD FEBRUARY</p>
		          <p class="mimic-h3 din text-uppercase mb-0"><b>ITALY VS FRANCE</b></p>
		          <p class="text-larger din mb-3">3:00PM</p>
		          <p class="din mb-3">BOOK BEFORE 5PM,<br>ALL WALK-INS ACCEPTED AFTER</p>
		          <button type="button" class="btn btn-primary m-auto mt-5" @click="scrollToBookNow()">Book Now</button>
		        </div>
		        <div class="card rugby-card py-4 px-2 text-center">
		          <p class="mimic-h3 din text-uppercase text-primary"><b>Round 4</b></p>
			        <p class="text-larger din">SAT 8TH MARCH</p>
			        <p class="mimic-h3 din text-uppercase mb-0"><b>IRELAND VS FRANCE</b></p>
			        <p class="text-larger din  mb-4">2:15PM</p>
			        <p class="mimic-h3 din text-uppercase mb-0"><b>SCOTLAND VS WALES</b></p>
		          <p class="text-larger din mb-0">4:45PM</p>
			        <div class="break-line mt-2 mb-3"><span class="primary-line"></span></div>
			        <p class="text-larger din">SUN 9TH MARCH</p>
			        <p class="mimic-h3 din text-uppercase mb-0"><b>ENGLAND VS ITALY</b></p>
			        <p class="text-larger din mb-3">3:00PM</p>
		          <p class="din mb-3">BOOK BEFORE 5PM,<br>ALL WALK-INS ACCEPTED AFTER</p>
		          <button type="button" class="btn btn-primary m-auto mt-5" @click="scrollToBookNow()">Book Now</button>
		        </div>
		        <div class="card rugby-card py-4 px-2 text-center">
		          <p class="mimic-h3 din text-uppercase text-primary"><b>Round 5</b></p>
			        <p class="text-larger din">SAT 15TH MARCH</p>
			        <p class="mimic-h3 din text-uppercase mb-0"><b>ITALY VS IRELAND</b></p>
			        <p class="text-larger din mb-4">2:15PM</p>
			        <p class="mimic-h3 din text-uppercase mb-0"><b>WALES VS ENGLAND</b></p>
			        <p class="text-larger din mb-4">4:45PM</p>
			        <p class="mimic-h3 din text-uppercase mb-0"><b>FRANCE VS SCOTLAND</b></p>
			        <p class="text-larger din mb-5 pb-5">8:00PM</p>
		          <p class="din mb-3">BOOK BEFORE 5PM,<br>ALL WALK-INS ACCEPTED AFTER</p>
		          <button type="button" class="btn btn-primary m-auto mt-5" @click="scrollToBookNow()">Book Now</button>
		        </div>
		      </carousel>
		    </div>
	    </div>
	  </div>
	  <div class="row justify-content-center">
	    <div class="col-lg-4 col-md-6">
	      <div class="card rugby-card py-4 px-2 text-center">
	        <p class="mimic-h3 din text-uppercase text-primary"><b>Round 1</b></p>
          <p class="text-larger din">FRI 31ST JANUARY</p>
          <p class="mimic-h3 din text-uppercase mb-0"><b>FRANCE VS WALES</b></p>
          <p class="text-larger din mb-3">8:15PM</p>
          <div class="break-line mt-2 mb-3"><span class="primary-line"></span></div>
          <p class="text-larger din">SAT 1ST FEBRUARY</p>
          <p class="mimic-h3 din text-uppercase mb-0"><b>SCOTLAND VS ITALY</b></p>
          <p class="text-larger din mb-3">2:15PM</p>
          <p class="mimic-h3 din text-uppercase mb-0"><b>IRELAND VS ENGLAND</b></p>
          <p class="text-larger din mb-3">4:45PM</p>
          <p class="din mb-3">BOOK BEFORE 5PM,<br>ALL WALK-INS ACCEPTED AFTER</p>
	        <button type="button" class="btn btn-primary m-auto mt-5" @click="scrollToBookNow()">Book Now</button>
	      </div>
	    </div>
	    <div class="col-lg-4 col-md-6">
	      <div class="card rugby-card py-4 px-2 text-center">
	        <p class="mimic-h3 din text-uppercase text-primary"><b>Round 2</b></p>
	        <p class="text-larger din">SAT 8TH FEBRUARY</p>
          <p class="mimic-h3 din text-uppercase mb-0"><b>ITALY VS WALES</b></p>
          <p class="text-larger din mb-3">2:15PM</p>
          <p class="mimic-h3 din text-uppercase mb-0"><b>ENGLAND VS FRANCE</b></p>
          <p class="text-larger din mb-3">4:45PM</p>
		  <div class="break-line mt-2 mb-3"><span class="primary-line"></span></div>
          <p class="text-larger din">SUN 9TH FEBRUARY</p>
          <p class="mimic-h3 din text-uppercase mb-0"><b>SCOTLAND VS IRELAND</b></p>
          <p class="text-larger din mb-3">3:00PM</p>
          <p class="din mb-3">BOOK BEFORE 5PM,<br>ALL WALK-INS ACCEPTED AFTER</p>
	        <button type="button" class="btn btn-primary m-auto mt-5" @click="scrollToBookNow()">Book Now</button>
	      </div>
	    </div>
	    <div class="col-lg-4 col-md-6 ipadp-mt-5">
	      <div class="card rugby-card py-4 px-2 text-center">
	        <p class="mimic-h3 din text-uppercase text-primary"><b>Round 3</b></p>
          <p class="text-larger din">SAT 22ND FEBRUARY</p>
          <p class="mimic-h3 din text-uppercase mb-0"><b>WALES VS IRELAND</b></p>
          <p class="text-larger din mb-3">2:15PM</p>
          <p class="mimic-h3 din text-uppercase mb-0"><b>ENGLAND VS SCOTLAND</b></p>
          <p class="text-larger din mb-0">4:45PM</p>
          <div class="break-line mt-2 mb-3"><span class="primary-line"></span></div>
          <p class="text-larger din">SUN 23RD FEBRUARY</p>
          <p class="mimic-h3 din text-uppercase mb-0"><b>ITALY VS FRANCE</b></p>
          <p class="text-larger din mb-3">3:00PM</p>
          <p class="din mb-3">BOOK BEFORE 5PM,<br>ALL WALK-INS ACCEPTED AFTER</p>
	        <button type="button" class="btn btn-primary m-auto mt-5" @click="scrollToBookNow()">Book Now</button>
	      </div>
	    </div>
	    <div class="col-lg-4 col-md-6 mt-5 pt-4">
	      <div class="card rugby-card py-4 px-2 text-center">
	        <p class="mimic-h3 din text-uppercase text-primary"><b>Round 4</b></p>
	        <p class="text-larger din">SAT 8TH MARCH</p>
	        <p class="mimic-h3 din text-uppercase mb-0"><b>IRELAND VS FRANCE</b></p>
	        <p class="text-larger din  mb-4">2:15PM</p>
	        <p class="mimic-h3 din text-uppercase mb-0"><b>SCOTLAND VS WALES</b></p>
          <p class="text-larger din mb-0">4:45PM</p>
	        <div class="break-line mt-2 mb-3"><span class="primary-line"></span></div>
	        <p class="text-larger din">SUN 9TH MARCH</p>
	        <p class="mimic-h3 din text-uppercase mb-0"><b>ENGLAND VS ITALY</b></p>
	        <p class="text-larger din mb-3">3:00PM</p>
	        <p class="din mb-3">BOOK BEFORE 5PM,<br>ALL WALK-INS ACCEPTED AFTER</p>
	        <button type="button" class="btn btn-primary m-auto mt-5" @click="scrollToBookNow()">Book Now</button>
	      </div>
	    </div>
	    <div class="col-lg-4 col-md-6 mt-5 pt-4">
	      <div class="card rugby-card py-4 px-2 text-center">
	        <p class="mimic-h3 din text-uppercase text-primary"><b>Round 5</b></p>
	        <p class="text-larger din">SAT 15TH MARCH</p>
	        <p class="mimic-h3 din text-uppercase mb-0"><b>ITALY VS IRELAND</b></p>
	        <p class="text-larger din mb-4">2:15PM</p>
	        <p class="mimic-h3 din text-uppercase mb-0"><b>WALES VS ENGLAND</b></p>
	        <p class="text-larger din mb-4">4:45PM</p>
	        <p class="mimic-h3 din text-uppercase mb-0"><b>FRANCE VS SCOTLAND</b></p>
	        <p class="text-larger din mb-5 pb-5">8:00PM</p>
	        <p class="din mb-3">BOOK BEFORE 5PM,<br>ALL WALK-INS ACCEPTED AFTER</p>
	        <button type="button" class="btn btn-primary m-auto mt-5" @click="scrollToBookNow()">Book Now</button>
	      </div>
	    </div>
	  </div>
	</div>
</template>
<script>
	import { ref } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	const sixnationscarousel = ref(null);
	export default {
		components: { 
	  	Carousel,
      Slide,
      Pagination,
      Navigation,
	  },
		props: { 
	  	text: String,
	  	bg: String,
	  	lines: String,
	  	food: String,
	  	cocktails: String
	  },
    mounted(){
    	// $(document).ready(function (){
		  //   $(".booknowbtn").click(function (){
		  //     $('html, body').animate({
		  //       scrollTop: $("#bookonline").offset().top -100
		  //     }, 500);
		  //   });
		  // });
    },
    methods:{
    	scrollToBookNow(){
	      var targetElement = document.getElementById("bookonline");
        var offset = 100;
        var targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset;
        window.scrollTo({
          top: targetPosition - offset,
          behavior: 'smooth'
        });
    	}
    }
	}
</script>
<style lang="scss">
	.six-nations-pints-mob{
		position: absolute;
		top: -50px;
		right: 0;
		width: 141px;
		height: 141px;
		z-index: 10;
	}
#six-nations-slider{
	width: 100%;
	max-width: 1110px;
	.rugby-card {
  	position: relative;
	  overflow: hidden;
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible !important;
	}
	.owl-theme{
		.owl-nav{
	    margin-top: 1rem;
	    margin-bottom: -30px;
	    position: absolute;
	    bottom: -4rem;
	    left: calc(50% - 155px);
	    height: 45px;
	    &.disabled{
	    	display: block !important;
	    }
			.owl-prev{
				margin-right: 250px;
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 19px;
				height: 16px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 0;
					background-image: url('$img/icons/pointer-left.svg');
					background-size: contain;
					width: 9px;
					height: 16px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 19px;
				height: 16px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					background-image: url('$img/icons/pointer-right.svg');
					background-size: contain;
					width: 9px;
					height: 16px;
					background-repeat: no-repeat;
				}
			}
		}
		.owl-dots{
		  width: 170px;
	    position: absolute;
	    bottom: -3.5rem;
	    left: calc(50% - 85px);
	    &.disabled{
	    	display: block !important;
	    }
		  .owl-dot{
				span{
					width: 30px;
			    height: 8px;
			    background: transparent;
			    border-radius: 0;
			    margin: 5px 2px;
			    border-top: 2px solid #fff;
			    border-bottom: 2px solid #fff;
				}
				&.active{
					span{
						border-top: 2px solid #ea3525;
			    	border-bottom: 2px solid #ea3525;
					}
				}
			}
		}
	}	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	#six-nations-slider{
		width: 100%;
		.rugby-card{
			width: 100%;
		}
		
	}
}
@media only screen and (max-width : 767px){
	#six-nations-slider{
		width: 100%;
		max-width: 100%;
		.rugby-card{
			padding-bottom: 3rem !important;
			width: calc(100vw - 2rem);
		}
		.owl-theme .owl-dots{
	    margin: auto;
			width: 150px;
    	left: calc(50% - 75px);
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
		.owl-theme .owl-nav{
			margin: auto;
	    width: 100%;
	    bottom: -4rem;
	    left: 0;
	    height: 45px;
			.owl-prev{
				margin-right: 200px;
			}
		}
	}
}
</style>