<template>
	<div id="offers-slider" class="container position-relative container-wide mb-5" v-if="loaded && offers.length > 0">
		<carousel ref="offerscarousel" :mouse-drag="false" :wrapAround="true">
			<slide v-for="(offer, key) in offers" :key="key">
				<div class="offer-slide">
					<card :offer="offer"></card>
				</div>
			</slide>
			<template #addons>
	      <pagination />
	      <navigation />
	    </template>
		</carousel>
		<div class="hide-the-left"></div>
	</div>
</template>
<script>
	import { ref } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	import Card from './Card.vue';
	const offerscarousel = ref(null);
	export default {
		components: { 
	  	Carousel,
      Slide,
      Pagination,
      Navigation,
      Card
	  },
		props: { 
	  	venue: Number,
	  },
	  data() {
	    return {
	      offers: [],
	  		loaded: false,
	    }
	  },
	  mounted(){
	  	this.get();
	  },
    methods:{
    	get() {
        this.loaded = false;
        this.errors = {};
        console.log('/offers/get?venue=' + this.venue);
        axios.get('/offers/get?venue=' + this.venue).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.offers = response.data;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
	      });
	      
	    },
    	scrollToBookNow(){
				$('html, body').animate({
	        scrollTop: $("#bookonline").offset().top -100
	      }, 500);
    	}
    }
	}
</script>
<style lang="scss">
.hide-the-left{
  position: absolute;
  width: 100%;
  height: 120%;
  left: calc(-100% + 5px);
  top: -10%;
  background-color: #141414;
  z-index: 10;
}
.page-armoury{
	.hide-the-left{
		background-color: #002030;
	}
	#offers-slider .owl-theme .owl-dots .owl-dot.active span{
		border-top: 2px solid #9E8255;
		border-bottom: 2px solid #9E8255;
	}
}
#offers-slider{
	width: 100%;
	position: relative;
	z-index: 2;
	.carousel{
    width: 400px;
    margin-left: -15px;
    position: initial;
    z-index: 3;
  }
	.carousel__slide--visible {
    transform: rotateY(0);
  }
  .carousel__viewport {
    overflow: visible;
  }
  .carousel__pagination{
  	overflow: hidden;
  }
	.offer-slide {
  	position: relative;
	  width: 380px;
	  max-width: 380px;
	}
	ol.carousel__track{
		li{
			padding: 0;
			&:before{
				background-color:transparent;
			}
		}
	}
	ol.carousel__pagination{
		li.carousel__pagination-item{
			padding: 0;
			&:before{
				background-color:transparent;
			}
		}
	}
	.carousel__prev{
		margin-right: 250px;
		font-size: 0;
		position: absolute;
  	bottom: -4rem;
  	left: calc(50% - 180px);
  	top: auto;
		color:#1D252D;
		padding: 0;
		width: 19px;
		height: 16px;
		background-color: transparent;
		svg{
			display: none;
		}
		&:after{
			position: absolute;
			content: "";
			right: 0;
			top: 0;
			background-image: url('$img/icons/pointer-left.svg');
			background-size: contain;
			width: 9px;
			height: 16px;
			background-repeat: no-repeat;
		}
	}
	.carousel__next{
		font-size: 0;
		position: absolute;
  	bottom: -4rem;
  	right: calc(50% - 180px);
  	top: auto;
		color:#1D252D;
		padding: 0;
		width: 19px;
		height: 16px;
		background-color: transparent;
		svg{
			display: none;
		}
		&:after{
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			background-image: url('$img/icons/pointer-right.svg');
			background-size: contain;
			width: 9px;
			height: 16px;
			background-repeat: no-repeat;
		}
	}
	.carousel__pagination{
	  width: 206px;
	  padding: 0;
    position: absolute;
    bottom: -5.5rem;
    left: calc(50% - 103px);
    &.disabled{
    	display: block !important;
    }
    .carousel__pagination-item{
    	padding: 0;
    	button.carousel__pagination-button{
				width: 30px;
		    height: 8px;
		    background: transparent;
		    border-radius: 0;
		    margin: 5px 2px;
		    padding: 0;
		    border-top: 2px solid #fff;
		    border-bottom: 2px solid #fff;
				&.carousel__pagination-button--active{
					border-top: 2px solid #D54148;
		    	border-bottom: 2px solid #D54148;
				}
			}
    }
	}	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	#offers-slider{
		width: 100%;
		.offer-slide{
			width: 100%;
			img{
				width: 100% !important;
				height: auto;
			}
		}
		
	}
}
@media only screen and (max-width : 767px){
	#offers-slider{
		width: 100%;
		max-width: 100%;
		.offer-slide{
			width: calc(100vw - 2rem);
			img{
				width: 100% !important;
			}
		}
		.carousel__prev,
		.carousel__next{
			bottom: -3rem;
		}
		.carousel__pagination{
			bottom: -4.5rem;
		}
	}
}
</style>