// Desktop lg
@media only screen and (min-width: 992px) and (max-width : 1199px){
	.lg-pl-5{
		padding-left:3rem;
	}
  body{
    h1{
      &.page-title{
        font-size: 3.5rem;
      }
    }
  }
}

// Desktop
@media only screen and (min-width : 1240px){
	.container-wide{
		max-width: 1200px;
	}
}
@media only screen and (max-width : 1200px){
  .container-wide{
    max-width: 100%;
  }
}
@media only screen and (max-width : 1300px){
  
}

// Desktop
@media only screen and (min-width : 1340px){
	.container-wide{
		max-width: 1300px;
	}
}

// Desktop
@media only screen and (min-width : 1440px){
	.container-wide{
		max-width: 1400px;
	}
}

@media only screen and (max-width : 1500px){
  
}

// Desktop
@media only screen and (min-width : 1540px){
	.container-wide{
		max-width: 1500px;
	}
}
