// iPad in landscape
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.top{
		.top_inner{
			position: absolute;
		    top: 30px;
		    left: 30px;
		    width: calc(100% - 60px);
		    height: calc(100% - 60px);
		}
		.top_bottom{
			.btn-line{
				margin-bottom: 0;
			}
		}
	}
	.burger-beer-top-left {
    top: 230px;
    left: -45px;
    width: 328px;
    height: auto;
    z-index: 0;
	}
	.ipadls-mt-0{
		margin-top: 0 !important;
	}
	.menu-padding.menu-padding-video{
		padding-top: 14rem !important;
	}
	.work-for-us-vid{
		max-height: 500px !important;
	}
	.home-vid{
		max-height:530px !important;
	}
}