// above iPad in portrait
@media only screen and (min-device-width : 769px){

}

// iPad in portrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	body{
		h1{
			&.home-page-top{
		    font-size: 10vw;
		    line-height: 11vw;
			}
			&.ipadp-smaller-h1{
				font-size: 8rem;
			}
		}
	}
	#scroll-menu,
	.menu{
		.menu-links{
			.menu-item{
				&:hover{
			  	box-shadow: none;
				}
			}
		}
	}
	#menu_btn, .menu_btn{
		top: 50px;
    right: 30px;
	}
	#mobile_menu{
		.mobile_menu_inner{
			.menu_item{
				a{
					font-size: 30px;
				}
			}
		}
		.mobile_menu_social{
			bottom: 50px;
			left: 50px;
		}
		.mobile_menu_logo{
			width: 280px;
		}
	}
	#mobile_menu .mobile_menu_inner .menu_item.active a::after{
		top: 18px;
	}
	.mob-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.ipad_p_pr_15{
		padding-right: 15px !important; 
	}
	.ipad_p_mb_5{
		margin-bottom: 3rem !important
	}
	.ipadp-height-auto{
		height: auto !important;
	}
	.ipadp-pr-3{
		padding-right: 1rem !important;
	}
	.ipadp-pl-0{
		padding-left: 0 !important;
	}
	.ipadp-mt-5{
		margin-top: 3rem !important;
	}
	.ipadp-mr-0{
		margin-right: 0 !important;
	}
	.ipadp-mt-3{
		margin-top: 1rem !important;
	}
	.ipadp-mb-5{
		margin-bottom: 3rem !important;
	}
	.ipadp-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.ipadp-py-5{
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
	.ipadp-pt-5{
		padding-top: 3rem !important;
	}
	.ipadp-pr-5{
		padding-right: 3rem !important;
	}
	.ipadp-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.ipadp-pt-0{
		padding-top: 0 !important;
	}
	.ipadp-pb-0{
		padding-bottom: 0 !important;
	}
	.ipadp-mt-0{
		margin-top: 0 !important;
	}
	.ipadp-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.ipadp-mx-w-100{
    max-width: 100%;
  }
	.modal-dialog {
	    max-width: 660px;
	    margin: 1.75rem auto;
	}
	.behind-blue:before{
		bottom: 30px;
	}
	.behind-red:before,
	.behind-yellow:before{
		bottom: 10px;
	}
	.page-top .circle-blue{
    top: calc(50% - -110px);
  }
  .activity-preview{
    width: 100%;
    min-height: 0px;
    .activity-image{
      width: 100%;
      height: auto;
      img{
        width: 100%;
        height: auto;
      }
    }
    .preview-box{
      position:relative;
      width: calc(100vw - 2rem);
      margin-left: 4rem;
      margin-top: -10vw;
      padding-top: 2rem !important;
      p.mimic-h1{
        font-size: 2.5rem;
        width: 100%;
      }
      p.box-title-top{
        font-size: 1.5rem;
      }
      p.activity-summary{
        font-size: 1rem;
      }
    }
    &.odd{
      margin-left: auto;
      margin-right: auto;
      .preview-box{
        left: auto;
        right: auto;
        margin-left: 1rem;
      }
      .activity-image {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .haybale-bg{
		background-position: center;
	}
	.chips-burger-top-right {
    position: absolute;
    top: 31rem;
    right: -5rem;
    width: 320px;
    height: auto;
    z-index: 0;	
	}
	.burger-beer-top-left {
    position: absolute;
    top: 8rem;
    left: 0;
    width: 288px;
    height: auto;
    z-index: 0;
	}
	.six-nations-pints-mob{
		top: -110px !important;
	}
}
// above iPad in portrait
@media only screen and (max-device-width : 768px){
	.below_ipad_p_hide{
		display: none !important;
	}
}