// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  body{
    h1{
      &.page-top{
        font-size: 5rem;
      }
      &.home-page-top{
        font-size: 8vw;
        line-height: 9vw;
      }
      &.page-title{
        font-size: 3.5rem;
      }
      &.ipad-smaller{
        font-size: 3rem;
      }
    }
    p{
      &.text-larger{
        font-size: 1.3rem;
      }
    }
  }
  .bg-fixed{
    background-attachment: none;
  }
  .ipad-overflow-hidden{
    overflow: hidden;
  }
  .ipad-pt-0{
    padding-top: 0 !important;
  }
  .ipad-py-3{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .ipad-py-5{
    padding-top: 3rem !important;
  }
  .ipad-px-3{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .ipad-px-0{ 
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .ipad-mb-3{
    margin-bottom: 1rem !important;
  }
  .ipad-mb-0{
    margin-bottom: 0 !important;
  }
  .ipad-mt-0{
    margin-top: 0 !important;
  }
  .ipad-pr-5{
    padding-right: 3rem !important;
  }
  .ipad-mb-5{
    margin-bottom: 3rem !important;
  }
  .activity-preview{
    min-height: 660px;
    .preview-box{
      padding: 2rem !important;
      top: calc(50% - 220px);
      width: 400px;
      p.mimic-h1{
        font-size: 2.5rem;
        width: 100%;
      }
      p.box-title-top{
        font-size: 1.5rem;
      }
      p.activity-summary{
        font-size: 1rem;
      }
    }
    .activity-image {
      width: 850px;
      img{
        width: 850px;
      }
    }
    &.giftcards-activities{
      .preview-box{
        top: calc(50% - 220px) !important;
      }
    }
  }
  .menu-padding{
    padding-top: 12rem !important;
  }
  .rugby-card{
    min-height: 480px;
    p.mimic-h3 {
      font-size: 2rem;
    }
  }
  .six-nations-pints {
    top: -65px;
    width: 160px;
  }
}