@media only screen and (max-width : 767px){
	.no-webp{
		.mob-bg-market{
			background-image: url('$img/graphics/marketstall-bg.png');
		}
		.home-top-bg{
			background-image: url('$img/home/home-top-bg-mob.jpg');
		}
		.win-or-booze{
			background-size: 200vw !important;
	    background-position: center top;
		}
		.throwback-thursday{
	    background-size: 310vw;
    	background-position: -65vw top;
		}
		.fridays{
			background-size: 162vw;
    	background-position: top center;
		}
		.saturdays{
			background-size: 210vw;
    	background-position: center 26vw;
		}
		.peep-show{
			background-size: 332vw;
    	background-position: top center;
		}
	}
	.webp{
		.mob-bg-market{
			background-image: url('$img/graphics/marketstall-bg.webp');
		}
		.home-top-bg{
			background-image: url('$img/home/home-top-bg-mob.webp');
		}
		.win-or-booze{
			background-size: 200vw !important;
	    background-position: center top;
		}
		.throwback-thursday{
	    background-size: 310vw;
    	background-position: -65vw top;
		}
		.fridays{
			background-size: 162vw;
    	background-position: top center;
		}
		.saturdays{
			background-size: 210vw;
    	background-position: center 26vw;
		}
		.peep-show{
			background-size: 332vw;
    	background-position: top center;
		}
	}
	.vouchers-christmas-bg{
		min-height: 0;
	}
	.christmas-armoury-vouchers{
		margin-top:0;
	}
	.p-haybale{
		top: -68px; 
	}
	body {
		&.throwback-thursday{
			header{
				p.line-height-1{
					line-height: 1.2;
					font-size: 7vw;
				}
				p.mimic-h2{
					font-size: 11vw;
				}
			}
			
		}
		&.boozy-brunch-club{
			background-size: 190vw;
	  	background-position: center 33vw;
		}
		&.peep-show{
			p{
				&.text-largest{
					font-size: 7vw;
				}
			}
		}
		h1{
			font-size: 12vw;
    	line-height: 1;
			&.page-top{
		    font-size: 12vw;
		    line-height: 1;
			}
			&.blog-title{
				font-size: 11vw;
			}
			&.page-title{
				font-size: 18vw;
				&.mob-page-title-smaller{
					font-size: 12vw;
				}
			}
			&.mob-smaller{
				font-size: 10vw;
			}
		}
		h2 {
	    font-size: 9vw;
	    line-height: 1;
		}
		h3{	
	    font-size: 5.5vw;
	    line-height: 1;
		}
		h4{
			font-size: 5.5vw;
		}
		p{
			font-size: 4vw;
			line-height: 1.6;
			&.mimic-h1{
				font-size: 14vw;
    		line-height: 0.9;
			}
			&.mimic-h2{
				font-size: 9vw;
				&.mob-smaller{
					font-size: 9vw;
				}
			}
			&.mimic-h3{
				font-size: 9vw;
			}
			&.text-small{
				font-size: 3.5vw;
				&.mob-text-a-bit-bigger{
					font-size: 4vw;
				}
			}
			&.text-larger{
				font-size: 4.8vw;
				&.mob-text-even-larger{
					font-size: 6.7vw;
				}
			}
			&.text-large {
		    font-size: 4.7vw;
			}
			&.text-smallest{
				font-size: 3vw;
			}
			&.home-title-small{
				font-size: 7vw;
			}
		}
		.christmas .reef-1{
			width: 160px;
		}
		.christmas .full-reef {
	    top: 90px;
	    right: calc(50% - 150px);
		}
	}
	#date{
		-webkit-appearance: textfield;
    -moz-appearance: textfield;
	}
	
	.button-after{
		padding-left: 2rem !important;
	}
	.mob-shadow{
		@include menuBoxShadow();
	}
	.form-control{
		font-size: 16px;
	}
	.bg-fixed{
		background-attachment: initial;
	}
	.mob-overflow-hidden{
		overflow: hidden;
	}
	.menu{
		.menu_logo{
			width: 80vw !important;
		}
		.menu-links{
			.menu-item{
				i{
					font-size: 8vw;
					margin-right: 40px;
				}
			}
		}
	}
	#main-menu-top{
		display: none;
	}
	#scroll-menu{
		.menu_logo{
			width: 35vw !important;
		}
	}
	.scroll-btn{
		left: 1rem;
	}
	.scroll-btn-wrap{
		left: 1rem;
	}
	.mob-bg-cover{
		background-size: cover !important;
	}
	.home-box{
		min-height: 165px;
	}
	.scroller{
		display: none;
	}
	.related-box .related-box-inner h4{
		font-size: 10vw;
		line-height: 10vw;
	}
	.short-height{
		height: 340px;
	}
	.mob-p-0{
		padding: 0 !important;
	}
	.mob-p-3{
		padding: 1rem !important;
	}
	.mob-p-4{
		padding: 1.5rem !important;
	}
	.mob-pl-0{
		padding-left: 0 !important;
	}
	.mob-pl-3{
		padding-left: 1rem !important;
	}
	.mob-pl-4{
		padding-left: 1.5rem !important;
	}
	.mob-pl-5{
		padding-left: 3rem !important;
	}
	.mob-px-0{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.mob-px-1{
		padding-left: 0.75rem !important;
		padding-right: 0.75rem !important;
	}
	.mob-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.mob-px-4{
		padding-left: 1.5rem !important;
		padding-right: 1.5rem !important;
	}
	.mob-px-5{
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}
	.mob-pr-1{
		padding-right: 1rem !important;
	}
	.mob-pr-3{
		padding-right: 1rem !important;
	}
	.mob-pr-4{
		padding-right: 1.5rem !important;
	}
	.mob-pr-5{
		padding-right: 3rem !important;
	}
	.mob-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.mob-py-1{
		padding-top: 0.35rem !important;
		padding-bottom: 0.35rem !important;
	}
	.mob-py-2{
		padding-top: 0.5rem !important;
		padding-bottom: 0.5rem !important;
	}
	.mob-py-3{
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
	.mob-py-4{
		padding-top: 1.5rem !important;
		padding-bottom: 1.5rem !important;
	}
	.mob-py-5{
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
	.mob-pb-0{
		padding-bottom: 0 !important;
	}
	.mob-pb-5{
		padding-bottom: 3rem !important;
	}
	.mob-pt-0{
		padding-top: 0 !important;
	}
	.mob-pt-3{
		padding-top: 1rem !important;
	}
	.mob-pt-4{
		padding-top: 1.5rem !important;
	}
	.mob-pt-5{
		padding-top: 3rem !important;
	}
	.mob-pb-3{
		padding-bottom: 1rem !important;
	}
	.mob-pb-4{
		padding-bottom: 1.5rem !important;
	}
	.mob-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.mob-mx-0{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mob-my-0{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.mob-my-2{
		margin-top: 0.5 !important;
		margin-bottom: 0.5 !important;
	}
	.mob-my-3{
		margin-top: 1rem !important;
		margin-bottom: 1rem !important;
	}
	.mob-my-4{
		margin-top: 2rem !important;
		margin-bottom: 2rem !important;
	}
	.mob-my-45{
		margin-top: 2.5rem !important;
		margin-bottom: 2.5rem !important;
	}
	.mob-mb-0{
		margin-bottom: 0 !important;
	}
	.mob-mb-1{
		margin-bottom: 0.5rem !important;
	}
	.mob-mb-2{
		margin-bottom: 0.75rem !important;
	}
	.mob-mb-3{
		margin-bottom: 1rem !important;
	}
	.mob-mb-4{
		margin-bottom: 1.5rem !important;
	}
	.mob-mb-5{
		margin-bottom: 3rem !important;
	}
	.mob-mt-0{
		margin-top: 0 !important;
	}
	.mob-mt-2{
		margin-top: 0.5rem !important;
	}
	.mob-mt-3{
		margin-top: 1rem !important;
	}
	.mob-mt-4{
		margin-top: 2.3rem !important;
	}
	.mob-mt-5{
		margin-top: 3rem !important;
	}
	.mob-m-auto{
		margin: auto !important;
	}
	.mob-float-left{
		float: left !important;
	}
	.mob-float-none{
		float: none !important;
	}
	.mob-height-auto{
		height: auto !important;
	}
	.mob-btn-full{
		width: 100% !important;
		max-width: 100% !important;
	}
	.mob-text-center{
		text-align: center !important;
	}
	.btn-inline{
		max-width: 115px;
	}

	.line{
		&.mob-line-center{
			span{
				float: none !important;
				margin: auto !important;
			}
		}
	}
  input.form-control{
		height: 50px;
	}
	.g-recaptcha{
		margin-left: calc(50% - 117px);
	}
	.btn{
    max-width: 220px;
    min-width: 220px;
    padding: 10px 15px;
    height: 50px;
    font-size: 16px;
    &.btn-icon{
    	i{
    		font-size: 16px;
    		top: 17px !important;
    		&.custom-icon{
    			width: 1rem;
    			height: 1rem;
    			top: 19px !important;
    			&.chevron-double-up,
    			&.chevron-double-down,
    			&.chevron-double-up-white,
    			&.chevron-double-down-white{
    				top: 17px !important;
    			}
    		}
    	}
    	img.custom-icon {
		    width: 1rem;
		    height: 1rem;
		    top: 18px !important;
			}
			&:hover,
			&:focus{
				i{
	    		font-size: 18px;
	    		top: 17px !important;
	    		&.custom-icon{
	    			width: 1rem;
	    			height: 1rem;
	    			top: 19px !important;
	    			&.chevron-double-up,
	    			&.chevron-double-down,
	    			&.chevron-double-up-white,
	    			&.chevron-double-down-white{
	    				top: 17px !important;
	    			}
	    		}
	    	}
	    	img.custom-icon {
			    width: 1rem;
			    height: 1rem;
			    top: 18px !important;
				}
			}
    }
	}
	.burger-beer-top-left{
    top: 36vw;
    left: -10vw;
    width: 50vw;
    height: auto;
    z-index: 0;
	}
	.chips-burger-top-right{
		top: 82vw;
    right: -5rem;
    width: 250px;
   	height: auto;
    z-index: 0;
	}
	.haybale-bg,
	.stocking-bg{
		background-position: center;
	}
	.courtyard-text-home{
		min-height: 103px;
	}
	.haybale-bg{
		background-image: none !important;
	}
	#midweekModal{
		.carousel-control-prev {
		  left: -10px;
		}
		.carousel-control-next {
		  right: -10px;
		}
		.carousel-indicators{
			bottom: -80px;
		}
	}
	body.six-nations header p.mimic-h1{
		font-size: 21vw;
	}
	body.six-nations header p.mimic-h2{
		font-size: 8.5vw;
	}
	.six-nations-logos{
		width: 100% !important;
	}
	body.six-nations{
		 h1.page-title{
		 	font-size: 12vw;
		 }
	}
	.top-logo{
		width: 80vw;
	}
	.header-top-logo{
		max-width: 80vw;
	}
	.home-venue{
		height: auto;
		.venue-details{
			height: auto;
			padding-top: 3rem;
			padding-bottom: 3rem;
			.venue-details-inner{
				img{
					max-width: 50vw;
				}
			}
		}
	}
	.logo-lines .logo-lines-left{
		height: 820px;
	}
	.logo-lines .logo-lines-right{
		height: 820px;
	}
	.venue-top{
		max-width: 100%;
		left: 0;
		padding: 0 2rem;
		img{
			max-width: 95%;
		}
	}
	.new-home-top{
		max-width: 100%;
		left: 0;
		padding: 0 1rem;
		img{
			max-width: 90% !important;
		}
	}
	.venue-top-no-vid{
		padding-top: 0;
		min-height: 0;
		img{
			max-width: 95%;
		}
	}
	.venue-offers{
		margin-top: 0;
		.armoury-option{
			.card{
				min-height: 0;
			}
		}
	}
	.home-venues{
		margin-top: 0px;
	}
	.home-vid{
		height: 545px;
	}
}