<template>
	<div>
		<div id="main-menu" class="menu">
      <div class="container container-wide px-4 mob-px-3 ipadp-px-3">
        <div class="row justify-content-center">
          <div class="col-lg-2 pt-4 mt-2 mob-pt-0  ipad-py-3 text-left">
            <div class="menu-links d-inline-block" style="min-height:32px;">
              <a href="https://www.facebook.com/HaymarketBelfast" class="cursor-pointer ml-0" target="_blank" aria-label="Facebook" rel="noreferrer"><i class="fa fa-facebook ml-0"></i></a>
              <a href="https://www.instagram.com/haymarketbelfast" class="cursor-pointer" target="_blank" aria-label="Instagram" rel="noreferrer"><i class="fa fa-instagram ml-3"></i></a>
              <a href="https://www.tiktok.com/discover/haymarket-belfast" target="_blank" rel="noreferrer" aria-label="TikTok"><i class="fa-brands fa-tiktok ml-3"></i></a>
              <a href="mailto:info@haymarketbelfast.com" class="cursor-pointer" target="_blank" aria-label="Email"><i class="fa fa-envelope ml-3"></i></a>
              <!-- <a href="/" class="menu-item cursor-pointer ml-0"><i class="fa fa-home ml-3"></i></a> -->
            </div>
          </div>
          <div class="col-lg-8 text-center mt-3 py-3 d-none d-lg-block">
            <div class="menu-links d-inline-block">
              <a href="/" class="menu-item cursor-pointer ml-0">Home</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/offers" class="menu-item cursor-pointer">Offers</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/parties" class="menu-item cursor-pointer">Private Hire</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/six-nations" class="menu-item cursor-pointer">Six Nations</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/contact" class="menu-item cursor-pointer">Contact</a>
            </div>
          </div>
          <div class="col-lg-2 pt-4 mt-2 text-right d-none d-lg-block">
            <div class="menu-links d-inline-block">
              <span class="menu-item cursor-pointer booknowbtn" v-if="pagename == 'courtyard'">
                <button class="btn btn-primary btn-small">Book Now</button>
              </span>
              <span class="menu-item cursor-pointer" v-else-if="pagename == 'armoury'">
                <a href="https://ecom.roller.app/haymarketbelfast/testarmoury/en/products" target="_blank">
                  <button class="btn btn-primary btn-small">Book Now</button>
                </a>
              </span>
              <a href="/the-courtyard/#bookonline" class="menu-item cursor-pointer" v-else>
                <button class="btn btn-primary btn-small">Book Now</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
		<div id="scroll-menu" class="menu d-none d-lg-block" :class="{'bg-xmas':(pagetype === 'christmas')}">
      <div class="container-fluid px-4">
        <div class="row">
          <div class="col-lg-2 pt-3 ipad-py-3 text-left">
            <div class="menu-links d-inline-block" style="min-height:32px;">
              <a href="https://www.facebook.com/HaymarketBelfast" class="cursor-pointer" target="_blank" aria-label="Facebook" rel="noreferrer"><i class="fa fa-facebook ml-0"></i></a>
              <a href="https://www.instagram.com/haymarketbelfast" class="cursor-pointer" target="_blank" aria-label="Instagram" rel="noreferrer"><i class="fa fa-instagram ml-3"></i></a>
              <a href="https://www.tiktok.com/discover/haymarket-belfast" target="_blank" rel="noreferrer" aria-label="TikTok"><i class="fa-brands fa-tiktok ml-3"></i></a>
              <a href="mailto:info@haymarketbelfast.com" class="cursor-pointer" target="_blank" aria-label="Email"><i class="fa fa-envelope ml-3"></i></a>
              <!-- <a href="/" class="menu-item cursor-pointer ml-0"><i class="fa fa-home ml-3"></i></a> -->
            </div>
          </div>
          <div class="col-lg-8 text-center d-none d-lg-block py-3">
            <div class="menu-links d-inline-block">
              <a href="/" class="menu-item cursor-pointer ml-0">Home</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/offers" class="menu-item cursor-pointer">Offers</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/parties" class="menu-item cursor-pointer">Private Hire</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/six-nations" class="menu-item cursor-pointer">Six Nations</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/contact" class="menu-item cursor-pointer">Contact</a>
            </div>
          </div>
          <div class="col-lg-2 pt-3 text-right">
            <div class="menu-links d-inline-block">
              <span class="menu-item cursor-pointer booknowbtn" v-if="pagename == 'courtyard'">
                <button class="btn btn-primary btn-small">Book Now</button>
              </span>
              <span class="menu-item cursor-pointer" v-else-if="pagename == 'armoury'">
                <a href="https://ecom.roller.app/haymarketbelfast/testarmoury/en/products" target="_blank">
                  <button class="btn btn-primary btn-small">Book Now</button>
                </a>
              </span>
              <a href="/the-courtyard/#bookonline" class="menu-item cursor-pointer" v-else>
                <button class="btn btn-primary btn-small">Book Now</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props:{
      pagetype: String,
      pagename: String,
    },
  }
  document.addEventListener('DOMContentLoaded', function() {
    var booknowbtns = document.querySelectorAll('.booknowbtn');
    booknowbtns.forEach(function(button) {
        button.addEventListener('click', function() {
            var midweekModal = document.getElementById('midweekModal');
            if (midweekModal) {
                midweekModal.classList.remove('show');
                midweekModal.classList.remove('fade');
                midweekModal.setAttribute('aria-modal', 'false');
                midweekModal.style.display = 'none';
            }
            var bookonline = document.getElementById('bookonline');
            if (bookonline) {
                var offsetTop = bookonline.offsetTop - 100;
                window.scrollTo({
                    top: offsetTop,
                    behavior: 'smooth'
                });
            }
        });
    });
});
</script>
<style lang="scss">
$primary: #D54148; 
$darkgrey: #1b1b1d;
$white: #fff;
$title: aw-conqueror-inline, sans-serif;
$body: macho, sans-serif;
@mixin menuBoxShadow(){
  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
}
.menu-holder{
  position: relative;
  z-index: 100;
}
.menu-padding{
  padding-top: 20.6rem !important;
}
#menu-trigger{
  position: absolute;
  top: 110vh;
  left: 0;
  width: 1px;
  height: 1px;
}
#main-menu-top{
  z-index: 250;
}
#main-menu{
  position: absolute;
  top: 0;
  left: 0;
}
.btn-small{
  width: 130px !important;
  height: 35px !important;
  font-size: 14px !important;
  padding: 0;
}
.menu{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  .menu_logo{
    width: 388px;
    &.menu_logo_normal{
      width: 388px;
    }
  }
  .menu-links{
    .christmas-dropdown-hover{
      min-height: 41px;
      position: relative;
      &:before{
        content: "";
        position:absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      .christmas-dropdown{
        position: absolute;
        top: -500px;
        left: 0;
        width: 210px;
        background-color: #262624;
        text-align: left;
        padding: 1rem;
        z-index: 1;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease ;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        @include menuBoxShadow();
        .menu-item{
          margin-left: 0;
          margin-bottom: 10px;
          cursor: pointer;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          &:last-of-type{
            margin-bottom: 0;
          }
        }
        a{
          color: #fff;
          cursor: pointer;
          font-family: $body;
          font-weight: 500;
          border-radius: 0;
          display: inline-block;
          margin-bottom: 0.5rem;
          &:hover{
            color: #d54148;
          }
        }
      }
      &:hover{
        .christmas-dropdown{
          top: 40px;
        }
      }
      &.longer{
        .christmas-dropdown{
          width: 225px;
        }
      }
    }
    .menu-item{
      display: inline-block;
      margin-left: 3rem;
      cursor: pointer;
      color: $white;
      font-family: $title;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1.25rem;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease ;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      a{
        color: $white;
        &:hover{
          color: $primary;
        }
      }
      i{
        font-size: 1.05rem;
        margin-left: 1rem;
        color: $white !important;
        &:hover{
          color: $primary !important;
        }
      }
      &:hover,
      &.active{
        color: $primary !important;
      }
    }
    a{
      color: $white;
      &:hover{
        color: $primary;
      }
      &:first-of-type{
        margin-left: 3rem; 
      }
    }
    i{
      font-size: 1.05rem;
      margin-left: 1rem;
      color: $white !important;
      &:hover{
        color: $primary !important;
      }
      &:first-of-type{
        margin-left: 0; 
      }
    }
  }
  &.opacity{
    opacity: 0;
  }
}
#scroll-menu{
  background-color: $darkgrey;
  position: fixed;
  top: -500px;
  left: 0;
  z-index: 200;
  width: 100%;
  @include menuBoxShadow();
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  &.on{
    top: 0;
  }
}

.boozy-brunch-club{
  .menu{
    .menu-links{
      .menu-item{
        color: #000;
      }
      i{
        color: #000 !important;
      }
    }
  }
  #scroll-menu{
    background-color: #c74d48;
    .menu-links{
      .menu-item{
        color: #000;
      }
      i{
        color: #000 !important;
      }
    }
  }
}
.bottomless-brunch{
  .menu{
    .menu-links{
      .menu-item{
        color: #fff;
      }
      i{
        color: #fff !important;
      }
    }
    .btn{
      background-color: #f14e12;
    }
  }
  #scroll-menu{
    background-color: #f29a30;
    .menu-links{
      .menu-item{
        color: #000;
      }
      i{
        color: #000 !important;
      }
    }
    .btn{
      background-color: #f14e12;
    }
  }
}
.vouchers-page{
  .menu{
    .menu-links{
      .menu-item{
        color: #fff;
      }
      i{
        color: #fff !important;
      }
    }
  }
  #scroll-menu{
    background-color: #b53131;
    .menu-links{
      .menu-item{
        color: #fff;
      }
      i{
        color: #fff !important;
      }
    }
  }
}
.win-or-booze{
  .menu{
    .menu-links{
      .menu-item{
        color: #fff;
      }
      i{
        color: #fff !important;
      }
    }
  }
  #scroll-menu{
    background-color: #000;
    .menu-links{
      .menu-item{
        color: #fff;
      }
      i{
        color: #fff !important;
      }
    }
  }
}
.six-nations{
  .menu{
    .menu-links{
      .menu-item{
        color: #fff;
      }
      i{
        color: #fff !important;
      }
    }
  }
  #scroll-menu{
    background-color: #000;
    .menu-links{
      .menu-item{
        color: #fff;
      }
      i{
        color: #fff !important;
      }
    }
  }
}
@media only screen and (max-width : 1230px){
  .menu .menu-links .menu-item{
    margin-left: 1.5rem;
    font-size: 0.9rem;
  }
}
// iPad in landscape
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .menu-padding {
    padding-top: 12rem !important;
  }
}
// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  #scroll-menu,
  .menu{
    .menu-links{
      .menu-item{
        &:hover{
          box-shadow: none;
        }
      }
    }
    .menu_logo {
      width: 270px;
      margin-top: 15px !important;
    }
  }
  #menu_btn{
    display: block;
  }
  .map-container{
    height: 400px !important;
    #contactmap{
      height: 400px !important;
    }
  }
}
// iPad in portrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .menu-padding {
      padding-top: 9rem !important;
  }
}
// Phones
@media only screen and (max-width : 767px){
  .menu-padding{
    padding-top: 11rem !important;
  }
}
</style>