<template>
	<div class="mobile-menu-holder d-lg-none">
		<div id="menu_btn" :class="'menu_btn d-lg-none '+pagetype"><div class="nav-icon"><span></span><span></span><span></span></div></div>
		<div id="mobile-menu" class="mobile-menu">
		  <div class="container-fluid px-3">
		   	<div class="row">
			    <div class="col-12 text-center pt-5">
			    	<a href="/">
				      <img src="/img/logos/logo.svg" class="menu_logo mt-2 ipadp-mb-5 h-auto" width="250" height="94" alt="Haymarket Belfast Logo"/>
				    </a>
			      <div class="menu-links d-block pt-4">
			      	<div class="pre-title-lines mx-auto mb-4 ipadp-mb-5"></div>
			      	<p class="mb-0"><a href="/" class="menu-item">Home</a></p>
			        <p class="mb-0"><a href="/offers" class="menu-item">Offers</a></p>
			        <p class="mb-0"><a href="/parties" class="menu-item">Private Hire</a></p>
							<p class="mb-0"><a href="/six-nations" class="menu-item">Six Nations</a></p>
			        <!-- <p class="mb-0"><a href="/vouchers" class="menu-item">Vouchers</a></p> -->
			        <p class="mb-0 ipadp-mb-5"><a href="/contact" class="menu-item">Contact</a></p>
			        <div v-if="pagename == 'armoury'"><span class="menu-item close-menu-booknow"><a href="https://ecom.roller.app/haymarketbelfast/testarmoury/en/products" target="_blank"><button type="button" class="btn btn-primary my-3">Book Now</button></a></span></div>
			        <div v-else-if="pagename == 'courtyard'"><span class="menu-item close-menu-booknow" @click="scrollto"><button type="button" class="btn btn-primary my-3">Book Now</button></span></div>
			        <div v-else><a href="/the-courtyard/#bookonline" class="menu-item"><button type="button" class="btn btn-primary my-3">Book Now</button></a></div>
			        <p class="mb-0 text-small line-height-1"><a href="tel:02896923061" class="menu-item-other mb-3">028 96 923 061</a></p>
              <p class="mb-0 text-small"><a href="mailto:info@haymarketbelfast.com" class="menu-item-other">info@haymarketbelfast.com</a></p>
			        <p class="mb-0 text-large mt-3">
			          <a href="https://www.facebook.com/HaymarketBelfast" class="text-white" target="_blank" rel="noreferrer" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
			          <a href="http://www.instagram.com/haymarketbelfast" class="text-white" target="_blank" rel="noreferrer" aria-label="Instagram"><i class="fa fa-instagram ml-3"></i></a>
			        </p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props:{
      pagetype: String,
      pagename: String,
    },
		mounted(){
			document.getElementById('menu_btn').addEventListener('click', function() {
			    document.querySelector("#menu_btn .nav-icon").classList.toggle('nav_open');
			    document.getElementById("mobile-menu").classList.toggle("on");
			    document.getElementById("menu").classList.toggle("on");
			    document.getElementById("menu_body_hide").classList.toggle("on");
			    document.getElementById("content").classList.toggle("opacity");
			    document.querySelectorAll(".menu").forEach(function(menu) {
			        menu.classList.toggle("opacity");
			    });
			});

			document.querySelectorAll('.close-menu-booknow').forEach(function(btn) {
			    btn.addEventListener('click', function() {
			        document.querySelector("#menu_btn .nav-icon").classList.toggle('nav_open');
			        document.getElementById("mobile-menu").classList.toggle("on");
			        document.getElementById("menu").classList.toggle("on");
			        document.getElementById("menu_body_hide").classList.toggle("on");
			        document.getElementById("content").classList.toggle("opacity");
			        document.querySelectorAll(".menu").forEach(function(menu) {
			            menu.classList.toggle("opacity");
			        });
			        window.scrollTo({
			            top: document.getElementById("bookonline").offsetTop - 100,
			            behavior: 'smooth'
			        });
			    });
			});

		},
		methods:{
			scrollto(){
				var targetElement = document.getElementById("bookonline");
	      var offset = 100;
	      var targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset;
	      window.scrollTo({
	        top: targetPosition - offset,
	        behavior: 'smooth'
	      });
			}
		}
	}
</script>
<style lang="scss">
	.close-menu{
		cursor: pointer;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		max-width: 20px;
		&:hover{
			transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
		}
	}

	#menu_body_hide{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #D54148;
		display: table;
		opacity: 0;
		z-index: -1;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		&.on{
			opacity: 0.95;
			z-index: 220;
		}
	}
	.mobile-menu-holder{
		position: fixed;
		top: 0;
		right: -150vw;
		z-index: 10000;
	}
	.mobile-menu{
		position: fixed;
		top: 0;
		right: -150vw;
		width: 90%;
		height: 100vh;
		background-color: #262624;
		color: #fff;
		z-index: 1000;
		-webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
	  .menu_logo{
	  	width: 50vw;
	  }
	  .btn-primary{
	  	background-color: #D54148 !important;
	  }
	  .menu-dropdown-holder{
      .menu-dropdown-trigger{

      }
      .menu-dropdown{
        position: absolute;
        top: 5rem;
        left: 1000px;
        width: calc(100% + 3rem);
        height: calc(100vh - 5rem);
        background-color: #1D252D;
        text-align: left;
        padding: 1rem;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease ;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
        -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
        box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4)  !important;
        a{
          color: #fff;
          font-size: 4vw;
          cursor: pointer;
          font-family:  macho, sans-serif;
          font-weight: 600;
          display: inline-block;
          margin-bottom: 0.5rem;
          &:hover{
            color: #F6CF3C;
          }
        }
        .close-waiver-menu{
          color: #F6CF3C;
          cursor: pointer;
          font-family:  macho, sans-serif;
          font-weight: 600;
          display: inline-block;
          margin-bottom: 0.5rem;
        }
        &.active{
          left: 0;
        }
      } 
    }
		.menu-links{
			.menu-item{
				display: block;
				cursor: pointer;
				color: #fff;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 4.5vw !important;
				margin-bottom: 0.75rem !important;
				display: inline-block;
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
				a{
					color: #fff;
					&:hover{
						color: #F6CF3C;
					}
				}
				i{
					font-size: 1.2rem;
					margin-left: 10px;
				}
			}
			.menu-item-other{
				display: block;
				cursor: pointer;
				color: #fff;
				font-weight: 500;
				font-size: 4vw;;
				display: inline-block;
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
				a{
					color: #fff;
					&:hover{
						color: #F6CF3C;
					}
				}
				i{
					font-size: 1.2rem;
					margin-left: 10px;
				}
			}
		}

		&.on{
			right: 0;
		}
	}
	#menu_btn,
	.menu_btn{
		position: fixed;
	  top: 0.5rem;
	  right: 0.5rem;
		z-index: 1100;
		cursor: pointer;
		display: inline-block;
	  width: 45px;
	  height: 45px;
	  padding: 12px 7px;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
	  &.boozy-brunch-club{
	  	.nav-icon {
	  		span {
	  			background: #000;
	  		}
	  	}
	  }
	  &.win-or-booze,
	  &.throwback-thursday,
	  &.fridays,
	  &.saturdays,
	  &.peep-show,
	  &.six-nations{
	  	background: none;
	  }
	.nav-icon {
			width: 30px;
			height: 30px;
			position: relative;
			z-index: 110;
			cursor: pointer;
			-webkit-transition: all 300ms ease;
		  -moz-transition: all 300ms ease ;
		  -o-transition: all 300ms ease;
		  transition: all 300ms ease;
			span {
				display: block;
				position: absolute;
				border-radius: 0;
				height: 3px;
				width: 100%;
				background: #fff;
				opacity: 1;
				right: 0;
				cursor: pointer;
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
			  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
				-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
				box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
			}
			span:nth-child(1) {
				top: 0px;
			}
			span:nth-child(2) {
				top: 9px; 
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
			}
			span:nth-child(3) {
				top: 18px; 
				width: 60%;
			}
			&.nav_open{
				span {
					border-radius: 10px;
					background: #fff;
				}
				span:nth-child(1) {
					top: 9px !important;
					-webkit-transform: rotate(135deg) !important;
					-moz-transform: rotate(135deg) !important;
					-o-transform: rotate(135deg) !important;
					transform: rotate(135deg) !important; 
				}
				span:nth-child(2) {
					opacity: 0 !important;
					left: 20vw !important; 
				}
				span:nth-child(3) {
					width: 100%;
					top: 9px !important;
					-webkit-transform: rotate(-135deg) !important;
					-moz-transform: rotate(-135deg) !important;
					-o-transform: rotate(-135deg) !important;
					transform: rotate(-135deg) !important; 
				}
			}
		}
		&:hover{
			.nav-icon{
				span:nth-child(3) {
					width: 100%;
				}
			}
		}
		&.on{
			background-color: #e83e8c;
		}
		&.dark{
			.nav-icon {
				span {
					background: #F6CF3C;
				}
			}
		}
	}
	@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    .mobile-menu .menu-dropdown-holder .menu-dropdown a{
    	font-size: 1.1rem;
    }
    .mobile-menu{
    	.menu-links{
    		.menu-item{
    			font-size: 1.5rem !important;
    		}
    		.menu-item-other{
    			font-size: 1.2rem !important;
    		}
    	}
    }
  }
	@media only screen and (max-width : 320px){
		.mobile-menu{
			width: 320px;
			.menu_logo{
				margin-top: -20px !important;
			}
		}
	}
</style>